@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
    url('#{$font-prefix}/fonts/Mono/web/woff2/IBMPlexMono-Regular-Latin1.woff2')
      format('woff2'),
    url('#{$font-prefix}/fonts/Mono/web/woff/IBMPlexMono-Regular-Latin1.woff')
      format('woff');
  unicode-range: 'U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2212, U+FB01-FB02';
}
