@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold Italic'),
    local('IBMPlexSans-SemiBoldItalic'),
    url('#{$font-prefix}/fonts/Sans/web/woff2/IBMPlexSans-SemiBoldItalic-Latin3.woff2')
      format('woff2'),
    url('#{$font-prefix}/fonts/Sans/web/woff/IBMPlexSans-SemiBoldItalic-Latin3.woff')
      format('woff');
  unicode-range: 'U+0102-0103, U+1EA0-1EF9, U+20AB';
}
