<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_dvDA</key>
	<array>
		<string>dvI</string>
		<string>dvTTA</string>
		<string>dvTTHA</string>
		<string>dvDDA</string>
		<string>dvDDHA</string>
		<string>dvDA</string>
		<string>dvDDxA</string>
		<string>dvDDHxA</string>
		<string>dvTT</string>
		<string>dvTTH</string>
		<string>dvDD</string>
		<string>dvDDH</string>
		<string>dvD</string>
		<string>dvD_R</string>
		<string>dvK_DA</string>
		<string>dvG_DA</string>
		<string>dvJ_DA</string>
		<string>dvD_GA</string>
		<string>dvD_G_RA</string>
		<string>dvD_GHA</string>
		<string>dvD_DA</string>
		<string>dvD_DHA</string>
		<string>dvD_NA</string>
		<string>dvD_BA</string>
		<string>dvD_B_RA</string>
		<string>dvD_BHA</string>
		<string>dvD_VA</string>
		<string>dvN_DA</string>
		<string>dvN_D_RA</string>
		<string>dvN_D_VA</string>
		<string>dvB_DA</string>
		<string>dvM_DA</string>
		<string>dvL_DA</string>
		<string>dvL_D_RA</string>
		<string>dvS_DA</string>
		<string>dvDDxA.mU</string>
		<string>dvDDHxA.mU</string>
	</array>
	<key>@MMK_L_dvE</key>
	<array>
		<string>dvE</string>
		<string>dvAI</string>
		<string>dvEcandra</string>
		<string>dvEshort</string>
	</array>
	<key>@MMK_L_dvHA</key>
	<array>
		<string>dvHA</string>
		<string>dvN_HA</string>
		<string>dvH_NNA</string>
		<string>dvH_NA</string>
		<string>dvH_LA</string>
		<string>dvH_VA</string>
		<string>dvHA_mU</string>
		<string>dvHA_mUU</string>
		<string>dvHA_mvR</string>
	</array>
	<key>@MMK_L_dvKA</key>
	<array>
		<string>dvUU</string>
		<string>dvKA</string>
		<string>dvCHA</string>
		<string>dvPHA</string>
		<string>dvKxA</string>
		<string>dvPHxA</string>
		<string>dvCH</string>
		<string>dvK_RA</string>
		<string>dvPH_RA</string>
		<string>dvKx_RA</string>
		<string>dvPHx_RA</string>
		<string>dvK_KA</string>
		<string>dvKx_KxA</string>
		<string>dvK_CHA</string>
		<string>dvK_TA</string>
		<string>dvK_NA</string>
		<string>dvKx_NA</string>
		<string>dvC_CHA</string>
		<string>dvC_CH_VA</string>
		<string>dvCH_VA</string>
		<string>dvJ_KA</string>
		<string>dvNY_CHA</string>
		<string>dvT_KA</string>
		<string>dvT_K_RA</string>
		<string>dvT_PHA</string>
		<string>dvN_KA</string>
		<string>dvN_CHA</string>
		<string>dvN_PHA</string>
		<string>dvN_PH_RA</string>
		<string>dvPH_NA</string>
		<string>dvPHx_NA</string>
		<string>dvPH_PHA</string>
		<string>dvPHx_PHxA</string>
		<string>dvL_KA</string>
		<string>dvL_PHA</string>
		<string>dvSH_KA</string>
		<string>dvSH_KxA</string>
		<string>dvSH_CHA</string>
		<string>dvSS_PHA</string>
		<string>dvS_KA</string>
		<string>dvS_K_RA</string>
		<string>dvS_PHA</string>
		<string>dvRA_mU</string>
		<string>dvRA_mUU</string>
	</array>
	<key>@MMK_L_dvRA</key>
	<array>
		<string>dvRA</string>
		<string>dvRxA</string>
	</array>
	<key>@MMK_L_dvTT_TTA</key>
	<array>
		<string>dvNG_KA</string>
		<string>dvNG_GA</string>
		<string>dvNG_MA</string>
		<string>dvTT_TTA</string>
		<string>dvTT_TTHA</string>
		<string>dvTT_VA</string>
		<string>dvTT_SA</string>
		<string>dvTTH_TTHA</string>
		<string>dvTTH_VA</string>
		<string>dvDD_GA</string>
		<string>dvDD_DDA</string>
		<string>dvDD_DDHA</string>
		<string>dvDD_VA</string>
		<string>dvDD_SA</string>
		<string>dvDDH_DDHA</string>
		<string>dvDDH_VA</string>
		<string>dvSS_TTA</string>
		<string>dvSS_TT_VA</string>
		<string>dvSS_TTHA</string>
	</array>
	<key>@MMK_L_dvhalf</key>
	<array>
		<string>dvK</string>
		<string>dvKH</string>
		<string>dvG</string>
		<string>dvGH</string>
		<string>dvC</string>
		<string>dvJ</string>
		<string>dvJH</string>
		<string>dvNY</string>
		<string>dvNN</string>
		<string>dvT</string>
		<string>dvTH</string>
		<string>dvDH</string>
		<string>dvN</string>
		<string>dvP</string>
		<string>dvPH</string>
		<string>dvB</string>
		<string>dvBH</string>
		<string>dvM</string>
		<string>dvY</string>
		<string>dvEyelash</string>
		<string>dvL</string>
		<string>dvV</string>
		<string>dvSH</string>
		<string>dvSS</string>
		<string>dvS</string>
		<string>dvH</string>
		<string>dvLL</string>
		<string>dvK_SS</string>
		<string>dvJ_NY</string>
		<string>dvKx</string>
		<string>dvKHx</string>
		<string>dvGx</string>
		<string>dvJx</string>
		<string>dvNx</string>
		<string>dvPHx</string>
		<string>dvYx</string>
		<string>dvLLx</string>
		<string>dvK_R</string>
		<string>dvKH_R</string>
		<string>dvG_R</string>
		<string>dvGH_R</string>
		<string>dvC_R</string>
		<string>dvJ_R</string>
		<string>dvJH_R</string>
		<string>dvNY_R</string>
		<string>dvNN_R</string>
		<string>dvT_R</string>
		<string>dvTH_R</string>
		<string>dvDH_R</string>
		<string>dvN_R</string>
		<string>dvP_R</string>
		<string>dvPH_R</string>
		<string>dvB_R</string>
		<string>dvBH_R</string>
		<string>dvM_R</string>
		<string>dvY_R</string>
		<string>dvL_R</string>
		<string>dvV_R</string>
		<string>dvSH_R</string>
		<string>dvSS_R</string>
		<string>dvS_R</string>
		<string>dvK_SS_R</string>
		<string>dvJ_NY_R</string>
		<string>dvKx_R</string>
		<string>dvKHx_R</string>
		<string>dvGx_R</string>
		<string>dvJx_R</string>
		<string>dvPHx_R</string>
		<string>dvK_S</string>
		<string>dvG_N</string>
		<string>dvC_C</string>
		<string>dvJ_J</string>
		<string>dvT_T</string>
		<string>dvT_M</string>
		<string>dvT_S</string>
		<string>dvN_T_R</string>
		<string>dvN_DH</string>
		<string>dvN_S</string>
		<string>dvP_C</string>
		<string>dvL_BH</string>
		<string>dvS_TH</string>
		<string>dvT.alt</string>
	</array>
	<key>@MMK_L_dvperiod</key>
	<array>
		<string>period.deva</string>
		<string>comma.deva</string>
	</array>
	<key>@MMK_L_greek_uc_Alpha</key>
	<array>
		<string>Delta</string>
	</array>
	<key>@MMK_L_greek_uc_Omega</key>
	<array>
		<string>Omega</string>
	</array>
	<key>@MMK_L_inp_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_inp_foot</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_inp_guill</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_inp_guilr</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_L_inp_hyph</key>
	<array>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_L_inp_parenth</key>
	<array>
		<string>bracketleft</string>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_inp_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_inp_quotel</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_L_inp_quoter</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_lc_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_lc_b</key>
	<array>
		<string>b</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_lc_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_lc_e</key>
	<array>
		<string>e</string>
		<string>ae</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_lc_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_lc_g</key>
	<array>
		<string>g</string>
		<string>g.alt02</string>
	</array>
	<key>@MMK_L_lc_i</key>
	<array>
		<string>i</string>
		<string>fi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>@MMK_L_lc_j</key>
	<array>
		<string>g.alt01</string>
		<string>j</string>
		<string>q</string>
		<string>dotlessi</string>
		<string>ij</string>
		<string>dotlessj</string>
		<string>jacute</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_L_lc_k</key>
	<array>
		<string>k</string>
	</array>
	<key>@MMK_L_lc_l</key>
	<array>
		<string>l</string>
		<string>fl</string>
		<string>lslash</string>
	</array>
	<key>@MMK_L_lc_n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_lc_o</key>
	<array>
		<string>o</string>
		<string>eth</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>@MMK_L_lc_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_lc_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@MMK_L_lc_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_L_lc_u</key>
	<array>
		<string>a.alt01</string>
		<string>u</string>
		<string>aacute.alt01</string>
		<string>acircumflex.alt01</string>
		<string>adieresis.alt01</string>
		<string>agrave.alt01</string>
		<string>aring.alt01</string>
		<string>atilde.alt01</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_lc_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_L_lc_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_lc_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_L_uc_a</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_uc_c</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_uc_d</key>
	<array>
		<string>D</string>
		<string>Dcroat</string>
		<string>Eth</string>
	</array>
	<key>@MMK_L_uc_e</key>
	<array>
		<string>E</string>
		<string>AE</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_uc_g</key>
	<array>
		<string>G</string>
	</array>
	<key>@MMK_L_uc_i</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
	</array>
	<key>@MMK_L_uc_j</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_L_uc_k</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_uc_l</key>
	<array>
		<string>L</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_uc_o</key>
	<array>
		<string>O</string>
		<string>Q</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
	</array>
	<key>@MMK_L_uc_r</key>
	<array>
		<string>R</string>
	</array>
	<key>@MMK_L_uc_s</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_L_uc_t</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_uc_u</key>
	<array>
		<string>U</string>
		<string>IJ</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_L_uc_w</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_uc_y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_uc_z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_R_dvA</key>
	<array>
		<string>dvA</string>
		<string>dvAA</string>
		<string>dvU</string>
		<string>dvUU</string>
		<string>dvO</string>
		<string>dvAU</string>
		<string>dvAcandra</string>
		<string>dvOcandra</string>
		<string>dvAshort</string>
		<string>dvOshort</string>
	</array>
	<key>@MMK_R_dvBA</key>
	<array>
		<string>dvB_RA</string>
		<string>dvV_RA</string>
	</array>
	<key>@MMK_R_dvCA</key>
	<array>
		<string>dvCA</string>
		<string>dvC</string>
		<string>dvC_RA</string>
		<string>dvC_R</string>
		<string>dvC_CA</string>
		<string>dvC_C</string>
		<string>dvC_CHA</string>
		<string>dvC_CH_VA</string>
		<string>dvC_NA</string>
		<string>dvC_MA</string>
		<string>dvC_YA</string>
	</array>
	<key>@MMK_R_dvCHA</key>
	<array>
		<string>dvCHA</string>
		<string>dvCH</string>
		<string>dvCH_YA</string>
		<string>dvCH_VA</string>
	</array>
	<key>@MMK_R_dvDDA</key>
	<array>
		<string>dvI</string>
		<string>dvII</string>
		<string>dvNGA</string>
		<string>dvJHA</string>
		<string>dvDDA</string>
		<string>dvDDxA</string>
		<string>dvNG</string>
		<string>dvJH</string>
		<string>dvDD</string>
		<string>dvJH_RA</string>
		<string>dvH_RA</string>
		<string>dvJH_R</string>
		<string>dvJH_NA</string>
		<string>dvJH_MA</string>
		<string>dvJH_YA</string>
		<string>dvDD_YA</string>
		<string>dvD_DA</string>
		<string>dvD_MA</string>
		<string>dvD_YA</string>
		<string>dvII_Anusvara</string>
		<string>dvDA_mvR</string>
		<string>dvHA_mvR</string>
		<string>dvDDxA.mU</string>
	</array>
	<key>@MMK_R_dvE</key>
	<array>
		<string>dvE</string>
		<string>dvAI</string>
		<string>dvEcandra</string>
		<string>dvEshort</string>
	</array>
	<key>@MMK_R_dvGA</key>
	<array>
		<string>dvGA</string>
		<string>dvNA</string>
		<string>dvBHA</string>
		<string>dvMA</string>
		<string>dvGxA</string>
		<string>dvNxA</string>
		<string>dvG</string>
		<string>dvN</string>
		<string>dvBH</string>
		<string>dvM</string>
		<string>dvGx</string>
		<string>dvNx</string>
		<string>dvG_RA</string>
		<string>dvBH_RA</string>
		<string>dvM_RA</string>
		<string>dvGx_RA</string>
		<string>dvG_R</string>
		<string>dvN_R</string>
		<string>dvBH_R</string>
		<string>dvM_R</string>
		<string>dvGx_R</string>
		<string>dvG_GA</string>
		<string>dvG_GHA</string>
		<string>dvG_JA</string>
		<string>dvG_NNA</string>
		<string>dvG_DA</string>
		<string>dvG_DHA</string>
		<string>dvG_DH_YA</string>
		<string>dvG_DH_VA</string>
		<string>dvG_NA</string>
		<string>dvG_N</string>
		<string>dvGx_NA</string>
		<string>dvG_N_YA</string>
		<string>dvG_BA</string>
		<string>dvG_BHA</string>
		<string>dvG_BH_YA</string>
		<string>dvG_MA</string>
		<string>dvG_YA</string>
		<string>dvG_R_YA</string>
		<string>dvG_LA</string>
		<string>dvG_VA</string>
		<string>dvG_SA</string>
		<string>dvN_KA</string>
		<string>dvN_K_SA</string>
		<string>dvN_CA</string>
		<string>dvN_CHA</string>
		<string>dvN_JA</string>
		<string>dvN_JxA</string>
		<string>dvN_TTA</string>
		<string>dvN_DDA</string>
		<string>dvN_TA</string>
		<string>dvN_T_YA</string>
		<string>dvN_T_RA</string>
		<string>dvN_T_R</string>
		<string>dvN_T_SA</string>
		<string>dvN_THA</string>
		<string>dvN_TH_YA</string>
		<string>dvN_TH_VA</string>
		<string>dvN_DA</string>
		<string>dvN_D_RA</string>
		<string>dvN_D_VA</string>
		<string>dvN_DHA</string>
		<string>dvN_DH</string>
		<string>dvN_DH_YA</string>
		<string>dvN_DH_RA</string>
		<string>dvN_DH_VA</string>
		<string>dvN_PA</string>
		<string>dvN_P_RA</string>
		<string>dvN_PHA</string>
		<string>dvN_PH_RA</string>
		<string>dvN_BHA</string>
		<string>dvN_BH_YA</string>
		<string>dvN_BH_VA</string>
		<string>dvN_MA</string>
		<string>dvN_M_YA</string>
		<string>dvN_YA</string>
		<string>dvN_VA</string>
		<string>dvN_SHA</string>
		<string>dvN_SA</string>
		<string>dvN_S</string>
		<string>dvN_S_TTA</string>
		<string>dvN_S_M_YA</string>
		<string>dvN_S_YA</string>
		<string>dvN_HA</string>
		<string>dvBH_NA</string>
		<string>dvBH_YA</string>
		<string>dvBH_R_YA</string>
		<string>dvBH_LA</string>
		<string>dvBH_VA</string>
		<string>dvM_CA</string>
		<string>dvM_TA</string>
		<string>dvM_DA</string>
		<string>dvM_NA</string>
		<string>dvM_PA</string>
		<string>dvM_P_RA</string>
		<string>dvM_BA</string>
		<string>dvM_B_YA</string>
		<string>dvM_B_RA</string>
		<string>dvM_BHA</string>
		<string>dvM_BH_YA</string>
		<string>dvM_BH_RA</string>
		<string>dvM_BH_VA</string>
		<string>dvM_MA</string>
		<string>dvM_YA</string>
		<string>dvM_LA</string>
		<string>dvM_VA</string>
		<string>dvM_SHA</string>
		<string>dvM_SA</string>
		<string>dvM_HA</string>
	</array>
	<key>@MMK_R_dvGHA</key>
	<array>
		<string>dvGHA</string>
		<string>dvDHA</string>
		<string>dvGH</string>
		<string>dvDH</string>
		<string>dvGH_RA</string>
		<string>dvDH_RA</string>
		<string>dvGH_R</string>
		<string>dvDH_R</string>
		<string>dvGH_NA</string>
		<string>dvGH_MA</string>
		<string>dvGH_YA</string>
		<string>dvDH_NA</string>
		<string>dvDH_N_YA</string>
		<string>dvDH_MA</string>
		<string>dvDH_YA</string>
		<string>dvDH_VA</string>
	</array>
	<key>@MMK_R_dvHA</key>
	<array>
		<string>dvHA</string>
		<string>dvH</string>
		<string>dvH_NNA</string>
		<string>dvH_NA</string>
		<string>dvH_MA</string>
		<string>dvH_M</string>
		<string>dvH_M_YA</string>
		<string>dvH_YA</string>
		<string>dvH_LA</string>
		<string>dvH_VA</string>
		<string>dvHA_mU</string>
		<string>dvHA_mUU</string>
	</array>
	<key>@MMK_R_dvJA</key>
	<array>
		<string>dvJA</string>
		<string>dvJ_NYA</string>
		<string>dvJxA</string>
		<string>dvJ</string>
		<string>dvJ_NY</string>
		<string>dvJx</string>
		<string>dvJ_RA</string>
		<string>dvJ_NY_RA</string>
		<string>dvJx_RA</string>
		<string>dvJ_NY_R</string>
		<string>dvJx_R</string>
		<string>dvJ_KA</string>
		<string>dvJ_JA</string>
		<string>dvJ_J</string>
		<string>dvJx_JxA</string>
		<string>dvJ_J_NYA</string>
		<string>dvJ_J_YA</string>
		<string>dvJ_J_VA</string>
		<string>dvJ_JHA</string>
		<string>dvJ_NY_YA</string>
		<string>dvJ_TTA</string>
		<string>dvJ_DDA</string>
		<string>dvJ_TA</string>
		<string>dvJ_DA</string>
		<string>dvJ_NA</string>
		<string>dvJx_NA</string>
		<string>dvJ_BA</string>
		<string>dvJ_MA</string>
		<string>dvJx_MA</string>
		<string>dvJ_YA</string>
		<string>dvJx_YA</string>
		<string>dvJ_VA</string>
	</array>
	<key>@MMK_R_dvKA</key>
	<array>
		<string>dvKA</string>
		<string>dvBA</string>
		<string>dvVA</string>
		<string>dvKxA</string>
		<string>dvK</string>
		<string>dvB</string>
		<string>dvV</string>
		<string>dvKx</string>
		<string>dvK_RA</string>
		<string>dvKx_RA</string>
		<string>dvB_R</string>
		<string>dvV_R</string>
		<string>dvKx_R</string>
		<string>dvK_KA</string>
		<string>dvKx_KxA</string>
		<string>dvK_KHA</string>
		<string>dvK_CA</string>
		<string>dvK_CHA</string>
		<string>dvK_JA</string>
		<string>dvK_TTA</string>
		<string>dvK_NNA</string>
		<string>dvKx_TA</string>
		<string>dvK_T_YA</string>
		<string>dvK_T_RA</string>
		<string>dvK_T_VA</string>
		<string>dvK_THA</string>
		<string>dvK_DA</string>
		<string>dvK_NA</string>
		<string>dvKx_NA</string>
		<string>dvK_PA</string>
		<string>dvK_P_RA</string>
		<string>dvK_PHA</string>
		<string>dvKx_PHA</string>
		<string>dvKx_PHxA</string>
		<string>dvK_BA</string>
		<string>dvKx_BA</string>
		<string>dvK_MA</string>
		<string>dvKx_MA</string>
		<string>dvK_YA</string>
		<string>dvK_LA</string>
		<string>dvK_VA</string>
		<string>dvK_V_YA</string>
		<string>dvK_SHA</string>
		<string>dvKx_SHA</string>
		<string>dvK_SA</string>
		<string>dvK_S</string>
		<string>dvK_S_TTA</string>
		<string>dvK_S_DDA</string>
		<string>dvK_S_TA</string>
		<string>dvK_S_P_RA</string>
		<string>dvK_S_P_LA</string>
		<string>dvD_GHA</string>
		<string>dvD_DHA</string>
		<string>dvD_BHA</string>
		<string>dvB_JA</string>
		<string>dvB_JxA</string>
		<string>dvB_J_YA</string>
		<string>dvB_JHA</string>
		<string>dvB_TA</string>
		<string>dvB_DA</string>
		<string>dvB_DHA</string>
		<string>dvB_DH_VA</string>
		<string>dvB_NA</string>
		<string>dvB_BA</string>
		<string>dvB_BHA</string>
		<string>dvB_BH_RA</string>
		<string>dvB_YA</string>
		<string>dvB_LA</string>
		<string>dvB_L_YA</string>
		<string>dvB_VA</string>
		<string>dvB_SHA</string>
		<string>dvB_SA</string>
		<string>dvV_NA</string>
		<string>dvV_YA</string>
		<string>dvV_LA</string>
		<string>dvV_VA</string>
		<string>dvV_HA</string>
	</array>
	<key>@MMK_R_dvKHA</key>
	<array>
		<string>dvKHx</string>
	</array>
	<key>@MMK_R_dvKSSA</key>
	<array>
		<string>dvK_SSA</string>
		<string>dvK_SS</string>
		<string>dvK_SS_RA</string>
		<string>dvK_SS_R</string>
		<string>dvK_SS_MA</string>
		<string>dvK_SS_M_YA</string>
		<string>dvK_SS_YA</string>
		<string>dvK_SS_VA</string>
	</array>
	<key>@MMK_R_dvLA</key>
	<array>
		<string>dvvL</string>
		<string>dvvLL</string>
		<string>dvLA</string>
		<string>dvLLA</string>
		<string>dvLLxA</string>
		<string>dvL</string>
		<string>dvLL</string>
		<string>dvLLx</string>
		<string>dvL_RA</string>
		<string>dvL_R</string>
		<string>dvL_KA</string>
		<string>dvL_K_YA</string>
		<string>dvL_KHA</string>
		<string>dvL_KHxA</string>
		<string>dvL_GA</string>
		<string>dvL_CA</string>
		<string>dvL_JA</string>
		<string>dvL_JxA</string>
		<string>dvL_TTA</string>
		<string>dvL_TTHA</string>
		<string>dvL_DDA</string>
		<string>dvL_DD_SA</string>
		<string>dvL_DDHA</string>
		<string>dvL_TA</string>
		<string>dvL_THA</string>
		<string>dvL_TH_YA</string>
		<string>dvL_DA</string>
		<string>dvL_D_RA</string>
		<string>dvL_NA</string>
		<string>dvL_PA</string>
		<string>dvL_PHA</string>
		<string>dvL_BA</string>
		<string>dvL_BHA</string>
		<string>dvL_BH</string>
		<string>dvL_BH_YA</string>
		<string>dvL_MA</string>
		<string>dvL_YA</string>
		<string>dvL_LA</string>
		<string>dvL_L_YA</string>
		<string>dvL_VA</string>
		<string>dvL_V_DDA</string>
		<string>dvL_SHA</string>
		<string>dvL_SA</string>
		<string>dvL_HA</string>
		<string>dvLL_YA</string>
	</array>
	<key>@MMK_R_dvNA</key>
	<array>
		<string>dvN_NA</string>
		<string>dvN_N_YA</string>
	</array>
	<key>@MMK_R_dvNNA</key>
	<array>
		<string>dvNNA</string>
		<string>dvNN</string>
		<string>dvNN_RA</string>
		<string>dvNN_R</string>
		<string>dvNN_TTA</string>
		<string>dvNN_TTHA</string>
		<string>dvNN_DDA</string>
		<string>dvNN_DDHA</string>
		<string>dvNN_NNA</string>
		<string>dvNN_MA</string>
		<string>dvNN_YA</string>
		<string>dvNN_VA</string>
	</array>
	<key>@MMK_R_dvNYA</key>
	<array>
		<string>dvNYA</string>
		<string>dvNY</string>
		<string>dvNY_R</string>
		<string>dvNY_CA</string>
		<string>dvNY_C_YA</string>
		<string>dvNY_CHA</string>
		<string>dvNY_JA</string>
		<string>dvNY_J_YA</string>
		<string>dvNY_JHA</string>
		<string>dvNY_NYA</string>
		<string>dvNY_SHA</string>
		<string>dvNY_SA</string>
	</array>
	<key>@MMK_R_dvPA</key>
	<array>
		<string>dvPA</string>
		<string>dvPHA</string>
		<string>dvSSA</string>
		<string>dvPHxA</string>
		<string>dvP</string>
		<string>dvPH</string>
		<string>dvSS</string>
		<string>dvPHx</string>
		<string>dvP_RA</string>
		<string>dvPH_RA</string>
		<string>dvSS_RA</string>
		<string>dvPHx_RA</string>
		<string>dvP_R</string>
		<string>dvPH_R</string>
		<string>dvSS_R</string>
		<string>dvPHx_R</string>
		<string>dvP_CA</string>
		<string>dvP_C</string>
		<string>dvP_C_YA</string>
		<string>dvP_TTA</string>
		<string>dvP_TTHA</string>
		<string>dvP_TA</string>
		<string>dvP_T_YA</string>
		<string>dvP_NA</string>
		<string>dvP_PA</string>
		<string>dvP_PHA</string>
		<string>dvP_MA</string>
		<string>dvP_YA</string>
		<string>dvP_LA</string>
		<string>dvP_VA</string>
		<string>dvP_SHA</string>
		<string>dvP_SA</string>
		<string>dvPH_JA</string>
		<string>dvPHx_JxA</string>
		<string>dvPH_TTA</string>
		<string>dvPHx_TTA</string>
		<string>dvPH_TA</string>
		<string>dvPHx_TA</string>
		<string>dvPH_NA</string>
		<string>dvPHx_NA</string>
		<string>dvPH_PA</string>
		<string>dvPH_PHA</string>
		<string>dvPHx_PHxA</string>
		<string>dvPH_YA</string>
		<string>dvPH_LA</string>
		<string>dvPH_SHA</string>
		<string>dvPHx_SHA</string>
		<string>dvPHx_SA</string>
		<string>dvSS_KA</string>
		<string>dvSS_K_RA</string>
		<string>dvSS_TT_VA</string>
		<string>dvSS_NNA</string>
		<string>dvSS_NN_YA</string>
		<string>dvSS_NA</string>
		<string>dvSS_PA</string>
		<string>dvSS_P_RA</string>
		<string>dvSS_PHA</string>
		<string>dvSS_MA</string>
		<string>dvSS_M_YA</string>
		<string>dvSS_YA</string>
		<string>dvSS_VA</string>
		<string>dvSS_SSA</string>
	</array>
	<key>@MMK_R_dvRA</key>
	<array>
		<string>dvKHA</string>
		<string>dvRA</string>
		<string>dvSA</string>
		<string>dvKHxA</string>
		<string>dvRxA</string>
		<string>dvKH</string>
		<string>dvS</string>
		<string>dvKH_RA</string>
		<string>dvS_RA</string>
		<string>dvKHx_RA</string>
		<string>dvKH_R</string>
		<string>dvS_R</string>
		<string>dvKHx_R</string>
		<string>dvKH_KHA</string>
		<string>dvKH_TA</string>
		<string>dvKHx_TA</string>
		<string>dvKH_NA</string>
		<string>dvKHx_NA</string>
		<string>dvKH_MA</string>
		<string>dvKHx_MA</string>
		<string>dvKH_YA</string>
		<string>dvKHx_YA</string>
		<string>dvKH_VA</string>
		<string>dvKHx_VA</string>
		<string>dvKH_SHA</string>
		<string>dvKHx_SHA</string>
		<string>dvKHx_SA</string>
		<string>dvS_KA</string>
		<string>dvS_K_RA</string>
		<string>dvS_K_VA</string>
		<string>dvS_KHA</string>
		<string>dvS_JA</string>
		<string>dvS_TTA</string>
		<string>dvS_DDA</string>
		<string>dvS_TA</string>
		<string>dvS_T_YA</string>
		<string>dvS_T_RA</string>
		<string>dvS_T_VA</string>
		<string>dvS_THA</string>
		<string>dvS_TH</string>
		<string>dvS_TH_YA</string>
		<string>dvS_DA</string>
		<string>dvS_NA</string>
		<string>dvS_PA</string>
		<string>dvS_P_RA</string>
		<string>dvS_PHA</string>
		<string>dvS_BA</string>
		<string>dvS_MA</string>
		<string>dvS_M_YA</string>
		<string>dvS_YA</string>
		<string>dvS_LA</string>
		<string>dvS_VA</string>
		<string>dvS_SA</string>
		<string>dvRA_mU</string>
		<string>dvRA_mUU</string>
	</array>
	<key>@MMK_R_dvSHA</key>
	<array>
		<string>dvSHA</string>
		<string>dvSH</string>
		<string>dvSH_KA</string>
		<string>dvSH_KxA</string>
		<string>dvSH_CA</string>
		<string>dvSH_CHA</string>
		<string>dvSH_TTA</string>
		<string>dvSH_TA</string>
		<string>dvSH_MA</string>
		<string>dvSH_YA</string>
		<string>dvSH_LA</string>
		<string>dvSH_VA</string>
		<string>dvSH_SHA</string>
	</array>
	<key>@MMK_R_dvSHRA</key>
	<array>
		<string>dvSH_RA</string>
		<string>dvSH_R</string>
		<string>dvSH_NA</string>
		<string>dvSHA_mvR</string>
	</array>
	<key>@MMK_R_dvTA</key>
	<array>
		<string>dvTA</string>
		<string>dvT</string>
		<string>dvT_KA</string>
		<string>dvT_K_YA</string>
		<string>dvT_K_RA</string>
		<string>dvT_K_VA</string>
		<string>dvT_K_SSA</string>
		<string>dvT_KHA</string>
		<string>dvT_KH_NA</string>
		<string>dvT_KH_RA</string>
		<string>dvT_JA</string>
		<string>dvT_JxA</string>
		<string>dvT_THA</string>
		<string>dvT_NA</string>
		<string>dvT_N_YA</string>
		<string>dvT_PA</string>
		<string>dvT_P_RA</string>
		<string>dvT_P_LA</string>
		<string>dvT_PHA</string>
		<string>dvT_MA</string>
		<string>dvT_M</string>
		<string>dvT_M_YA</string>
		<string>dvT_YA</string>
		<string>dvT_LA</string>
		<string>dvT_VA</string>
		<string>dvT_SA</string>
		<string>dvT_S</string>
		<string>dvT_S_THA</string>
		<string>dvT_S_NA</string>
		<string>dvT_S_YA</string>
		<string>dvT_S_VA</string>
		<string>dvT.alt</string>
	</array>
	<key>@MMK_R_dvTHA</key>
	<array>
		<string>dvTHA</string>
		<string>dvYA</string>
		<string>dvYxA</string>
		<string>dvTH</string>
		<string>dvY</string>
		<string>dvYx</string>
		<string>dvTH_RA</string>
		<string>dvY_RA</string>
		<string>dvYx_RA</string>
		<string>dvTH_R</string>
		<string>dvY_R</string>
		<string>dvTH_NA</string>
		<string>dvTH_YA</string>
		<string>dvTH_VA</string>
		<string>dvY_NA</string>
		<string>dvY_YA</string>
		<string>dvEyelash_YA</string>
	</array>
	<key>@MMK_R_dvTRA</key>
	<array>
		<string>dvvR</string>
		<string>dvvRR</string>
		<string>dvT_RA</string>
		<string>dvT_R</string>
		<string>dvT_R_YA</string>
	</array>
	<key>@MMK_R_dvTTA</key>
	<array>
		<string>dvTTA</string>
		<string>dvTTHA</string>
		<string>dvDDHA</string>
		<string>dvDA</string>
		<string>dvDDHxA</string>
		<string>dvTT</string>
		<string>dvTTH</string>
		<string>dvDDH</string>
		<string>dvD</string>
		<string>dvD_RA</string>
		<string>dvD_R</string>
		<string>dvTT_YA</string>
		<string>dvTTH_YA</string>
		<string>dvDDH_YA</string>
		<string>dvD_GA</string>
		<string>dvD_G_RA</string>
		<string>dvD_NA</string>
		<string>dvD_BA</string>
		<string>dvD_B_RA</string>
		<string>dvD_VA</string>
		<string>dvDDHxA.mU</string>
	</array>
	<key>@MMK_R_dvTT_TTA</key>
	<array>
		<string>dvNG_KA</string>
		<string>dvNG_GA</string>
		<string>dvNG_MA</string>
		<string>dvTT_TTA</string>
		<string>dvTT_TTHA</string>
		<string>dvTT_VA</string>
		<string>dvTT_SA</string>
		<string>dvTTH_TTHA</string>
		<string>dvTTH_VA</string>
		<string>dvDD_GA</string>
		<string>dvDD_DDA</string>
		<string>dvDD_DDHA</string>
		<string>dvDD_VA</string>
		<string>dvDD_SA</string>
		<string>dvDDH_DDHA</string>
		<string>dvDDH_VA</string>
		<string>dvSS_TTA</string>
		<string>dvSS_TT_YA</string>
		<string>dvSS_TTHA</string>
		<string>dvSS_TTH_YA</string>
	</array>
	<key>@MMK_R_dvT_TA</key>
	<array>
		<string>dvK_TA</string>
		<string>dvT_TA</string>
		<string>dvT_T</string>
		<string>dvT_T_YA</string>
		<string>dvT_T_VA</string>
	</array>
	<key>@MMK_R_dvperiod</key>
	<array>
		<string>period.deva</string>
		<string>comma.deva</string>
	</array>
	<key>@MMK_R_greek_lc_kappa</key>
	<array>
		<string>mu</string>
	</array>
	<key>@MMK_R_greek_uc_Alpha</key>
	<array>
		<string>Delta</string>
	</array>
	<key>@MMK_R_greek_uc_Omega</key>
	<array>
		<string>Omega</string>
	</array>
	<key>@MMK_R_inp_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_inp_foot</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_inp_guill</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_inp_guilr</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_inp_hyph</key>
	<array>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_R_inp_parenth</key>
	<array>
		<string>bracketright</string>
		<string>braceright</string>
	</array>
	<key>@MMK_R_inp_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_inp_quotel</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_R_inp_quoter</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_lc_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_lc_c</key>
	<array>
		<string>c</string>
		<string>e</string>
		<string>o</string>
		<string>ccedilla</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_lc_d</key>
	<array>
		<string>a.alt01</string>
		<string>d</string>
		<string>g.alt01</string>
		<string>q</string>
		<string>aacute.alt01</string>
		<string>acircumflex.alt01</string>
		<string>adieresis.alt01</string>
		<string>agrave.alt01</string>
		<string>aring.alt01</string>
		<string>atilde.alt01</string>
		<string>eth</string>
	</array>
	<key>@MMK_R_lc_f</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_lc_g</key>
	<array>
		<string>g</string>
		<string>g.alt02</string>
	</array>
	<key>@MMK_R_lc_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
	</array>
	<key>@MMK_R_lc_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
	</array>
	<key>@MMK_R_lc_j</key>
	<array>
		<string>j</string>
		<string>dotlessj</string>
		<string>jacute</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_lc_l</key>
	<array>
		<string>l</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>germandbls.alt01</string>
	</array>
	<key>@MMK_R_lc_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>r</string>
		<string>dotlessi</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_lc_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_lc_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_lc_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_lc_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_R_lc_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_lc_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_uc_a</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
	</array>
	<key>@MMK_R_uc_i</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
	</array>
	<key>@MMK_R_uc_j</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_uc_o</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_uc_s</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_R_uc_t</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_uc_u</key>
	<array>
		<string>U</string>
		<string>IJ</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_R_uc_w</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_uc_y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_uc_z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
</dict>
</plist>
