<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.type-invaders.fontnaming.macfam</key>
	<string>IBM Plex Sans Devanagari</string>
	<key>com.type-invaders.fontnaming.macstyle</key>
	<string>Thin</string>
	<key>com.type-invaders.fontnaming.winfam</key>
	<string>IBM Plex Sans Devanagari Thin</string>
	<key>com.type-invaders.fontnaming.winstyle</key>
	<string>Regular</string>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>a</string>
		<string>a.alt01</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>g.alt01</string>
		<string>g.alt02</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>zero</string>
		<string>zero.alt01</string>
		<string>zero.alt02</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>ampersand</string>
		<string>at</string>
		<string>hyphen</string>
		<string>hyphen.deva</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>period</string>
		<string>period.deva</string>
		<string>ellipsis</string>
		<string>colon</string>
		<string>colon.deva</string>
		<string>comma</string>
		<string>comma.deva</string>
		<string>semicolon</string>
		<string>semicolon.deva</string>
		<string>quotesingle</string>
		<string>quotesingle.deva</string>
		<string>quotedbl</string>
		<string>quotedbl.deva</string>
		<string>quoteleft</string>
		<string>quoteleft.deva</string>
		<string>quoteright</string>
		<string>quoteright.deva</string>
		<string>quotedblleft</string>
		<string>quotedblleft.deva</string>
		<string>quotedblright</string>
		<string>quotedblright.deva</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>exclamdown</string>
		<string>exclam</string>
		<string>exclam.deva</string>
		<string>questiondown</string>
		<string>question</string>
		<string>question.deva</string>
		<string>parenleft</string>
		<string>parenleft.deva</string>
		<string>parenright</string>
		<string>parenright.deva</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>slash</string>
		<string>backslash</string>
		<string>fraction</string>
		<string>divisionslash</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>degree</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>numbersign</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>plus</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>less</string>
		<string>greater</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>lozenge</string>
		<string>logicalnot</string>
		<string>radical</string>
		<string>integral</string>
		<string>infinity</string>
		<string>estimated</string>
		<string>litre</string>
		<string>numerosign</string>
		<string>partialdiff</string>
		<string>currency</string>
		<string>cent</string>
		<string>Euro</string>
		<string>florin</string>
		<string>sterling</string>
		<string>dollar</string>
		<string>yen</string>
		<string>baht</string>
		<string>coloncurrency</string>
		<string>lira</string>
		<string>naira</string>
		<string>rupee</string>
		<string>won</string>
		<string>sheqel</string>
		<string>dong</string>
		<string>kip</string>
		<string>tugrik</string>
		<string>peso</string>
		<string>guarani</string>
		<string>hryvnia</string>
		<string>cedi</string>
		<string>tenge</string>
		<string>rupeeindian</string>
		<string>liraturkish</string>
		<string>ruble</string>
		<string>bitcoin</string>
		<string>fi</string>
		<string>fl</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>aacute.alt01</string>
		<string>acircumflex.alt01</string>
		<string>adieresis.alt01</string>
		<string>agrave.alt01</string>
		<string>aring.alt01</string>
		<string>atilde.alt01</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>eth</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>dotlessj</string>
		<string>jacute</string>
		<string>jcircumflex</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>ntilde</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>scaron</string>
		<string>germandbls</string>
		<string>germandbls.alt01</string>
		<string>thorn</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>zcaron</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>IJ</string>
		<string>Lslash</string>
		<string>Ntilde</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Scaron</string>
		<string>Germandbls</string>
		<string>Thorn</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Zcaron</string>
		<string>mu</string>
		<string>Delta</string>
		<string>product</string>
		<string>summation</string>
		<string>Omega</string>
		<string>pi</string>
		<string>dvA</string>
		<string>dvAcandra</string>
		<string>dvAshort</string>
		<string>dvAA</string>
		<string>dvOcandra</string>
		<string>dvOshort</string>
		<string>dvO</string>
		<string>dvAU</string>
		<string>dvB</string>
		<string>dvBA</string>
		<string>dvB_BA</string>
		<string>dvB_BH_RA</string>
		<string>dvB_BHA</string>
		<string>dvB_DA</string>
		<string>dvB_DH_VA</string>
		<string>dvB_DHA</string>
		<string>dvB_J_YA</string>
		<string>dvB_JA</string>
		<string>dvB_JHA</string>
		<string>dvB_JxA</string>
		<string>dvB_L_YA</string>
		<string>dvB_LA</string>
		<string>dvB_NA</string>
		<string>dvB_R</string>
		<string>dvB_RA</string>
		<string>dvB_SA</string>
		<string>dvB_SHA</string>
		<string>dvB_TA</string>
		<string>dvB_VA</string>
		<string>dvB_YA</string>
		<string>dvBH</string>
		<string>dvBHA</string>
		<string>dvBH_LA</string>
		<string>dvBH_NA</string>
		<string>dvBH_R</string>
		<string>dvBH_R_YA</string>
		<string>dvBH_RA</string>
		<string>dvBH_VA</string>
		<string>dvBH_YA</string>
		<string>dvC</string>
		<string>dvCA</string>
		<string>dvC_C</string>
		<string>dvC_CA</string>
		<string>dvC_CH_VA</string>
		<string>dvC_CHA</string>
		<string>dvC_MA</string>
		<string>dvC_NA</string>
		<string>dvC_R</string>
		<string>dvC_RA</string>
		<string>dvC_YA</string>
		<string>dvCHA</string>
		<string>dvCH</string>
		<string>dvCH_VA</string>
		<string>dvCH_YA</string>
		<string>dvDA</string>
		<string>dvD</string>
		<string>dvD_B_RA</string>
		<string>dvD_BA</string>
		<string>dvD_BHA</string>
		<string>dvD_DA</string>
		<string>dvD_DHA</string>
		<string>dvD_G_RA</string>
		<string>dvD_GA</string>
		<string>dvD_GHA</string>
		<string>dvD_MA</string>
		<string>dvD_NA</string>
		<string>dvD_R</string>
		<string>dvD_R_YA</string>
		<string>dvD_RA</string>
		<string>dvD_VA</string>
		<string>dvDA_mvR</string>
		<string>dvD_YA</string>
		<string>dvDDA</string>
		<string>dvDD</string>
		<string>dvDDxA</string>
		<string>dvDDxA.mU</string>
		<string>dvDD_DDA</string>
		<string>dvDD_DDHA</string>
		<string>dvDD_GA</string>
		<string>dvDD_SA</string>
		<string>dvDD_VA</string>
		<string>dvDD_YA</string>
		<string>dvNGA</string>
		<string>dvNG</string>
		<string>dvNG_GA</string>
		<string>dvNG_KA</string>
		<string>dvNG_MA</string>
		<string>dvDDHA</string>
		<string>dvDDHxA</string>
		<string>dvDDHxA.mU</string>
		<string>dvDDH</string>
		<string>dvDDH_DDHA</string>
		<string>dvDDH_VA</string>
		<string>dvDDH_YA</string>
		<string>dvDH</string>
		<string>dvDHA</string>
		<string>dvDH_MA</string>
		<string>dvDH_N_YA</string>
		<string>dvDH_NA</string>
		<string>dvDH_R</string>
		<string>dvDH_RA</string>
		<string>dvDH_VA</string>
		<string>dvDH_YA</string>
		<string>dvE</string>
		<string>dvEcandra</string>
		<string>dvEshort</string>
		<string>dvAI</string>
		<string>dvG</string>
		<string>dvGx</string>
		<string>dvGA</string>
		<string>dvG_BA</string>
		<string>dvG_BH_YA</string>
		<string>dvG_BHA</string>
		<string>dvG_DA</string>
		<string>dvG_DH_VA</string>
		<string>dvG_DH_YA</string>
		<string>dvG_DHA</string>
		<string>dvG_GA</string>
		<string>dvG_GHA</string>
		<string>dvG_JA</string>
		<string>dvG_LA</string>
		<string>dvG_MA</string>
		<string>dvG_N</string>
		<string>dvG_N_YA</string>
		<string>dvG_NA</string>
		<string>dvG_NNA</string>
		<string>dvG_R</string>
		<string>dvG_R_YA</string>
		<string>dvG_RA</string>
		<string>dvG_SA</string>
		<string>dvG_VA</string>
		<string>dvG_YA</string>
		<string>dvGxA</string>
		<string>dvGx_NA</string>
		<string>dvGx_R</string>
		<string>dvGx_RA</string>
		<string>dvGH</string>
		<string>dvGHA</string>
		<string>dvGH_MA</string>
		<string>dvGH_NA</string>
		<string>dvGH_R</string>
		<string>dvGH_RA</string>
		<string>dvGH_YA</string>
		<string>dvH</string>
		<string>dvHA</string>
		<string>dvH_LA</string>
		<string>dvH_M</string>
		<string>dvH_M_YA</string>
		<string>dvH_MA</string>
		<string>dvH_NA</string>
		<string>dvH_NNA</string>
		<string>dvH_RA</string>
		<string>dvH_VA</string>
		<string>dvH_YA</string>
		<string>dvHA_mU</string>
		<string>dvHA_mUU</string>
		<string>dvHA_mvR</string>
		<string>dvI</string>
		<string>dvII</string>
		<string>dvII_Anusvara</string>
		<string>dvJ</string>
		<string>dvJx</string>
		<string>dvJA</string>
		<string>dvJxA</string>
		<string>dvJ_BA</string>
		<string>dvJ_DA</string>
		<string>dvJ_DDA</string>
		<string>dvJ_J</string>
		<string>dvJ_J_NYA</string>
		<string>dvJ_J_VA</string>
		<string>dvJ_J_YA</string>
		<string>dvJ_JA</string>
		<string>dvJ_JHA</string>
		<string>dvJ_KA</string>
		<string>dvJ_MA</string>
		<string>dvJ_NA</string>
		<string>dvJ_NY</string>
		<string>dvJ_NY_R</string>
		<string>dvJ_NY_RA</string>
		<string>dvJ_NY_YA</string>
		<string>dvJ_NYA</string>
		<string>dvJ_R</string>
		<string>dvJ_RA</string>
		<string>dvJ_TA</string>
		<string>dvJ_TTA</string>
		<string>dvJ_VA</string>
		<string>dvJ_YA</string>
		<string>dvJx_JxA</string>
		<string>dvJx_MA</string>
		<string>dvJx_NA</string>
		<string>dvJx_R</string>
		<string>dvJx_RA</string>
		<string>dvJx_YA</string>
		<string>dvJH</string>
		<string>dvJHA</string>
		<string>dvJH_MA</string>
		<string>dvJH_NA</string>
		<string>dvJH_R</string>
		<string>dvJH_RA</string>
		<string>dvJH_YA</string>
		<string>dvK</string>
		<string>dvKx</string>
		<string>dvKA</string>
		<string>dvKxA</string>
		<string>dvK_BA</string>
		<string>dvK_CA</string>
		<string>dvK_CHA</string>
		<string>dvK_DA</string>
		<string>dvK_JA</string>
		<string>dvK_KA</string>
		<string>dvK_KHA</string>
		<string>dvK_LA</string>
		<string>dvK_MA</string>
		<string>dvK_NA</string>
		<string>dvK_NNA</string>
		<string>dvK_P_RA</string>
		<string>dvK_PA</string>
		<string>dvK_PHA</string>
		<string>dvK_R</string>
		<string>dvK_RA</string>
		<string>dvK_S</string>
		<string>dvK_S_DDA</string>
		<string>dvK_S_P_LA</string>
		<string>dvK_S_P_RA</string>
		<string>dvK_S_TA</string>
		<string>dvK_S_TTA</string>
		<string>dvK_SA</string>
		<string>dvK_SHA</string>
		<string>dvK_SS</string>
		<string>dvK_SS_M_YA</string>
		<string>dvK_SS_MA</string>
		<string>dvK_SS_R</string>
		<string>dvK_SS_RA</string>
		<string>dvK_SS_VA</string>
		<string>dvK_SS_YA</string>
		<string>dvK_SSA</string>
		<string>dvK_T_RA</string>
		<string>dvK_T_VA</string>
		<string>dvK_T_YA</string>
		<string>dvK_TA</string>
		<string>dvK_THA</string>
		<string>dvK_TTA</string>
		<string>dvK_V_YA</string>
		<string>dvK_VA</string>
		<string>dvK_YA</string>
		<string>dvKx_BA</string>
		<string>dvKx_KxA</string>
		<string>dvKx_MA</string>
		<string>dvKx_NA</string>
		<string>dvKx_PHA</string>
		<string>dvKx_PHxA</string>
		<string>dvKx_R</string>
		<string>dvKx_RA</string>
		<string>dvKx_SHA</string>
		<string>dvKx_TA</string>
		<string>dvKH</string>
		<string>dvKHx</string>
		<string>dvKHA</string>
		<string>dvKHxA</string>
		<string>dvKH_KHA</string>
		<string>dvKH_MA</string>
		<string>dvKH_NA</string>
		<string>dvKH_R</string>
		<string>dvKH_RA</string>
		<string>dvKH_SHA</string>
		<string>dvKH_TA</string>
		<string>dvKH_VA</string>
		<string>dvKH_YA</string>
		<string>dvKHx_MA</string>
		<string>dvKHx_NA</string>
		<string>dvKHx_R</string>
		<string>dvKHx_RA</string>
		<string>dvKHx_SA</string>
		<string>dvKHx_SHA</string>
		<string>dvKHx_TA</string>
		<string>dvKHx_VA</string>
		<string>dvKHx_YA</string>
		<string>dvL</string>
		<string>dvLA</string>
		<string>dvL_BA</string>
		<string>dvL_BH</string>
		<string>dvL_BH_YA</string>
		<string>dvL_BHA</string>
		<string>dvL_CA</string>
		<string>dvL_D_RA</string>
		<string>dvL_DA</string>
		<string>dvL_DD_SA</string>
		<string>dvL_DDA</string>
		<string>dvL_DDHA</string>
		<string>dvL_GA</string>
		<string>dvL_HA</string>
		<string>dvL_JA</string>
		<string>dvL_JxA</string>
		<string>dvL_K_YA</string>
		<string>dvL_KA</string>
		<string>dvL_KHA</string>
		<string>dvL_KHxA</string>
		<string>dvL_L_YA</string>
		<string>dvL_LA</string>
		<string>dvL_MA</string>
		<string>dvL_NA</string>
		<string>dvL_PA</string>
		<string>dvL_PHA</string>
		<string>dvL_R</string>
		<string>dvL_RA</string>
		<string>dvL_SA</string>
		<string>dvL_SHA</string>
		<string>dvL_TA</string>
		<string>dvL_TH_YA</string>
		<string>dvL_THA</string>
		<string>dvL_TTA</string>
		<string>dvL_TTHA</string>
		<string>dvL_V_DDA</string>
		<string>dvL_VA</string>
		<string>dvL_YA</string>
		<string>dvLL</string>
		<string>dvLLx</string>
		<string>dvLLA</string>
		<string>dvLLxA</string>
		<string>dvLL_YA</string>
		<string>dvM</string>
		<string>dvMA</string>
		<string>dvM_B_RA</string>
		<string>dvM_B_YA</string>
		<string>dvM_BA</string>
		<string>dvM_BH_RA</string>
		<string>dvM_BH_VA</string>
		<string>dvM_BH_YA</string>
		<string>dvM_BHA</string>
		<string>dvM_CA</string>
		<string>dvM_DA</string>
		<string>dvM_HA</string>
		<string>dvM_LA</string>
		<string>dvM_MA</string>
		<string>dvM_NA</string>
		<string>dvM_P_RA</string>
		<string>dvM_PA</string>
		<string>dvM_R</string>
		<string>dvM_RA</string>
		<string>dvM_SA</string>
		<string>dvM_SHA</string>
		<string>dvM_TA</string>
		<string>dvM_VA</string>
		<string>dvM_YA</string>
		<string>dvN</string>
		<string>dvNx</string>
		<string>dvNA</string>
		<string>dvNxA</string>
		<string>dvN_BH_VA</string>
		<string>dvN_BH_YA</string>
		<string>dvN_BHA</string>
		<string>dvN_CA</string>
		<string>dvN_CHA</string>
		<string>dvN_D_RA</string>
		<string>dvN_D_VA</string>
		<string>dvN_DA</string>
		<string>dvN_DDA</string>
		<string>dvN_DH</string>
		<string>dvN_DH_RA</string>
		<string>dvN_DH_VA</string>
		<string>dvN_DH_YA</string>
		<string>dvN_DHA</string>
		<string>dvN_HA</string>
		<string>dvN_JA</string>
		<string>dvN_JxA</string>
		<string>dvN_K_SA</string>
		<string>dvN_KA</string>
		<string>dvN_M_YA</string>
		<string>dvN_MA</string>
		<string>dvN_N_YA</string>
		<string>dvN_NA</string>
		<string>dvN_P_RA</string>
		<string>dvN_PA</string>
		<string>dvN_PH_RA</string>
		<string>dvN_PHA</string>
		<string>dvN_R</string>
		<string>dvN_RA</string>
		<string>dvN_S</string>
		<string>dvN_S_M_YA</string>
		<string>dvN_S_TTA</string>
		<string>dvN_S_YA</string>
		<string>dvN_SA</string>
		<string>dvN_SHA</string>
		<string>dvN_T_R</string>
		<string>dvN_T_RA</string>
		<string>dvN_T_SA</string>
		<string>dvN_T_YA</string>
		<string>dvN_TA</string>
		<string>dvN_TH_VA</string>
		<string>dvN_TH_YA</string>
		<string>dvN_THA</string>
		<string>dvN_TTA</string>
		<string>dvN_VA</string>
		<string>dvN_YA</string>
		<string>dvNN</string>
		<string>dvNNA</string>
		<string>dvNN_DDA</string>
		<string>dvNN_DDHA</string>
		<string>dvNN_MA</string>
		<string>dvNN_NNA</string>
		<string>dvNN_R</string>
		<string>dvNN_RA</string>
		<string>dvNN_TTA</string>
		<string>dvNN_TTHA</string>
		<string>dvNN_VA</string>
		<string>dvNN_YA</string>
		<string>dvNY</string>
		<string>dvNYA</string>
		<string>dvNY_C_YA</string>
		<string>dvNY_CA</string>
		<string>dvNY_CHA</string>
		<string>dvNY_J_YA</string>
		<string>dvNY_JA</string>
		<string>dvNY_JHA</string>
		<string>dvNY_NYA</string>
		<string>dvNY_R</string>
		<string>dvNY_RA</string>
		<string>dvNY_SA</string>
		<string>dvNY_SHA</string>
		<string>dvP</string>
		<string>dvPA</string>
		<string>dvP_C</string>
		<string>dvP_C_YA</string>
		<string>dvP_CA</string>
		<string>dvP_LA</string>
		<string>dvP_MA</string>
		<string>dvP_NA</string>
		<string>dvP_PA</string>
		<string>dvP_PHA</string>
		<string>dvP_R</string>
		<string>dvP_RA</string>
		<string>dvP_SA</string>
		<string>dvP_SHA</string>
		<string>dvP_T_YA</string>
		<string>dvP_TA</string>
		<string>dvP_TTA</string>
		<string>dvP_TTHA</string>
		<string>dvP_VA</string>
		<string>dvP_YA</string>
		<string>dvPH</string>
		<string>dvPHx</string>
		<string>dvPHA</string>
		<string>dvPHxA</string>
		<string>dvPH_JA</string>
		<string>dvPH_LA</string>
		<string>dvPH_NA</string>
		<string>dvPH_PA</string>
		<string>dvPH_PHA</string>
		<string>dvPH_R</string>
		<string>dvPH_RA</string>
		<string>dvPH_SHA</string>
		<string>dvPH_TA</string>
		<string>dvPH_TTA</string>
		<string>dvPH_YA</string>
		<string>dvPHx_JxA</string>
		<string>dvPHx_NA</string>
		<string>dvPHx_PHxA</string>
		<string>dvPHx_R</string>
		<string>dvPHx_RA</string>
		<string>dvPHx_SA</string>
		<string>dvPHx_SHA</string>
		<string>dvPHx_TA</string>
		<string>dvPHx_TTA</string>
		<string>dvRA</string>
		<string>dvRxA</string>
		<string>dvRA_mU</string>
		<string>dvRA_mUU</string>
		<string>dvS</string>
		<string>dvSA</string>
		<string>dvS_BA</string>
		<string>dvS_DA</string>
		<string>dvS_DDA</string>
		<string>dvS_JA</string>
		<string>dvS_K_RA</string>
		<string>dvS_K_VA</string>
		<string>dvS_KA</string>
		<string>dvS_KHA</string>
		<string>dvS_LA</string>
		<string>dvS_M_YA</string>
		<string>dvS_MA</string>
		<string>dvS_NA</string>
		<string>dvS_P_RA</string>
		<string>dvS_PA</string>
		<string>dvS_PHA</string>
		<string>dvS_R</string>
		<string>dvS_RA</string>
		<string>dvS_SA</string>
		<string>dvS_T_RA</string>
		<string>dvS_T_VA</string>
		<string>dvS_T_YA</string>
		<string>dvS_TA</string>
		<string>dvS_TH</string>
		<string>dvS_TH_YA</string>
		<string>dvS_THA</string>
		<string>dvS_TTA</string>
		<string>dvS_VA</string>
		<string>dvS_YA</string>
		<string>dvSH</string>
		<string>dvSHA</string>
		<string>dvSH_CA</string>
		<string>dvSH_CHA</string>
		<string>dvSH_KA</string>
		<string>dvSH_KxA</string>
		<string>dvSH_LA</string>
		<string>dvSH_MA</string>
		<string>dvSH_NA</string>
		<string>dvSH_R</string>
		<string>dvSH_RA</string>
		<string>dvSH_SHA</string>
		<string>dvSH_TA</string>
		<string>dvSH_TTA</string>
		<string>dvSH_VA</string>
		<string>dvSH_YA</string>
		<string>dvSHA_mvR</string>
		<string>dvSS</string>
		<string>dvSSA</string>
		<string>dvSS_K_RA</string>
		<string>dvSS_KA</string>
		<string>dvSS_M_YA</string>
		<string>dvSS_MA</string>
		<string>dvSS_NA</string>
		<string>dvSS_NN_YA</string>
		<string>dvSS_NNA</string>
		<string>dvSS_P_RA</string>
		<string>dvSS_PA</string>
		<string>dvSS_PHA</string>
		<string>dvSS_R</string>
		<string>dvSS_RA</string>
		<string>dvSS_SSA</string>
		<string>dvSS_TT_VA</string>
		<string>dvSS_TT_YA</string>
		<string>dvSS_TTA</string>
		<string>dvSS_TTH_YA</string>
		<string>dvSS_TTHA</string>
		<string>dvSS_VA</string>
		<string>dvSS_YA</string>
		<string>dvT</string>
		<string>dvT.alt</string>
		<string>dvTA</string>
		<string>dvT_JA</string>
		<string>dvT_JxA</string>
		<string>dvT_K_RA</string>
		<string>dvT_K_SSA</string>
		<string>dvT_K_VA</string>
		<string>dvT_K_YA</string>
		<string>dvT_KA</string>
		<string>dvT_KH_NA</string>
		<string>dvT_KH_RA</string>
		<string>dvT_KHA</string>
		<string>dvT_LA</string>
		<string>dvT_M</string>
		<string>dvT_M_YA</string>
		<string>dvT_MA</string>
		<string>dvT_N_YA</string>
		<string>dvT_NA</string>
		<string>dvT_P_LA</string>
		<string>dvT_P_RA</string>
		<string>dvT_PA</string>
		<string>dvT_PHA</string>
		<string>dvT_R</string>
		<string>dvT_R_YA</string>
		<string>dvT_RA</string>
		<string>dvT_S</string>
		<string>dvT_S_NA</string>
		<string>dvT_S_THA</string>
		<string>dvT_S_VA</string>
		<string>dvT_S_YA</string>
		<string>dvT_SA</string>
		<string>dvT_T</string>
		<string>dvT_T_VA</string>
		<string>dvT_T_YA</string>
		<string>dvT_TA</string>
		<string>dvT_THA</string>
		<string>dvT_VA</string>
		<string>dvT_YA</string>
		<string>dvTH</string>
		<string>dvTHA</string>
		<string>dvTH_NA</string>
		<string>dvTH_R</string>
		<string>dvTH_RA</string>
		<string>dvTH_VA</string>
		<string>dvTH_YA</string>
		<string>dvTTA</string>
		<string>dvTT</string>
		<string>dvTT_SA</string>
		<string>dvTT_TTA</string>
		<string>dvTT_TTHA</string>
		<string>dvTT_VA</string>
		<string>dvTT_YA</string>
		<string>dvTTHA</string>
		<string>dvTTH</string>
		<string>dvTTH_TTHA</string>
		<string>dvTTH_VA</string>
		<string>dvTTH_YA</string>
		<string>dvU</string>
		<string>dvUU</string>
		<string>dvV</string>
		<string>dvVA</string>
		<string>dvV_HA</string>
		<string>dvV_LA</string>
		<string>dvV_NA</string>
		<string>dvV_R</string>
		<string>dvV_RA</string>
		<string>dvV_VA</string>
		<string>dvV_YA</string>
		<string>dvY</string>
		<string>dvYx</string>
		<string>dvYA</string>
		<string>dvYxA</string>
		<string>dvY_NA</string>
		<string>dvY_R</string>
		<string>dvY_RA</string>
		<string>dvY_YA</string>
		<string>dvYx_RA</string>
		<string>dv_halfYA</string>
		<string>dv_Shahalf</string>
		<string>dvEyelash</string>
		<string>dvEyelash_HA</string>
		<string>dvEyelash_YA</string>
		<string>dvvR</string>
		<string>dvvRR</string>
		<string>dvvL</string>
		<string>dvvLL</string>
		<string>dvmAA</string>
		<string>dvmOcandra</string>
		<string>dvmOcandra_Anusvara</string>
		<string>dvmOshort</string>
		<string>dvmO</string>
		<string>dvmO_Anusvara</string>
		<string>dvmO_Candrabindu</string>
		<string>dvmO_Reph</string>
		<string>dvmO_Reph_Anusvara</string>
		<string>dvmAU</string>
		<string>dvmAU_Anusvara</string>
		<string>dvmAU_Candrabindu</string>
		<string>dvmAU_Reph</string>
		<string>dvmAU_Reph_Anusvara</string>
		<string>dvmI</string>
		<string>dvmI.01</string>
		<string>dvmI.02</string>
		<string>dvmI.03</string>
		<string>dvmI.04</string>
		<string>dvmI.05</string>
		<string>dvmI.06</string>
		<string>dvmI.07</string>
		<string>dvmI.08</string>
		<string>dvmI.09</string>
		<string>dvmI.10</string>
		<string>dvmI.11</string>
		<string>dvmI.12</string>
		<string>dvmI.13</string>
		<string>dvmI.14</string>
		<string>dvmI.15</string>
		<string>dvmI.16</string>
		<string>dvmI.17</string>
		<string>dvmI.18</string>
		<string>dvmI.19</string>
		<string>dvmI.20</string>
		<string>dvmII</string>
		<string>dvmII.00</string>
		<string>dvmII.01</string>
		<string>dvmII.02</string>
		<string>dvmII.03</string>
		<string>dvmII.04</string>
		<string>dvVisarga</string>
		<string>dvAvagraha</string>
		<string>dvZero</string>
		<string>dvOne</string>
		<string>dvTwo</string>
		<string>dvThree</string>
		<string>dvFour</string>
		<string>dvFive</string>
		<string>dvSix</string>
		<string>dvSeven</string>
		<string>dvEight</string>
		<string>dvNine</string>
		<string>dvOm</string>
		<string>dvAbbreviationsign</string>
		<string>danda</string>
		<string>doubledanda</string>
		<string>zerowidthnonjoiner</string>
		<string>zerowidthjoiner</string>
		<string>dottedcircle</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>onehalf</string>
		<string>uni2153</string>
		<string>uni2154</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>uni2155</string>
		<string>uni2156</string>
		<string>uni2157</string>
		<string>uni2158</string>
		<string>uni2159</string>
		<string>uni215A</string>
		<string>uni2150</string>
		<string>uni215B</string>
		<string>uni215C</string>
		<string>uni215D</string>
		<string>uni215E</string>
		<string>uni2151</string>
		<string>checkmark</string>
		<string>crossmark</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowdown</string>
		<string>arrowright</string>
		<string>arrowupleft</string>
		<string>arrowupright</string>
		<string>arrowdownleft</string>
		<string>arrowdownright</string>
		<string>arrowupleftcorner</string>
		<string>arrowdownleftcorner</string>
		<string>arrowleftupcorner</string>
		<string>arrowrightupcorner</string>
		<string>arrowleftdowncorner</string>
		<string>arrowrightdowncorner</string>
		<string>arrowuprightcorner</string>
		<string>arrowdownrightcorner</string>
		<string>arrowleftarrowright</string>
		<string>arrowrightarrowleft</string>
		<string>arrowleftright</string>
		<string>arrowupdown</string>
		<string>arrowdowncounterclockhalf</string>
		<string>arrowdownclockhalf</string>
		<string>arrowhookleft</string>
		<string>arrowhookright</string>
		<string>arrowupleftcounterclock</string>
		<string>arrowuprightclock</string>
		<string>tilde</string>
		<string>tilde.alt01</string>
		<string>macron</string>
		<string>dotaccent</string>
		<string>dieresis</string>
		<string>hungarumlaut</string>
		<string>acute</string>
		<string>grave</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>commaturnedtop</string>
		<string>caronslovak</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>dvAnusvara</string>
		<string>dvAnusvara.mI</string>
		<string>dvAnusvara.mII</string>
		<string>dvmEcandra</string>
		<string>dvmEcandra_Anusvara</string>
		<string>dvCandrabindu</string>
		<string>dvCandrabindu.small</string>
		<string>dvCandrabindu.smallalt</string>
		<string>dvmEshort</string>
		<string>dvmE</string>
		<string>dvmE_Anusvara</string>
		<string>dvmE_Candrabindu</string>
		<string>dvmAI</string>
		<string>dvmAI_Anusvara</string>
		<string>dvmE_Reph</string>
		<string>dvmE_Reph_Anusvara</string>
		<string>dvmAI_Reph</string>
		<string>dvmAI_Reph_Anusvara</string>
		<string>dvmAI_Candrabindu</string>
		<string>dvReph</string>
		<string>dvReph.mI</string>
		<string>dvReph.mII</string>
		<string>dvReph_Anusvara</string>
		<string>dvReph_Anusvara.mI</string>
		<string>dvReph_Anusvara.mII</string>
		<string>dvNukta</string>
		<string>dvRAc2</string>
		<string>dvVirama</string>
		<string>dvRAc2_Virama</string>
		<string>dvmU</string>
		<string>dvmU_low</string>
		<string>dvmU.small</string>
		<string>dvmU.smallalt</string>
		<string>dvRAc2_mU</string>
		<string>dvmUU</string>
		<string>dvmUU_low</string>
		<string>dvmUU.small</string>
		<string>dvmUU.smallalt</string>
		<string>dvRAc2_mUU</string>
		<string>dvmvR</string>
		<string>dvmvR.small</string>
		<string>dvmvRR</string>
		<string>dvmvL</string>
		<string>dvmvLL</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>dotaccentcomb</string>
		<string>dieresiscomb</string>
		<string>hungarumlautcomb</string>
		<string>acutecomb</string>
		<string>gravecomb</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>ringcomb</string>
		<string>caronslovakcomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>tilde.case</string>
		<string>tilde.alt01.case</string>
		<string>macron.case</string>
		<string>dotaccent.case</string>
		<string>dieresis.case</string>
		<string>acute.case</string>
		<string>grave.case</string>
		<string>circumflex.case</string>
		<string>caron.case</string>
		<string>breve.case</string>
		<string>ring.case</string>
		<string>space</string>
		<string>nbspace</string>
		<string>fcclogo</string>
		<string>celogo</string>
	</array>
</dict>
</plist>
