# Ignore generated dependency folders
node_modules

# Ignore generated build folders
lib/
dist/
fonts/
css/
scss/

# Logs
*.log

# Editor
.DS_Store
*.swp
.idea
.vscode

# Coverage directory used by tools like Istanbul
coverage
