node_modules
scss
css
*.log
package-lock.json
.DS_Store
zip
**/.DS_Store
.vercel
.parcel-cache
.idea
dist
/deploy-preview
/tmp
.env

# Source files
# https://github.com/IBM/plex/issues/554
/sources
/instances
/masters
*.glif
*.glyphs
*.vfb
*.designspace
*.ufo