<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_inp_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_inp_foot</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_inp_guill</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_inp_guilr</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_L_inp_hyph</key>
	<array>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_L_inp_parenth</key>
	<array>
		<string>bracketleft</string>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_inp_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_inp_quotel</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_L_inp_quoter</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_lc_a</key>
	<array>
		<string>a</string>
		<string>u</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahook</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehook</string>
		<string>abrevetilde</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhook</string>
		<string>acircumflextilde</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhook</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_L_lc_b</key>
	<array>
		<string>b</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_lc_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
	</array>
	<key>@MMK_L_lc_dcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_L_lc_e</key>
	<array>
		<string>e</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehook</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhook</string>
		<string>ecircumflextilde</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_lc_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_lc_g</key>
	<array>
		<string>g</string>
		<string>g.alt02</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_L_lc_i</key>
	<array>
		<string>i</string>
		<string>fi</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihook</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
	</array>
	<key>@MMK_L_lc_j</key>
	<array>
		<string>g.alt01</string>
		<string>j</string>
		<string>q</string>
		<string>gbreve.alt01</string>
		<string>gcircumflex.alt01</string>
		<string>gcommaaccent.alt01</string>
		<string>gdotaccent.alt01</string>
		<string>ij</string>
		<string>ijacute</string>
		<string>dotlessj</string>
		<string>jacute</string>
		<string>jcircumflex</string>
		<string>eng</string>
	</array>
	<key>@MMK_L_lc_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>@MMK_L_lc_l</key>
	<array>
		<string>d</string>
		<string>l</string>
		<string>fl</string>
		<string>dcroat</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
	</array>
	<key>@MMK_L_lc_n</key>
	<array>
		<string>a.alt01</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>aacute.alt01</string>
		<string>abreve.alt01</string>
		<string>acircumflex.alt01</string>
		<string>adieresis.alt01</string>
		<string>adotbelow.alt01</string>
		<string>agrave.alt01</string>
		<string>ahook.alt01</string>
		<string>amacron.alt01</string>
		<string>aogonek.alt01</string>
		<string>aring.alt01</string>
		<string>aringacute.alt01</string>
		<string>atilde.alt01</string>
		<string>abreveacute.alt01</string>
		<string>abrevedotbelow.alt01</string>
		<string>abrevegrave.alt01</string>
		<string>abrevehook.alt01</string>
		<string>abrevetilde.alt01</string>
		<string>acircumflexacute.alt01</string>
		<string>acircumflexdotbelow.alt01</string>
		<string>acircumflexgrave.alt01</string>
		<string>acircumflexhook.alt01</string>
		<string>acircumflextilde.alt01</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>napostrophe</string>
	</array>
	<key>@MMK_L_lc_o</key>
	<array>
		<string>o</string>
		<string>eth</string>
		<string>schwa</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohook</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhook</string>
		<string>ocircumflextilde</string>
	</array>
	<key>@MMK_L_lc_ohorn</key>
	<array>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhook</string>
		<string>ohorntilde</string>
	</array>
	<key>@MMK_L_lc_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_lc_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_lc_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>tcedilla</string>
	</array>
	<key>@MMK_L_lc_uhorn</key>
	<array>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhook</string>
		<string>uhorntilde</string>
	</array>
	<key>@MMK_L_lc_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_lc_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhook</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_L_lc_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_uc_a</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahook</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehook</string>
		<string>Abrevetilde</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhook</string>
		<string>Acircumflextilde</string>
	</array>
	<key>@MMK_L_uc_c</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_L_uc_d</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
	</array>
	<key>@MMK_L_uc_e</key>
	<array>
		<string>E</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehook</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhook</string>
		<string>Ecircumflextilde</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_uc_g</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
	</array>
	<key>@MMK_L_uc_i</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihook</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
	</array>
	<key>@MMK_L_uc_j</key>
	<array>
		<string>J</string>
		<string>Jacute</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_L_uc_k</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_uc_l</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_uc_o</key>
	<array>
		<string>O</string>
		<string>Q</string>
		<string>Schwa</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohook</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhook</string>
		<string>Ocircumflextilde</string>
	</array>
	<key>@MMK_L_uc_ohorn</key>
	<array>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhook</string>
		<string>Ohorntilde</string>
	</array>
	<key>@MMK_L_uc_r</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_L_uc_s</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_uc_t</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>Tcedilla</string>
	</array>
	<key>@MMK_L_uc_u</key>
	<array>
		<string>U</string>
		<string>IJ</string>
		<string>IJacute</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhook</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_L_uc_uhorn</key>
	<array>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhook</string>
		<string>Uhorntilde</string>
	</array>
	<key>@MMK_L_uc_w</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_L_uc_y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydotbelow</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Yhook</string>
		<string>Ytilde</string>
	</array>
	<key>@MMK_L_uc_z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_inp_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_inp_foot</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_inp_guill</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_inp_guilr</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_inp_hyph</key>
	<array>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_R_inp_parenth</key>
	<array>
		<string>bracketright</string>
		<string>braceright</string>
	</array>
	<key>@MMK_R_inp_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_inp_quotel</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_R_inp_quoter</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_lc_a</key>
	<array>
		<string>a</string>
		<string>d</string>
		<string>g.alt01</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahook</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehook</string>
		<string>abrevetilde</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhook</string>
		<string>acircumflextilde</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>gbreve.alt01</string>
		<string>gcircumflex.alt01</string>
		<string>gcommaaccent.alt01</string>
		<string>gdotaccent.alt01</string>
	</array>
	<key>@MMK_R_lc_a_alt</key>
	<array>
		<string>a.alt01</string>
		<string>aacute.alt01</string>
		<string>abreve.alt01</string>
		<string>acircumflex.alt01</string>
		<string>adieresis.alt01</string>
		<string>adotbelow.alt01</string>
		<string>agrave.alt01</string>
		<string>ahook.alt01</string>
		<string>amacron.alt01</string>
		<string>aogonek.alt01</string>
		<string>aring.alt01</string>
		<string>aringacute.alt01</string>
		<string>atilde.alt01</string>
		<string>abreveacute.alt01</string>
		<string>abrevedotbelow.alt01</string>
		<string>abrevegrave.alt01</string>
		<string>abrevehook.alt01</string>
		<string>abrevetilde.alt01</string>
		<string>acircumflexacute.alt01</string>
		<string>acircumflexdotbelow.alt01</string>
		<string>acircumflexgrave.alt01</string>
		<string>acircumflexhook.alt01</string>
		<string>acircumflextilde.alt01</string>
		<string>ae</string>
		<string>aeacute</string>
	</array>
	<key>@MMK_R_lc_c</key>
	<array>
		<string>c</string>
		<string>e</string>
		<string>o</string>
		<string>q</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>eth</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehook</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhook</string>
		<string>ecircumflextilde</string>
		<string>schwa</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohook</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhook</string>
		<string>ohorntilde</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhook</string>
		<string>ocircumflextilde</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_lc_f</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>@MMK_R_lc_g</key>
	<array>
		<string>g</string>
		<string>g.alt02</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_lc_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_R_lc_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihook</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>ij</string>
		<string>ijacute</string>
	</array>
	<key>@MMK_R_lc_j</key>
	<array>
		<string>j</string>
		<string>dotlessj</string>
		<string>jacute</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_lc_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
	</array>
	<key>@MMK_R_lc_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>r</string>
		<string>dotlessi</string>
		<string>kgreenlandic</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>eng</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_R_lc_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_lc_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>tcedilla</string>
	</array>
	<key>@MMK_R_lc_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhook</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhook</string>
		<string>uhorntilde</string>
	</array>
	<key>@MMK_R_lc_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_R_lc_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhook</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_R_lc_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_uc_a</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahook</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehook</string>
		<string>Abrevetilde</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhook</string>
		<string>Acircumflextilde</string>
		<string>AE</string>
		<string>AEacute</string>
	</array>
	<key>@MMK_R_uc_i</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihook</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
	</array>
	<key>@MMK_R_uc_j</key>
	<array>
		<string>J</string>
		<string>Jacute</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_uc_o</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Schwa</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohook</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhook</string>
		<string>Ohorntilde</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhook</string>
		<string>Ocircumflextilde</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_uc_s</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_uc_t</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>Tcedilla</string>
	</array>
	<key>@MMK_R_uc_u</key>
	<array>
		<string>U</string>
		<string>IJ</string>
		<string>IJacute</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhook</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhook</string>
		<string>Uhorntilde</string>
	</array>
	<key>@MMK_R_uc_w</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_uc_y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydotbelow</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Yhook</string>
		<string>Ytilde</string>
	</array>
	<key>@MMK_R_uc_z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
</dict>
</plist>
