@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Mono Italic'), local('IBMPlexMono-Italic'),
    url('#{$font-prefix}/fonts/Mono/web/woff2/IBMPlexMono-Italic-Latin3.woff2')
      format('woff2'),
    url('#{$font-prefix}/fonts/Mono/web/woff/IBMPlexMono-Italic-Latin3.woff')
      format('woff');
  unicode-range: 'U+0102-0103, U+1EA0-1EF9, U+20AB';
}
