@font-face {
  font-family: 'ibm-plex-mono';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Mono/web/woff2/IBMPlexMono-Italic-Latin3.woff2')
      format('woff2'),
    url('../fonts/Mono/web/woff/IBMPlexMono-Italic-Latin3.woff') format('woff');
  unicode-range: 'U+0102-0103, U+1EA0-1EF9, U+20AB';
}
