$font-prefix: '~@ibm/plex';

@import '~@ibm/plex/scss/ibm-plex';

.ibm-plex {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

.ibm-plex-italic {
  font-style: italic;
}

.ibm-plex-light {
  font-weight: 300;
}

.ibm-plex-mono {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}

.ibm-plex-semibold {
  font-weight: 600;
}
