@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'),
    url('#{$font-prefix}/fonts/Sans/web/woff2/IBMPlexSans-Italic-Latin3.woff2')
      format('woff2'),
    url('#{$font-prefix}/fonts/Sans/web/woff/IBMPlexSans-Italic-Latin3.woff')
      format('woff');
  unicode-range: 'U+0102-0103, U+1EA0-1EF9, U+20AB';
}
