<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>__notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE__.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>Delta</key>
	<string>Delta_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Germandbls</key>
	<string>Germandbls_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>IJ__.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE__.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Omega</key>
	<string>Omega_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt01</key>
	<string>a.alt01.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.alt01</key>
	<string>aacute.alt01.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.alt01</key>
	<string>acircumflex.alt01.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acute.case</key>
	<string>acute.case.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.alt01</key>
	<string>adieresis.alt01.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.alt01</key>
	<string>agrave.alt01.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>angkhankhu-thai</key>
	<string>angkhankhu-thai.glif</string>
	<key>angkhankhu_wisanchani-thai</key>
	<string>angkhankhu_wisanchani-thai.glif</string>
	<key>angkhansaam-thai</key>
	<string>angkhansaam-thai.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.alt01</key>
	<string>aring.alt01.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowdownclockhalf</key>
	<string>arrowdownclockhalf.glif</string>
	<key>arrowdowncounterclockhalf</key>
	<string>arrowdowncounterclockhalf.glif</string>
	<key>arrowdownleft</key>
	<string>arrowdownleft.glif</string>
	<key>arrowdownleftcorner</key>
	<string>arrowdownleftcorner.glif</string>
	<key>arrowdownright</key>
	<string>arrowdownright.glif</string>
	<key>arrowdownrightcorner</key>
	<string>arrowdownrightcorner.glif</string>
	<key>arrowhookleft</key>
	<string>arrowhookleft.glif</string>
	<key>arrowhookright</key>
	<string>arrowhookright.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowleftarrowright</key>
	<string>arrowleftarrowright.glif</string>
	<key>arrowleftdowncorner</key>
	<string>arrowleftdowncorner.glif</string>
	<key>arrowleftright</key>
	<string>arrowleftright.glif</string>
	<key>arrowleftupcorner</key>
	<string>arrowleftupcorner.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowrightarrowleft</key>
	<string>arrowrightarrowleft.glif</string>
	<key>arrowrightdowncorner</key>
	<string>arrowrightdowncorner.glif</string>
	<key>arrowrightupcorner</key>
	<string>arrowrightupcorner.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>arrowupdown</key>
	<string>arrowupdown.glif</string>
	<key>arrowupleft</key>
	<string>arrowupleft.glif</string>
	<key>arrowupleftcorner</key>
	<string>arrowupleftcorner.glif</string>
	<key>arrowupleftcounterclock</key>
	<string>arrowupleftcounterclock.glif</string>
	<key>arrowupright</key>
	<string>arrowupright.glif</string>
	<key>arrowuprightclock</key>
	<string>arrowuprightclock.glif</string>
	<key>arrowuprightcorner</key>
	<string>arrowuprightcorner.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.alt01</key>
	<string>atilde.alt01.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>baht</key>
	<string>baht.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bitcoin</key>
	<string>bitcoin.glif</string>
	<key>boBaimai-thai</key>
	<string>boBaimai-thai_.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>breve.case</key>
	<string>breve.case.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.case</key>
	<string>caron.case.glif</string>
	<key>caronslovak</key>
	<string>caronslovak.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedi</key>
	<string>cedi.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>celogo</key>
	<string>celogo.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>checkmark</key>
	<string>checkmark.glif</string>
	<key>choChan-thai</key>
	<string>choChan-thai_.glif</string>
	<key>choChang-thai</key>
	<string>choChang-thai_.glif</string>
	<key>choChing-thai</key>
	<string>choChing-thai_.glif</string>
	<key>choChoe-thai</key>
	<string>choChoe-thai_.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflex.case</key>
	<string>circumflex.case.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>coloncurrency</key>
	<string>coloncurrency.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaturnedtop</key>
	<string>commaturnedtop.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>crossmark</key>
	<string>crossmark.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>danda-thai</key>
	<string>danda-thai.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresis.case</key>
	<string>dieresis.case.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divisionslash</key>
	<string>divisionslash.glif</string>
	<key>doChada-thai</key>
	<string>doChada-thai_.glif</string>
	<key>doChada-thai.short</key>
	<string>doChada-thai_.short.glif</string>
	<key>doDek-thai</key>
	<string>doDek-thai_.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dong</key>
	<string>dong.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccent.case</key>
	<string>dotaccent.case.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dotlessj</key>
	<string>dotlessj.glif</string>
	<key>dottedCircle</key>
	<string>dottedCircle_.glif</string>
	<key>doubleDanda-thai</key>
	<string>doubleDanda-thai_.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight-thai</key>
	<string>eight-thai.glif</string>
	<key>eight-thai.sups</key>
	<string>eight-thai.sups.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fannu-thai</key>
	<string>fannu-thai.glif</string>
	<key>fcclogo</key>
	<string>fcclogo.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five-thai</key>
	<string>five-thai.glif</string>
	<key>five-thai.sups</key>
	<string>five-thai.sups.glif</string>
	<key>fiveinferior</key>
	<string>fiveinferior.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>foFa-thai</key>
	<string>foFa-thai_.glif</string>
	<key>foFan-thai</key>
	<string>foFan-thai_.glif</string>
	<key>fongdan-thai</key>
	<string>fongdan-thai.glif</string>
	<key>fongman-thai</key>
	<string>fongman-thai.glif</string>
	<key>fongman_fannu-thai</key>
	<string>fongman_fannu-thai.glif</string>
	<key>fongman_fonthong-thai</key>
	<string>fongman_fonthong-thai.glif</string>
	<key>fonthong-thai</key>
	<string>fonthong-thai.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four-thai</key>
	<string>four-thai.glif</string>
	<key>four-thai.sups</key>
	<string>four-thai.sups.glif</string>
	<key>fourinferior</key>
	<string>fourinferior.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt01</key>
	<string>g.alt01.glif</string>
	<key>g.alt02</key>
	<string>g.alt02.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.alt01</key>
	<string>germandbls.alt01.glif</string>
	<key>graphemeJoinerComb</key>
	<string>graphemeJoinerComb__.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave.case</key>
	<string>grave.case.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guarani</key>
	<string>guarani.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hoHip-thai</key>
	<string>hoHip-thai_.glif</string>
	<key>hoNokhuk-thai</key>
	<string>hoNokhuk-thai_.glif</string>
	<key>hryvnia</key>
	<string>hryvnia.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>ibmlogo07</key>
	<string>ibmlogo07.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jacute</key>
	<string>jacute.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>khoKhai-thai</key>
	<string>khoKhai-thai_.glif</string>
	<key>khoKhon-thai</key>
	<string>khoKhon-thai_.glif</string>
	<key>khoKhuat-thai</key>
	<string>khoKhuat-thai_.glif</string>
	<key>khoKhwai-thai</key>
	<string>khoKhwai-thai_.glif</string>
	<key>khoRakhang-thai</key>
	<string>khoRakhang-thai_.glif</string>
	<key>khomut-thai</key>
	<string>khomut-thai.glif</string>
	<key>kip</key>
	<string>kip.glif</string>
	<key>koKai-thai</key>
	<string>koKai-thai_.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lakkhangyao-thai</key>
	<string>lakkhangyao-thai.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lira</key>
	<string>lira.glif</string>
	<key>liraturkish</key>
	<string>liraturkish.glif</string>
	<key>litre</key>
	<string>litre.glif</string>
	<key>loChula-thai</key>
	<string>loChula-thai_.glif</string>
	<key>loChula-thai.short</key>
	<string>loChula-thai_.short.glif</string>
	<key>loLing-thai</key>
	<string>loLing-thai_.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>lu-thai</key>
	<string>lu-thai.glif</string>
	<key>lu_lakkhangyao-thai</key>
	<string>lu_lakkhangyao-thai.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macron.case</key>
	<string>macron.case.glif</string>
	<key>macronbelowcomb</key>
	<string>macronbelowcomb.glif</string>
	<key>maiChattawa-thai</key>
	<string>maiChattawa-thai_.glif</string>
	<key>maiChattawa-thai.narrow</key>
	<string>maiChattawa-thai_.narrow.glif</string>
	<key>maiChattawa-thai.small</key>
	<string>maiChattawa-thai_.small.glif</string>
	<key>maiEk-thai</key>
	<string>maiEk-thai_.glif</string>
	<key>maiEk-thai.narrow</key>
	<string>maiEk-thai_.narrow.glif</string>
	<key>maiEk-thai.small</key>
	<string>maiEk-thai_.small.glif</string>
	<key>maiHanaKat-thai</key>
	<string>maiHanaKat-thai__.glif</string>
	<key>maiHanaKat-thai.narrow</key>
	<string>maiHanaKat-thai__.narrow.glif</string>
	<key>maiHanaKat_maiTri-thai</key>
	<string>maiHanaKat___maiTri-thai_.glif</string>
	<key>maiHanaKat_maitaikhu-thai</key>
	<string>maiHanaKat___maitaikhu-thai.glif</string>
	<key>maiTho-thai</key>
	<string>maiTho-thai_.glif</string>
	<key>maiTho-thai.narrow</key>
	<string>maiTho-thai_.narrow.glif</string>
	<key>maiTho-thai.small</key>
	<string>maiTho-thai_.small.glif</string>
	<key>maiTri-thai</key>
	<string>maiTri-thai_.glif</string>
	<key>maiTri-thai.narrow</key>
	<string>maiTri-thai_.narrow.glif</string>
	<key>maiTri-thai.small</key>
	<string>maiTri-thai_.small.glif</string>
	<key>maitaikhu-thai</key>
	<string>maitaikhu-thai.glif</string>
	<key>maitaikhu-thai.narrow</key>
	<string>maitaikhu-thai.narrow.glif</string>
	<key>maitaikhu-thai.small</key>
	<string>maitaikhu-thai.small.glif</string>
	<key>maiyamok-thai</key>
	<string>maiyamok-thai.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>moMa-thai</key>
	<string>moMa-thai_.glif</string>
	<key>moMa-thai_macronbelowcomb</key>
	<string>moMa-thai__macronbelowcomb.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>naira</key>
	<string>naira.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ngoNgu-thai</key>
	<string>ngoNgu-thai_.glif</string>
	<key>ngoNgu-thai_macronbelowcomb</key>
	<string>ngoNgu-thai__macronbelowcomb.glif</string>
	<key>nikhahit-thai</key>
	<string>nikhahit-thai.glif</string>
	<key>nikhahit-thai.narrow</key>
	<string>nikhahit-thai.narrow.glif</string>
	<key>nikhahit-thai.small</key>
	<string>nikhahit-thai.small.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine-thai</key>
	<string>nine-thai.glif</string>
	<key>nine-thai.sups</key>
	<string>nine-thai.sups.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>noNen-thai</key>
	<string>noNen-thai_.glif</string>
	<key>noNu-thai</key>
	<string>noNu-thai_.glif</string>
	<key>noNu-thai_macronbelowcomb</key>
	<string>noNu-thai__macronbelowcomb.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numerosign</key>
	<string>numerosign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oAng-thai</key>
	<string>oAng-thai_.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one-thai</key>
	<string>one-thai.glif</string>
	<key>one-thai.sups</key>
	<string>one-thai.sups.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paiyannoi-thai</key>
	<string>paiyannoi-thai.glif</string>
	<key>paiyannoi_wisanchani-thai</key>
	<string>paiyannoi_wisanchani-thai.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>peso</key>
	<string>peso.glif</string>
	<key>phinthu-thai</key>
	<string>phinthu-thai.glif</string>
	<key>phoPhan-thai</key>
	<string>phoPhan-thai_.glif</string>
	<key>phoPhung-thai</key>
	<string>phoPhung-thai_.glif</string>
	<key>phoSamphao-thai</key>
	<string>phoSamphao-thai_.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>pikKaa-thai</key>
	<string>pikKaa-thai_.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>poPla-thai</key>
	<string>poPla-thai_.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>reversedKhomut-thai</key>
	<string>reversedKhomut-thai_.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ring.case</key>
	<string>ring.case.glif</string>
	<key>roRua-thai</key>
	<string>roRua-thai_.glif</string>
	<key>ru-thai</key>
	<string>ru-thai.glif</string>
	<key>ru_lakkhangyao-thai</key>
	<string>ru_lakkhangyao-thai.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>rupee</key>
	<string>rupee.glif</string>
	<key>rupeeindian</key>
	<string>rupeeindian.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>saraA-thai</key>
	<string>saraA-thai_.glif</string>
	<key>saraAa-thai</key>
	<string>saraAa-thai_.glif</string>
	<key>saraAe-thai</key>
	<string>saraAe-thai_.glif</string>
	<key>saraAiMaimalai-thai</key>
	<string>saraAiMaimalai-thai__.glif</string>
	<key>saraAiMaimuan-thai</key>
	<string>saraAiMaimuan-thai__.glif</string>
	<key>saraAm-thai</key>
	<string>saraAm-thai_.glif</string>
	<key>saraE-thai</key>
	<string>saraE-thai_.glif</string>
	<key>saraI-thai</key>
	<string>saraI-thai_.glif</string>
	<key>saraI-thai.narrow</key>
	<string>saraI-thai_.narrow.glif</string>
	<key>saraIi-thai</key>
	<string>saraIi-thai_.glif</string>
	<key>saraIi-thai.narrow</key>
	<string>saraIi-thai_.narrow.glif</string>
	<key>saraO-thai</key>
	<string>saraO-thai_.glif</string>
	<key>saraU-thai</key>
	<string>saraU-thai_.glif</string>
	<key>saraUe-thai</key>
	<string>saraUe-thai_.glif</string>
	<key>saraUe-thai.narrow</key>
	<string>saraUe-thai_.narrow.glif</string>
	<key>saraUee-thai</key>
	<string>saraUee-thai_.glif</string>
	<key>saraUee-thai.narrow</key>
	<string>saraUee-thai_.narrow.glif</string>
	<key>saraUu-thai</key>
	<string>saraUu-thai_.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven-thai</key>
	<string>seven-thai.glif</string>
	<key>seven-thai.sups</key>
	<string>seven-thai.sups.glif</string>
	<key>seveninferior</key>
	<string>seveninferior.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>sheqel</key>
	<string>sheqel.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six-thai</key>
	<string>six-thai.glif</string>
	<key>six-thai.sups</key>
	<string>six-thai.sups.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>soRusi-thai</key>
	<string>soRusi-thai_.glif</string>
	<key>soSala-thai</key>
	<string>soSala-thai_.glif</string>
	<key>soSo-thai</key>
	<string>soSo-thai_.glif</string>
	<key>soSua-thai</key>
	<string>soSua-thai_.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tenge</key>
	<string>tenge.glif</string>
	<key>thanthakhat-thai</key>
	<string>thanthakhat-thai.glif</string>
	<key>thanthakhat-thai.narrow</key>
	<string>thanthakhat-thai.narrow.glif</string>
	<key>thanthakhat-thai.small</key>
	<string>thanthakhat-thai.small.glif</string>
	<key>thoNangmontho-thai</key>
	<string>thoNangmontho-thai_.glif</string>
	<key>thoPhuthao-thai</key>
	<string>thoPhuthao-thai_.glif</string>
	<key>thoThahan-thai</key>
	<string>thoThahan-thai_.glif</string>
	<key>thoThan-thai</key>
	<string>thoThan-thai_.glif</string>
	<key>thoThan-thai.less</key>
	<string>thoThan-thai_.less.glif</string>
	<key>thoThong-thai</key>
	<string>thoThong-thai_.glif</string>
	<key>thoThung-thai</key>
	<string>thoThung-thai_.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three-thai</key>
	<string>three-thai.glif</string>
	<key>three-thai.sups</key>
	<string>three-thai.sups.glif</string>
	<key>threeinferior</key>
	<string>threeinferior.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tilde.alt01</key>
	<string>tilde.alt01.glif</string>
	<key>tilde.alt01.case</key>
	<string>tilde.alt01.case.glif</string>
	<key>tilde.case</key>
	<string>tilde.case.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tinKhru-thai</key>
	<string>tinKhru-thai_.glif</string>
	<key>toPatak-thai</key>
	<string>toPatak-thai_.glif</string>
	<key>toPatak-thai.short</key>
	<string>toPatak-thai_.short.glif</string>
	<key>toTao-thai</key>
	<string>toTao-thai_.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tripleWisanchani-thai</key>
	<string>tripleWisanchani-thai_.glif</string>
	<key>tugrik</key>
	<string>tugrik.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two-thai</key>
	<string>two-thai.glif</string>
	<key>two-thai.sups</key>
	<string>two-thai.sups.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u02D7</key>
	<string>u02D7_.glif</string>
	<key>u2638</key>
	<string>u2638.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>unalome-thai</key>
	<string>unalome-thai.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni2150</key>
	<string>uni2150.glif</string>
	<key>uni2151</key>
	<string>uni2151.glif</string>
	<key>uni2153</key>
	<string>uni2153.glif</string>
	<key>uni2154</key>
	<string>uni2154.glif</string>
	<key>uni2155</key>
	<string>uni2155.glif</string>
	<key>uni2156</key>
	<string>uni2156.glif</string>
	<key>uni2157</key>
	<string>uni2157.glif</string>
	<key>uni2158</key>
	<string>uni2158.glif</string>
	<key>uni2159</key>
	<string>uni2159.glif</string>
	<key>uni215A</key>
	<string>uni215A_.glif</string>
	<key>uni215B</key>
	<string>uni215B_.glif</string>
	<key>uni215C</key>
	<string>uni215C_.glif</string>
	<key>uni215D</key>
	<string>uni215D_.glif</string>
	<key>uni215E</key>
	<string>uni215E_.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>woWaen-thai</key>
	<string>woWaen-thai_.glif</string>
	<key>won</key>
	<string>won.glif</string>
	<key>wordJoiner</key>
	<string>wordJoiner_.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>yamakkan-thai</key>
	<string>yamakkan-thai.glif</string>
	<key>yamakkan-thai.narrow</key>
	<string>yamakkan-thai.narrow.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yoYak-thai</key>
	<string>yoYak-thai_.glif</string>
	<key>yoYing-thai</key>
	<string>yoYing-thai_.glif</string>
	<key>yoYing-thai.less</key>
	<string>yoYing-thai_.less.glif</string>
	<key>yoYing-thai_macronbelowcomb</key>
	<string>yoYing-thai__macronbelowcomb.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero-thai</key>
	<string>zero-thai.glif</string>
	<key>zero-thai.sups</key>
	<string>zero-thai.sups.glif</string>
	<key>zero.alt01</key>
	<string>zero.alt01.glif</string>
	<key>zero.alt02</key>
	<string>zero.alt02.glif</string>
	<key>zeroWidthJoiner</key>
	<string>zeroWidthJoiner__.glif</string>
	<key>zeroWidthNonJoiner</key>
	<string>zeroWidthNonJoiner___.glif</string>
	<key>zeroWidthSpace</key>
	<string>zeroWidthSpace__.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
</dict>
</plist>
