<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_cyr_lc_acyrillic</key>
	<array>
		<string>uni0430</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
	</array>
	<key>@MMK_L_cyr_lc_acyrillic.alt01</key>
	<array>
		<string>uni0430.alt01</string>
		<string>uni04D1.alt01</string>
		<string>uni04D3.alt01</string>
	</array>
	<key>@MMK_L_cyr_lc_decyrillic</key>
	<array>
		<string>uni0434</string>
		<string>uni0446</string>
		<string>uni0449</string>
		<string>uni04A3</string>
		<string>uni04B7</string>
	</array>
	<key>@MMK_L_cyr_lc_encyrillic</key>
	<array>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0447</string>
		<string>uni0448</string>
		<string>uni044B</string>
		<string>uni044F</string>
		<string>uni045D</string>
		<string>uni045F</string>
		<string>uni04B9</string>
		<string>uni04E3</string>
		<string>uni04E5</string>
		<string>uni04F5</string>
		<string>uni04F9</string>
	</array>
	<key>@MMK_L_cyr_lc_escyrillic</key>
	<array>
		<string>uni0441</string>
		<string>uni04AB</string>
	</array>
	<key>@MMK_L_cyr_lc_gecyrillic</key>
	<array>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni04A5</string>
	</array>
	<key>@MMK_L_cyr_lc_icyrillic</key>
	<array>
		<string>uni0456</string>
		<string>uni0457</string>
	</array>
	<key>@MMK_L_cyr_lc_jecyrillic</key>
	<array>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni04D5</string>
		<string>uni04D7</string>
	</array>
	<key>@MMK_L_cyr_lc_kacyrillic</key>
	<array>
		<string>uni0436</string>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni049D</string>
		<string>uni04A1</string>
		<string>uni04C2</string>
		<string>uni04DD</string>
	</array>
	<key>@MMK_L_cyr_lc_kadescendercyrillic</key>
	<array>
		<string>uni0497</string>
		<string>uni049B</string>
	</array>
	<key>@MMK_L_cyr_lc_ocyrillic</key>
	<array>
		<string>uni0431</string>
		<string>uni043E</string>
		<string>uni044D</string>
		<string>uni044E</string>
		<string>uni0473</string>
		<string>uni04D9</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
	</array>
	<key>@MMK_L_cyr_lc_shhacyrillic</key>
	<array>
		<string>uni045B</string>
		<string>uni04BB</string>
	</array>
	<key>@MMK_L_cyr_lc_softsigncyrillic</key>
	<array>
		<string>uni044A</string>
		<string>uni044C</string>
		<string>uni0459</string>
		<string>uni045A</string>
	</array>
	<key>@MMK_L_cyr_lc_ucyrillic</key>
	<array>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni04EF</string>
		<string>uni04F1</string>
		<string>uni04F3</string>
	</array>
	<key>@MMK_L_cyr_lc_vecyrillic</key>
	<array>
		<string>uni0432</string>
		<string>uni0437</string>
		<string>uni0499</string>
		<string>uni04DF</string>
	</array>
	<key>@MMK_L_cyr_uc_Acyrillic</key>
	<array>
		<string>uni0410</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
	</array>
	<key>@MMK_L_cyr_uc_Decyrillic</key>
	<array>
		<string>uni0414</string>
		<string>uni0426</string>
		<string>uni0429</string>
		<string>uni04A2</string>
		<string>uni04B6</string>
	</array>
	<key>@MMK_L_cyr_uc_Encyrillic</key>
	<array>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni040D</string>
		<string>uni040F</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041F</string>
		<string>uni0427</string>
		<string>uni0428</string>
		<string>uni042B</string>
		<string>uni042F</string>
		<string>uni04B8</string>
		<string>uni04C0</string>
		<string>uni04E2</string>
		<string>uni04E4</string>
		<string>uni04F4</string>
		<string>uni04F8</string>
	</array>
	<key>@MMK_L_cyr_uc_Escyrillic</key>
	<array>
		<string>uni0421</string>
		<string>uni04AA</string>
	</array>
	<key>@MMK_L_cyr_uc_Gecyrillic</key>
	<array>
		<string>uni0403</string>
		<string>uni0413</string>
		<string>uni0490</string>
		<string>uni04A4</string>
	</array>
	<key>@MMK_L_cyr_uc_Jecyrillic</key>
	<array>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni0415</string>
		<string>uni04D4</string>
		<string>uni04D6</string>
	</array>
	<key>@MMK_L_cyr_uc_Kacyrillic</key>
	<array>
		<string>uni040C</string>
		<string>uni0416</string>
		<string>uni041A</string>
		<string>uni049C</string>
		<string>uni04A0</string>
		<string>uni04C1</string>
		<string>uni04DC</string>
	</array>
	<key>@MMK_L_cyr_uc_Kadescendercyrillic</key>
	<array>
		<string>uni0496</string>
		<string>uni049A</string>
	</array>
	<key>@MMK_L_cyr_uc_Ocyrillic</key>
	<array>
		<string>uni041E</string>
		<string>uni042D</string>
		<string>uni042E</string>
		<string>uni0472</string>
		<string>uni04D8</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
	</array>
	<key>@MMK_L_cyr_uc_Softsigncyrillic</key>
	<array>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni042A</string>
		<string>uni042C</string>
	</array>
	<key>@MMK_L_cyr_uc_Tshecyrillic</key>
	<array>
		<string>uni040B</string>
		<string>uni04BA</string>
	</array>
	<key>@MMK_L_cyr_uc_Ucyrillic</key>
	<array>
		<string>uni040E</string>
		<string>uni0423</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
	</array>
	<key>@MMK_L_cyr_uc_Zecyrillic</key>
	<array>
		<string>uni0417</string>
		<string>uni0498</string>
		<string>uni04DE</string>
		<string>uni0412</string>
	</array>
	<key>@MMK_L_inp_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_inp_foot</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_inp_guill</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_inp_guilr</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_inp_hyph</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>softhyphen</string>
	</array>
	<key>@MMK_L_inp_period</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_inp_quotel</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_inp_quoter</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_lc_a</key>
	<array>
		<string>acircumflexgrave</string>
		<string>aring</string>
		<string>abreveacute</string>
		<string>abrevetilde</string>
		<string>agrave</string>
		<string>acircumflextilde</string>
		<string>abreve</string>
		<string>atilde</string>
		<string>adotbelow</string>
		<string>adieresis</string>
		<string>aacute</string>
		<string>acircumflexacute</string>
		<string>abrevegrave</string>
		<string>acircumflexhook</string>
		<string>abrevehook</string>
		<string>acircumflex</string>
		<string>a</string>
		<string>ahook</string>
		<string>acircumflexdotbelow</string>
		<string>aringacute</string>
		<string>amacron</string>
		<string>abrevedotbelow</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_L_lc_b</key>
	<array>
		<string>p</string>
		<string>thorn</string>
		<string>b</string>
	</array>
	<key>@MMK_L_lc_c</key>
	<array>
		<string>c</string>
		<string>cdotaccent</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_lc_dcaron</key>
	<array>
		<string>lcaron</string>
		<string>dcaron</string>
	</array>
	<key>@MMK_L_lc_e</key>
	<array>
		<string>ecaron</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>e</string>
		<string>etilde</string>
		<string>ecircumflexacute</string>
		<string>oe</string>
		<string>ebreve</string>
		<string>aeacute</string>
		<string>ecircumflexhook</string>
		<string>ehook</string>
		<string>ecircumflex</string>
		<string>edotbelow</string>
		<string>edotaccent</string>
		<string>eacute</string>
		<string>ae</string>
		<string>ecircumflextilde</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>emacron</string>
	</array>
	<key>@MMK_L_lc_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_lc_g</key>
	<array>
		<string>gdotaccent</string>
		<string>gbreve</string>
		<string>g.alt02</string>
		<string>g</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_L_lc_i</key>
	<array>
		<string>idotbelow</string>
		<string>iacute</string>
		<string>iogonek</string>
		<string>i</string>
		<string>ihook</string>
		<string>igrave</string>
		<string>itilde</string>
		<string>icircumflex</string>
		<string>imacron</string>
		<string>ibreve</string>
		<string>fi</string>
		<string>idieresis</string>
	</array>
	<key>@MMK_L_lc_j</key>
	<array>
		<string>gdotaccent.alt01</string>
		<string>g.alt01</string>
		<string>gcircumflex.alt01</string>
		<string>eng</string>
		<string>jacute</string>
		<string>gcommaaccent.alt01</string>
		<string>j</string>
		<string>gbreve.alt01</string>
		<string>q</string>
		<string>ij</string>
		<string>jcircumflex</string>
		<string>dotlessj</string>
		<string>dotlessi</string>
		<string>ijacute</string>
	</array>
	<key>@MMK_L_lc_k</key>
	<array>
		<string>k</string>
		<string>kgreenlandic</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_L_lc_l</key>
	<array>
		<string>d</string>
		<string>lcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lslash</string>
		<string>fl</string>
	</array>
	<key>@MMK_L_lc_n</key>
	<array>
		<string>napostrophe</string>
		<string>nacute</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>ncommaaccent</string>
		<string>hcircumflex</string>
		<string>ncaron</string>
		<string>hbar</string>
	</array>
	<key>@MMK_L_lc_o</key>
	<array>
		<string>ocircumflexgrave</string>
		<string>ocircumflextilde</string>
		<string>ocircumflexdotbelow</string>
		<string>ohook</string>
		<string>odotbelow</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>ocircumflexhook</string>
		<string>omacron</string>
		<string>o</string>
		<string>otilde</string>
		<string>schwa</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>obreve</string>
		<string>ocircumflexacute</string>
		<string>oacute</string>
	</array>
	<key>@MMK_L_lc_ohorn</key>
	<array>
		<string>ohornhook</string>
		<string>ohornacute</string>
		<string>ohorngrave</string>
		<string>ohorntilde</string>
		<string>ohorndotbelow</string>
		<string>ohorn</string>
	</array>
	<key>@MMK_L_lc_r</key>
	<array>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>r</string>
		<string>rcaron</string>
	</array>
	<key>@MMK_L_lc_s</key>
	<array>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
	</array>
	<key>@MMK_L_lc_t</key>
	<array>
		<string>tcommaaccent</string>
		<string>tcaron</string>
		<string>t</string>
		<string>tcedilla</string>
		<string>tbar</string>
	</array>
	<key>@MMK_L_lc_u</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>abrevedotbelow.alt01</string>
		<string>acircumflex.alt01</string>
		<string>uring</string>
		<string>ugrave</string>
		<string>abrevegrave.alt01</string>
		<string>aogonek.alt01</string>
		<string>adotbelow.alt01</string>
		<string>aacute.alt01</string>
		<string>atilde.alt01</string>
		<string>abreveacute.alt01</string>
		<string>acircumflexacute.alt01</string>
		<string>abrevetilde.alt01</string>
		<string>utilde</string>
		<string>aringacute.alt01</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>a.alt01</string>
		<string>abreve.alt01</string>
		<string>uhook</string>
		<string>umacron</string>
		<string>uacute</string>
		<string>aring.alt01</string>
		<string>adieresis.alt01</string>
		<string>acircumflexgrave.alt01</string>
		<string>acircumflextilde.alt01</string>
		<string>acircumflexdotbelow.alt01</string>
		<string>amacron.alt01</string>
		<string>ahook.alt01</string>
		<string>abrevehook.alt01</string>
		<string>ubreve</string>
		<string>udotbelow</string>
		<string>u</string>
		<string>acircumflexhook.alt01</string>
		<string>agrave.alt01</string>
	</array>
	<key>@MMK_L_lc_uhorn</key>
	<array>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorn</string>
		<string>uhorntilde</string>
		<string>uhorngrave</string>
		<string>uhornhook</string>
	</array>
	<key>@MMK_L_lc_w</key>
	<array>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>w</string>
		<string>wacute</string>
	</array>
	<key>@MMK_L_lc_y</key>
	<array>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>yacute</string>
		<string>y</string>
		<string>yhook</string>
		<string>ygrave</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_L_lc_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_uc_a</key>
	<array>
		<string>Atilde</string>
		<string>Adotbelow</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Abrevegrave</string>
		<string>Acircumflexhook</string>
		<string>Abrevehook</string>
		<string>Acircumflex</string>
		<string>A</string>
		<string>Ahook</string>
		<string>Acircumflexdotbelow</string>
		<string>Aringacute</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Aogonek</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexacute</string>
		<string>Abrevetilde</string>
		<string>Agrave</string>
		<string>Acircumflextilde</string>
		<string>Abreve</string>
	</array>
	<key>@MMK_L_uc_c</key>
	<array>
		<string>C</string>
		<string>Cdotaccent</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_uc_d</key>
	<array>
		<string>Eth</string>
		<string>Dcroat</string>
		<string>D</string>
		<string>Dcaron</string>
	</array>
	<key>@MMK_L_uc_e</key>
	<array>
		<string>Ecaron</string>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>E</string>
		<string>Ecircumflexhook</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>OE</string>
		<string>Ebreve</string>
		<string>AEacute</string>
		<string>Ehook</string>
		<string>Edieresis</string>
		<string>Etilde</string>
		<string>Emacron</string>
		<string>Edotbelow</string>
		<string>Edotaccent</string>
		<string>Eacute</string>
		<string>AE</string>
		<string>Ecircumflextilde</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
	</array>
	<key>@MMK_L_uc_g</key>
	<array>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>G</string>
	</array>
	<key>@MMK_L_uc_j</key>
	<array>
		<string>Jacute</string>
		<string>J</string>
		<string>IJ</string>
		<string>IJacute</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_L_uc_k</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_uc_l</key>
	<array>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lslash</string>
		<string>Ldot</string>
	</array>
	<key>@MMK_L_uc_n</key>
	<array>
		<string>Nacute</string>
		<string>Eng</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
	</array>
	<key>@MMK_L_uc_o</key>
	<array>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflextilde</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ohook</string>
		<string>Odotbelow</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexhook</string>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>O</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>Oslashacute</string>
		<string>Obreve</string>
		<string>Ocircumflexacute</string>
		<string>Schwa</string>
		<string>Oacute</string>
	</array>
	<key>@MMK_L_uc_ohorn</key>
	<array>
		<string>Ohornhook</string>
		<string>Ohornacute</string>
		<string>Ohorngrave</string>
		<string>Ohorntilde</string>
		<string>Ohorndotbelow</string>
		<string>Ohorn</string>
	</array>
	<key>@MMK_L_uc_r</key>
	<array>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>R</string>
		<string>Rcaron</string>
	</array>
	<key>@MMK_L_uc_s</key>
	<array>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Scedilla</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_L_uc_t</key>
	<array>
		<string>Tcommaaccent</string>
		<string>Tcaron</string>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tbar</string>
	</array>
	<key>@MMK_L_uc_u</key>
	<array>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Udotbelow</string>
		<string>Uacute</string>
		<string>Uogonek</string>
		<string>Utilde</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Umacron</string>
		<string>Ucircumflex</string>
		<string>U</string>
		<string>Ubreve</string>
		<string>Uhook</string>
	</array>
	<key>@MMK_L_uc_uhorn</key>
	<array>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorn</string>
		<string>Uhorntilde</string>
		<string>Uhorngrave</string>
		<string>Uhornhook</string>
	</array>
	<key>@MMK_L_uc_w</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>W</string>
		<string>Wacute</string>
	</array>
	<key>@MMK_L_uc_y</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Yacute</string>
		<string>Y</string>
		<string>Yhook</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
	</array>
	<key>@MMK_L_uc_z</key>
	<array>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_cyr_lc_acyrillic</key>
	<array>
		<string>uni0430</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni04D5</string>
	</array>
	<key>@MMK_R_cyr_lc_acyrillic.alt01</key>
	<array>
		<string>uni0430.alt01</string>
		<string>uni04D1.alt01</string>
		<string>uni04D3.alt01</string>
	</array>
	<key>@MMK_R_cyr_lc_checyrillic</key>
	<array>
		<string>uni0447</string>
		<string>uni04B7</string>
		<string>uni04B9</string>
		<string>uni04F5</string>
	</array>
	<key>@MMK_R_cyr_lc_djecyrillic</key>
	<array>
		<string>uni0452</string>
		<string>uni045B</string>
	</array>
	<key>@MMK_R_cyr_lc_elcyrillic</key>
	<array>
		<string>uni043B</string>
		<string>uni0459</string>
	</array>
	<key>@MMK_R_cyr_lc_encyrillic</key>
	<array>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni043A</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni044B</string>
		<string>uni044C</string>
		<string>uni044E</string>
		<string>uni0453</string>
		<string>uni045A</string>
		<string>uni045C</string>
		<string>uni045D</string>
		<string>uni045F</string>
		<string>uni0491</string>
		<string>uni0495</string>
		<string>uni049B</string>
		<string>uni049D</string>
		<string>uni04A3</string>
		<string>uni04A5</string>
		<string>uni04E3</string>
		<string>uni04E5</string>
		<string>uni04F9</string>
	</array>
	<key>@MMK_R_cyr_lc_icyrillic</key>
	<array>
		<string>uni0456</string>
		<string>uni0457</string>
	</array>
	<key>@MMK_R_cyr_lc_khacyrillic</key>
	<array>
		<string>uni0445</string>
		<string>uni04B3</string>
	</array>
	<key>@MMK_R_cyr_lc_ocyrillic</key>
	<array>
		<string>uni0435</string>
		<string>uni043E</string>
		<string>uni0441</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni0454</string>
		<string>uni0473</string>
		<string>uni04AB</string>
		<string>uni04D7</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
		<string>uni04D9</string>
	</array>
	<key>@MMK_R_cyr_lc_shhacyrillic</key>
	<array>
		<string>uni04BB</string>
		<string>uni04CF</string>
	</array>
	<key>@MMK_R_cyr_lc_tecyrillic</key>
	<array>
		<string>uni044A</string>
		<string>uni04A1</string>
		<string>uni0442</string>
	</array>
	<key>@MMK_R_cyr_lc_ucyrillic</key>
	<array>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni04EF</string>
		<string>uni04F1</string>
		<string>uni04F3</string>
	</array>
	<key>@MMK_R_cyr_lc_zecyrilic</key>
	<array>
		<string>uni0437</string>
		<string>uni0499</string>
		<string>uni04DF</string>
		<string>uni044D</string>
	</array>
	<key>@MMK_R_cyr_lc_zhecyrillic</key>
	<array>
		<string>uni0436</string>
		<string>uni0497</string>
		<string>uni04C2</string>
		<string>uni04DD</string>
	</array>
	<key>@MMK_R_cyr_uc_Acyrillic</key>
	<array>
		<string>uni0410</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
	</array>
	<key>@MMK_R_cyr_uc_Checyrillic</key>
	<array>
		<string>uni0427</string>
		<string>uni04B6</string>
		<string>uni04B8</string>
		<string>uni04F4</string>
	</array>
	<key>@MMK_R_cyr_uc_Elcyrillic</key>
	<array>
		<string>uni0409</string>
		<string>uni041B</string>
	</array>
	<key>@MMK_R_cyr_uc_Encyrillic</key>
	<array>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni04C0</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni0403</string>
		<string>uni040A</string>
		<string>uni040C</string>
		<string>uni040D</string>
		<string>uni040F</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0415</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041A</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni04D6</string>
		<string>uni04E2</string>
		<string>uni04E4</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni042B</string>
		<string>uni042C</string>
		<string>uni042E</string>
		<string>uni0490</string>
		<string>uni0494</string>
		<string>uni049A</string>
		<string>uni049C</string>
		<string>uni04A2</string>
		<string>uni04A4</string>
		<string>uni04BA</string>
		<string>uni04F8</string>
	</array>
	<key>@MMK_R_cyr_uc_Hardsigncyrillic</key>
	<array>
		<string>uni042A</string>
		<string>uni04A0</string>
	</array>
	<key>@MMK_R_cyr_uc_Khacyrillic</key>
	<array>
		<string>uni0425</string>
		<string>uni04B2</string>
	</array>
	<key>@MMK_R_cyr_uc_Ocyrillic</key>
	<array>
		<string>uni0404</string>
		<string>uni041E</string>
		<string>uni0421</string>
		<string>uni0472</string>
		<string>uni04AA</string>
		<string>uni04D8</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
	</array>
	<key>@MMK_R_cyr_uc_Tecyrillic</key>
	<array>
		<string>uni0402</string>
		<string>uni040B</string>
		<string>uni0422</string>
	</array>
	<key>@MMK_R_cyr_uc_Ucyrillic</key>
	<array>
		<string>uni040E</string>
		<string>uni0423</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
	</array>
	<key>@MMK_R_cyr_uc_Zecyrillic</key>
	<array>
		<string>uni0417</string>
		<string>uni0498</string>
		<string>uni04DE</string>
		<string>uni042D</string>
	</array>
	<key>@MMK_R_cyr_uc_Zhecyrillic</key>
	<array>
		<string>uni0416</string>
		<string>uni0496</string>
		<string>uni04C1</string>
		<string>uni04DC</string>
	</array>
	<key>@MMK_R_inp_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_inp_foot</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_inp_guill</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_inp_guilr</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_inp_hyph</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>softhyphen</string>
	</array>
	<key>@MMK_R_inp_parenth</key>
	<array>
		<string>bracketright</string>
		<string>braceright</string>
	</array>
	<key>@MMK_R_inp_period</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_inp_quotel</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_inp_quoter</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_lc_a</key>
	<array>
		<string>acircumflexgrave</string>
		<string>ae</string>
		<string>acircumflexacute</string>
		<string>abreveacute</string>
		<string>abrevetilde</string>
		<string>agrave</string>
		<string>acircumflextilde</string>
		<string>abreve</string>
		<string>atilde</string>
		<string>adotbelow</string>
		<string>aring</string>
		<string>adieresis</string>
		<string>aacute</string>
		<string>aeacute</string>
		<string>abrevegrave</string>
		<string>acircumflexhook</string>
		<string>abrevehook</string>
		<string>acircumflex</string>
		<string>a</string>
		<string>ahook</string>
		<string>acircumflexdotbelow</string>
		<string>aringacute</string>
		<string>amacron</string>
		<string>abrevedotbelow</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_R_lc_d</key>
	<array>
		<string>abrevedotbelow.alt01</string>
		<string>acircumflex.alt01</string>
		<string>gbreve.alt01</string>
		<string>abrevegrave.alt01</string>
		<string>g.alt01</string>
		<string>aogonek.alt01</string>
		<string>adotbelow.alt01</string>
		<string>aacute.alt01</string>
		<string>atilde.alt01</string>
		<string>abreveacute.alt01</string>
		<string>acircumflexacute.alt01</string>
		<string>abrevetilde.alt01</string>
		<string>aringacute.alt01</string>
		<string>a.alt01</string>
		<string>abreve.alt01</string>
		<string>gdotaccent.alt01</string>
		<string>gcircumflex.alt01</string>
		<string>aring.alt01</string>
		<string>adieresis.alt01</string>
		<string>acircumflexgrave.alt01</string>
		<string>dcaron</string>
		<string>acircumflextilde.alt01</string>
		<string>acircumflexdotbelow.alt01</string>
		<string>amacron.alt01</string>
		<string>ahook.alt01</string>
		<string>abrevehook.alt01</string>
		<string>dcroat</string>
		<string>d</string>
		<string>gcommaaccent.alt01</string>
		<string>q</string>
		<string>acircumflexhook.alt01</string>
		<string>agrave.alt01</string>
		<string>eth</string>
	</array>
	<key>@MMK_R_lc_f</key>
	<array>
		<string>fi</string>
		<string>fl</string>
		<string>germandbls</string>
		<string>f</string>
	</array>
	<key>@MMK_R_lc_g</key>
	<array>
		<string>gdotaccent</string>
		<string>gbreve</string>
		<string>g.alt02</string>
		<string>g</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_R_lc_h</key>
	<array>
		<string>kcommaaccent</string>
		<string>lcaron</string>
		<string>h</string>
		<string>k</string>
		<string>lcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>hcircumflex</string>
		<string>lslash</string>
		<string>ldot</string>
	</array>
	<key>@MMK_R_lc_i</key>
	<array>
		<string>idotbelow</string>
		<string>iacute</string>
		<string>iogonek</string>
		<string>i</string>
		<string>ihook</string>
		<string>ijacute</string>
		<string>igrave</string>
		<string>itilde</string>
		<string>icircumflex</string>
		<string>imacron</string>
		<string>ij</string>
		<string>ibreve</string>
		<string>idieresis</string>
	</array>
	<key>@MMK_R_lc_j</key>
	<array>
		<string>dotlessj</string>
		<string>jacute</string>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_lc_n</key>
	<array>
		<string>racute</string>
		<string>nacute</string>
		<string>eng</string>
		<string>rcommaaccent</string>
		<string>kgreenlandic</string>
		<string>m</string>
		<string>rcaron</string>
		<string>n</string>
		<string>ntilde</string>
		<string>r</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>dotlessi</string>
	</array>
	<key>@MMK_R_lc_o</key>
	<array>
		<string>cdotaccent</string>
		<string>ohornacute</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>ocircumflexhook</string>
		<string>edieresis</string>
		<string>obreve</string>
		<string>ohornhook</string>
		<string>ecircumflextilde</string>
		<string>ecircumflexdotbelow</string>
		<string>edotaccent</string>
		<string>ocircumflexgrave</string>
		<string>egrave</string>
		<string>ccedilla</string>
		<string>odotbelow</string>
		<string>ohorngrave</string>
		<string>otilde</string>
		<string>ccaron</string>
		<string>ohorntilde</string>
		<string>schwa</string>
		<string>ecircumflexhook</string>
		<string>oslash</string>
		<string>ohorn</string>
		<string>ocircumflextilde</string>
		<string>ocircumflexdotbelow</string>
		<string>cacute</string>
		<string>ecircumflex</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>ecircumflexacute</string>
		<string>ebreve</string>
		<string>omacron</string>
		<string>eogonek</string>
		<string>edotbelow</string>
		<string>ccircumflex</string>
		<string>ohorndotbelow</string>
		<string>eacute</string>
		<string>etilde</string>
		<string>ecaron</string>
		<string>oslashacute</string>
		<string>c</string>
		<string>ohook</string>
		<string>e</string>
		<string>oe</string>
		<string>ehook</string>
		<string>o</string>
		<string>emacron</string>
		<string>ocircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>oacute</string>
	</array>
	<key>@MMK_R_lc_s</key>
	<array>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_lc_t</key>
	<array>
		<string>tcommaaccent</string>
		<string>tcaron</string>
		<string>t</string>
		<string>tcedilla</string>
		<string>tbar</string>
	</array>
	<key>@MMK_R_lc_u</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>uhorngrave</string>
		<string>utilde</string>
		<string>udotbelow</string>
		<string>uacute</string>
		<string>uhorndotbelow</string>
		<string>umacron</string>
		<string>uhorntilde</string>
		<string>uring</string>
		<string>uhorn</string>
		<string>ugrave</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>uhornacute</string>
		<string>u</string>
		<string>uhornhook</string>
		<string>ubreve</string>
		<string>uhook</string>
	</array>
	<key>@MMK_R_lc_w</key>
	<array>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>w</string>
		<string>wacute</string>
	</array>
	<key>@MMK_R_lc_y</key>
	<array>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>yacute</string>
		<string>y</string>
		<string>yhook</string>
		<string>ygrave</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_R_lc_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_uc_a</key>
	<array>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Adotbelow</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Abrevegrave</string>
		<string>Acircumflexhook</string>
		<string>Abrevehook</string>
		<string>Acircumflex</string>
		<string>A</string>
		<string>Ahook</string>
		<string>AE</string>
		<string>Acircumflexdotbelow</string>
		<string>Aringacute</string>
		<string>AEacute</string>
		<string>Amacron</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Aogonek</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexacute</string>
		<string>Abrevetilde</string>
		<string>Agrave</string>
		<string>Acircumflextilde</string>
		<string>Abreve</string>
	</array>
	<key>@MMK_R_uc_h</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhook</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehook</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihook</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>Dcroat</string>
		<string>Eng</string>
		<string>Eth</string>
		<string>Germandbls</string>
		<string>Hbar</string>
		<string>IJ</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Thorn</string>
		<string>IJacute</string>
	</array>
	<key>@MMK_R_uc_j</key>
	<array>
		<string>Jacute</string>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_uc_o</key>
	<array>
		<string>Ocircumflexgrave</string>
		<string>Schwa</string>
		<string>Odotbelow</string>
		<string>Ohorngrave</string>
		<string>Omacron</string>
		<string>Ccaron</string>
		<string>Ohorntilde</string>
		<string>Gcircumflex</string>
		<string>Ohorn</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>Ocircumflexdotbelow</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>C</string>
		<string>Ohook</string>
		<string>G</string>
		<string>Ocircumflextilde</string>
		<string>O</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>Ohorndotbelow</string>
		<string>Ocircumflexacute</string>
		<string>Oacute</string>
		<string>Cdotaccent</string>
		<string>Ohornacute</string>
		<string>Ograve</string>
		<string>Ohornhook</string>
		<string>OE</string>
		<string>Ocircumflexhook</string>
		<string>Obreve</string>
		<string>Ccedilla</string>
		<string>Ocircumflex</string>
	</array>
	<key>@MMK_R_uc_s</key>
	<array>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Scedilla</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_R_uc_t</key>
	<array>
		<string>Tcommaaccent</string>
		<string>Tcaron</string>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tbar</string>
	</array>
	<key>@MMK_R_uc_u</key>
	<array>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Utilde</string>
		<string>Udotbelow</string>
		<string>Uacute</string>
		<string>Uogonek</string>
		<string>Uhorndotbelow</string>
		<string>Uhorntilde</string>
		<string>Uhornacute</string>
		<string>Uring</string>
		<string>Uhorn</string>
		<string>Ugrave</string>
		<string>Umacron</string>
		<string>Ucircumflex</string>
		<string>Uhorngrave</string>
		<string>U</string>
		<string>Uhornhook</string>
		<string>Ubreve</string>
		<string>Uhook</string>
	</array>
	<key>@MMK_R_uc_w</key>
	<array>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>W</string>
		<string>Wacute</string>
	</array>
	<key>@MMK_R_uc_y</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Yacute</string>
		<string>Y</string>
		<string>Yhook</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
	</array>
	<key>@MMK_R_uc_z</key>
	<array>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
</dict>
</plist>
