@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 300;
  src: local('IBM Plex Serif Light Italic'), local('IBMPlexSerif-LightItalic'),
    url('#{$font-prefix}/fonts/Serif/web/woff2/IBMPlexSerif-LightItalic-Latin3.woff2')
      format('woff2'),
    url('#{$font-prefix}/fonts/Serif/web/woff/IBMPlexSerif-LightItalic-Latin3.woff')
      format('woff');
  unicode-range: 'U+0102-0103, U+1EA0-1EF9, U+20AB';
}
