<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_arab_ain</key>
	<array>
		<string>ain-ar</string>
		<string>ghain-ar</string>
		<string>ain-ar.short</string>
		<string>ghain-ar.short</string>
	</array>
	<key>@MMK_L_arab_alef</key>
	<array>
		<string>alef-ar</string>
		<string>alefHamzabelow-ar</string>
		<string>alefWavyhamzabelow-ar</string>
		<string>highhamzaAlef-ar</string>
		<string>alef-ar.fina</string>
		<string>alefHamzabelow-ar.fina</string>
		<string>alefWavyhamzabelow-ar.fina</string>
		<string>alef-ar.short</string>
		<string>alefFathatan-ar</string>
		<string>alef-ar.fina.short</string>
		<string>alefFathatan-ar.fina</string>
		<string>highhamzaAlef-ar.fina</string>
	</array>
	<key>@MMK_L_arab_alefHamzaabove</key>
	<array>
		<string>alefHamzaabove-ar</string>
		<string>alefHamzaabove-ar.fina</string>
	</array>
	<key>@MMK_L_arab_alefMadda</key>
	<array>
		<string>alefWavyhamzaabove-ar</string>
		<string>alefMadda-ar</string>
		<string>alefWasla-ar</string>
		<string>alefWavyhamzaabove-ar.fina</string>
		<string>alefMadda-ar.fina</string>
		<string>alefWasla-ar.fina</string>
	</array>
	<key>@MMK_L_arab_alefMaksura</key>
	<array>
		<string>alefMaksura-ar</string>
		<string>yeh-ar</string>
		<string>yehHamzaabove-ar</string>
	</array>
	<key>@MMK_L_arab_hah</key>
	<array>
		<string>hah-ar</string>
		<string>jeem-ar</string>
		<string>khah-ar</string>
		<string>hah-ar.short</string>
		<string>jeem-ar.short</string>
		<string>khah-ar.short</string>
	</array>
	<key>@MMK_L_arab_kaf_init</key>
	<array>
		<string>gaf-ar</string>
	</array>
	<key>@MMK_L_arab_lam_alef_rlig</key>
	<array>
		<string>lam_alef-ar.rlig</string>
		<string>lam_alefHamzaabove-ar.rlig</string>
		<string>lam_alefHamzabelow-ar.rlig</string>
		<string>lam_alefWavyhamzabelow-ar.rlig</string>
	</array>
	<key>@MMK_L_arab_reh</key>
	<array>
		<string>reh-ar</string>
		<string>zain-ar</string>
		<string>reh-ar.short</string>
		<string>reh-ar.fina</string>
		<string>zain-ar.fina</string>
		<string>reh-ar.fina.short</string>
		<string>zain-ar.fina.short</string>
		<string>zain-ar.short</string>
		<string>seen_reh-ar.rlig</string>
		<string>seen_zain-ar.rlig</string>
		<string>seen_rreh-ar.rlig</string>
		<string>seen_jeh-ar.rlig</string>
		<string>sheen_reh-ar.rlig</string>
		<string>sheen_zain-ar.rlig</string>
		<string>sheen_rreh-ar.rlig</string>
		<string>sheen_jeh-ar.rlig</string>
		<string>seen_reh-ar.fina.rlig</string>
		<string>seen_zain-ar.fina.rlig</string>
		<string>seen_rreh-ar.fina.rlig</string>
		<string>seen_jeh-ar.fina.rlig</string>
		<string>sheen_reh-ar.fina.rlig</string>
		<string>sheen_zain-ar.fina.rlig</string>
		<string>sheen_rreh-ar.fina.rlig</string>
		<string>sheen_jeh-ar.fina.rlig</string>
		<string>seen_reh-ar.fina.rlig.short</string>
		<string>seen_zain-ar.fina.rlig.short</string>
		<string>seen_rreh-ar.fina.rlig.short</string>
		<string>seen_jeh-ar.fina.rlig.short</string>
		<string>sheen_reh-ar.fina.rlig.short</string>
		<string>sheen_zain-ar.fina.rlig.short</string>
		<string>sheen_rreh-ar.fina.rlig.short</string>
		<string>sheen_jeh-ar.fina.rlig.short</string>
		<string>seen_reh-ar.rlig.short</string>
		<string>seen_zain-ar.rlig.short</string>
		<string>seen_rreh-ar.rlig.short</string>
		<string>seen_jeh-ar.rlig.short</string>
		<string>sheen_reh-ar.rlig.short</string>
		<string>sheen_zain-ar.rlig.short</string>
		<string>sheen_rreh-ar.rlig.short</string>
		<string>sheen_jeh-ar.rlig.short</string>
		<string>sad_reh-ar.rlig</string>
		<string>sad_zain-ar.rlig</string>
		<string>sad_rreh-ar.rlig</string>
		<string>sad_jeh-ar.rlig</string>
		<string>dad_reh-ar.rlig</string>
		<string>dad_zain-ar.rlig</string>
		<string>dad_rreh-ar.rlig</string>
		<string>dad_jeh-ar.rlig</string>
		<string>sad_reh-ar.fina.rlig</string>
		<string>sad_zain-ar.fina.rlig</string>
		<string>sad_rreh-ar.fina.rlig</string>
		<string>sad_jeh-ar.fina.rlig</string>
		<string>dad_reh-ar.fina.rlig</string>
		<string>dad_zain-ar.fina.rlig</string>
		<string>dad_rreh-ar.fina.rlig</string>
		<string>dad_jeh-ar.fina.rlig</string>
		<string>sad_reh-ar.fina.rlig.short</string>
		<string>sad_zain-ar.fina.rlig.short</string>
		<string>sad_rreh-ar.fina.rlig.short</string>
		<string>sad_jeh-ar.fina.rlig.short</string>
		<string>dad_reh-ar.fina.rlig.short</string>
		<string>dad_zain-ar.fina.rlig.short</string>
		<string>dad_rreh-ar.fina.rlig.short</string>
		<string>dad_jeh-ar.fina.rlig.short</string>
		<string>sad_reh-ar.rlig.short</string>
		<string>sad_zain-ar.rlig.short</string>
		<string>sad_rreh-ar.rlig.short</string>
		<string>sad_jeh-ar.rlig.short</string>
		<string>dad_reh-ar.rlig.short</string>
		<string>dad_zain-ar.rlig.short</string>
		<string>dad_rreh-ar.rlig.short</string>
		<string>dad_jeh-ar.rlig.short</string>
		<string>alefMaksura_reh-ar.fina.rlig</string>
		<string>alefMaksura_zain-ar.fina.rlig</string>
		<string>alefMaksura_zain-ar.fina.rlig.short</string>
		<string>alefMaksura_jeh-ar.fina.rlig</string>
		<string>alefMaksura_jeh-ar.fina.rlig.short</string>
		<string>beh_reh-ar.fina.rlig</string>
		<string>beh_zain-ar.fina.rlig</string>
		<string>beh_rreh-ar.fina.rlig</string>
		<string>beh_jeh-ar.fina.rlig</string>
		<string>peh_reh-ar.fina.rlig</string>
		<string>peh_zain-ar.fina.rlig</string>
		<string>peh_rreh-ar.fina.rlig</string>
		<string>peh_jeh-ar.fina.rlig</string>
		<string>teh_reh-ar.fina.rlig</string>
		<string>teh_zain-ar.fina.rlig</string>
		<string>teh_rreh-ar.fina.rlig</string>
		<string>teh_jeh-ar.fina.rlig</string>
		<string>theh_reh-ar.fina.rlig</string>
		<string>theh_zain-ar.fina.rlig</string>
		<string>theh_rreh-ar.fina.rlig</string>
		<string>theh_jeh-ar.fina.rlig</string>
		<string>tteh_reh-ar.fina.rlig</string>
		<string>tteh_zain-ar.fina.rlig</string>
		<string>tteh_rreh-ar.fina.rlig</string>
		<string>tteh_jeh-ar.fina.rlig</string>
		<string>noon_reh-ar.fina.rlig</string>
		<string>noon_zain-ar.fina.rlig</string>
		<string>noon_rreh-ar.fina.rlig</string>
		<string>noon_jeh-ar.fina.rlig</string>
		<string>yeh_reh-ar.fina.rlig</string>
		<string>yeh_zain-ar.fina.rlig</string>
		<string>yeh_rreh-ar.fina.rlig</string>
		<string>yeh_jeh-ar.fina.rlig</string>
		<string>yehHamzaabove_reh-ar.fina.rlig</string>
		<string>yehHamzaabove_zain-ar.fina.rlig</string>
		<string>yehHamzaabove_rreh-ar.fina.rlig</string>
		<string>yehHamzaabove_jeh-ar.fina.rlig</string>
		<string>yeh_zain-farsi.fina.rlig</string>
		<string>yeh_reh-farsi.fina.rlig</string>
		<string>yeh_jeh-farsi.fina.rlig</string>
		<string>yeh_rreh-farsi.fina.rlig</string>
		<string>alefMaksura_reh-ar.fina.rlig.short</string>
		<string>beh_reh-ar.fina.rlig.short</string>
		<string>beh_zain-ar.fina.rlig.short</string>
		<string>beh_rreh-ar.fina.rlig.short</string>
		<string>beh_jeh-ar.fina.rlig.short</string>
		<string>peh_reh-ar.fina.rlig.short</string>
		<string>peh_zain-ar.fina.rlig.short</string>
		<string>peh_rreh-ar.fina.rlig.short</string>
		<string>peh_jeh-ar.fina.rlig.short</string>
		<string>teh_reh-ar.fina.rlig.short</string>
		<string>teh_zain-ar.fina.rlig.short</string>
		<string>teh_rreh-ar.fina.rlig.short</string>
		<string>teh_jeh-ar.fina.rlig.short</string>
		<string>theh_reh-ar.fina.rlig.short</string>
		<string>theh_zain-ar.fina.rlig.short</string>
		<string>theh_rreh-ar.fina.rlig.short</string>
		<string>theh_jeh-ar.fina.rlig.short</string>
		<string>noon_reh-ar.fina.rlig.short</string>
		<string>noon_zain-ar.fina.rlig.short</string>
		<string>noon_rreh-ar.fina.rlig.short</string>
		<string>noon_jeh-ar.fina.rlig.short</string>
		<string>yeh_reh-ar.fina.rlig.short</string>
		<string>yeh_zain-ar.fina.rlig.short</string>
		<string>yeh_rreh-ar.fina.rlig.short</string>
		<string>yeh_jeh-ar.fina.rlig.short</string>
		<string>yehHamzaabove_reh-ar.fina.rlig.short</string>
		<string>yehHamzaabove_zain-ar.fina.rlig.short</string>
		<string>yehHamzaabove_rreh-ar.fina.rlig.short</string>
		<string>yehHamzaabove_jeh-ar.fina.rlig.short</string>
		<string>yeh_jeh-farsi.fina.rlig.short</string>
		<string>yeh_reh-farsi.fina.rlig.short</string>
		<string>yeh_rreh-farsi.fina.rlig.short</string>
		<string>yeh_zain-farsi.fina.rlig.short</string>
	</array>
	<key>@MMK_L_arab_tah_init</key>
	<array>
		<string>tah-ar.medi</string>
		<string>tah-ar.init</string>
	</array>
	<key>@MMK_L_arab_three</key>
	<array>
		<string>three-ar</string>
	</array>
	<key>@MMK_L_arab_waw</key>
	<array>
		<string>waw-ar</string>
		<string>wawHamzaabove-ar</string>
		<string>waw-ar.fina</string>
		<string>wawHamzaabove-ar.fina</string>
	</array>
	<key>@MMK_L_grek_uc_Alpha</key>
	<array>
		<string>Delta</string>
	</array>
	<key>@MMK_L_grek_uc_Omega</key>
	<array>
		<string>Omega</string>
	</array>
	<key>@MMK_L_inp_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_inp_foot</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_inp_fraction</key>
	<array>
		<string>fraction</string>
		<string>divisionslash</string>
	</array>
	<key>@MMK_L_inp_guill</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_inp_guilr</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_L_inp_hyph</key>
	<array>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_L_inp_parenth</key>
	<array>
		<string>bracketleft</string>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_inp_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_inp_quotel</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_L_inp_quoter</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_latn_lc_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_latn_lc_b</key>
	<array>
		<string>b</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_latn_lc_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_latn_lc_e</key>
	<array>
		<string>e</string>
		<string>ae</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_latn_lc_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_latn_lc_g</key>
	<array>
		<string>g</string>
		<string>g.alt02</string>
	</array>
	<key>@MMK_L_latn_lc_i</key>
	<array>
		<string>i</string>
		<string>fi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>@MMK_L_latn_lc_j</key>
	<array>
		<string>g.alt01</string>
		<string>j</string>
		<string>q</string>
		<string>dotlessi</string>
		<string>ij</string>
		<string>dotlessj</string>
		<string>jacute</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_L_latn_lc_k</key>
	<array>
		<string>k</string>
	</array>
	<key>@MMK_L_latn_lc_l</key>
	<array>
		<string>l</string>
		<string>fl</string>
		<string>lslash</string>
	</array>
	<key>@MMK_L_latn_lc_n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_latn_lc_o</key>
	<array>
		<string>o</string>
		<string>eth</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>@MMK_L_latn_lc_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_latn_lc_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@MMK_L_latn_lc_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_L_latn_lc_u</key>
	<array>
		<string>a.alt01</string>
		<string>u</string>
		<string>aacute.alt01</string>
		<string>acircumflex.alt01</string>
		<string>adieresis.alt01</string>
		<string>agrave.alt01</string>
		<string>aring.alt01</string>
		<string>atilde.alt01</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_latn_lc_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_L_latn_lc_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_latn_lc_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_L_latn_uc_a</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_latn_uc_c</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_latn_uc_d</key>
	<array>
		<string>D</string>
		<string>Dcroat</string>
		<string>Eth</string>
	</array>
	<key>@MMK_L_latn_uc_e</key>
	<array>
		<string>E</string>
		<string>AE</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_latn_uc_g</key>
	<array>
		<string>G</string>
	</array>
	<key>@MMK_L_latn_uc_i</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
	</array>
	<key>@MMK_L_latn_uc_j</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_L_latn_uc_k</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_latn_uc_l</key>
	<array>
		<string>L</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_latn_uc_o</key>
	<array>
		<string>O</string>
		<string>Q</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
	</array>
	<key>@MMK_L_latn_uc_r</key>
	<array>
		<string>R</string>
	</array>
	<key>@MMK_L_latn_uc_s</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_L_latn_uc_t</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_latn_uc_u</key>
	<array>
		<string>U</string>
		<string>IJ</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_L_latn_uc_w</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_latn_uc_y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_latn_uc_z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_R_arab_ain</key>
	<array>
		<string>ain-ar</string>
		<string>ghain-ar</string>
		<string>ain-ar.short</string>
		<string>ghain-ar.short</string>
	</array>
	<key>@MMK_R_arab_alefMaksura</key>
	<array>
		<string>alefMaksura-ar</string>
		<string>yeh-ar</string>
		<string>yehHamzaabove-ar</string>
	</array>
	<key>@MMK_R_arab_alefMaksura_fina</key>
	<array>
		<string>alefMaksura-ar.fina</string>
		<string>yeh-ar.fina</string>
		<string>yehHamzaabove-ar.fina</string>
	</array>
	<key>@MMK_R_arab_beh_init</key>
	<array>
		<string>beeh-ar.init</string>
		<string>behThreedotsupabove-ar.init</string>
		<string>e-ar.init</string>
		<string>tehRing-ar.init</string>
	</array>
	<key>@MMK_R_arab_dotlessbeh_init</key>
	<array>
		<string>behDotless-ar.init</string>
		<string>behDotless-ar</string>
	</array>
	<key>@MMK_R_arab_dotlessfeh_init</key>
	<array>
		<string>fehDotless-ar</string>
		<string>fehDotless-ar.init</string>
	</array>
	<key>@MMK_R_arab_hah</key>
	<array>
		<string>hah-ar</string>
		<string>jeem-ar</string>
		<string>khah-ar</string>
		<string>hah-ar.short</string>
		<string>jeem-ar.short</string>
		<string>khah-ar.short</string>
	</array>
	<key>@MMK_R_arab_hah_init</key>
	<array>
		<string>hah-ar.init</string>
		<string>jeem-ar.init</string>
		<string>khah-ar.init</string>
	</array>
	<key>@MMK_R_arab_kaf_alefMaksura</key>
	<array>
		<string>kaf_alefMaksura-ar.rlig</string>
		<string>kaf_yeh-ar.rlig</string>
		<string>kaf_yehHamzaabove-ar.rlig</string>
		<string>keheh_yeh-ar.rlig</string>
		<string>gaf_alefMaksura-ar.rlig</string>
		<string>gaf_yeh-ar.rlig</string>
		<string>gaf_yehHamzaabove-ar.rlig</string>
	</array>
	<key>@MMK_R_arab_kaf_init</key>
	<array>
		<string>kaf-ar.init</string>
		<string>keheh-ar.init</string>
		<string>gaf-ar.init</string>
		<string>keheh-ar</string>
	</array>
	<key>@MMK_R_arab_lam_alef_rlig</key>
	<array>
		<string>lam_alef-ar.rlig</string>
		<string>lam_alefHamzaabove-ar.rlig</string>
		<string>lam_alefHamzabelow-ar.rlig</string>
		<string>lam_alefWavyhamzaabove-ar.rlig</string>
		<string>lam_alefWavyhamzabelow-ar.rlig</string>
		<string>lam_alefMadda-ar.rlig</string>
		<string>lam_alefWasla-ar.rlig</string>
	</array>
	<key>@MMK_R_arab_noonghunna</key>
	<array>
		<string>lam-ar.fina</string>
		<string>noonghunna-ar</string>
	</array>
	<key>@MMK_R_arab_reh</key>
	<array>
		<string>reh-ar</string>
		<string>zain-ar</string>
		<string>reh-ar.short</string>
		<string>zain-ar.short</string>
	</array>
	<key>@MMK_R_arab_teh_init</key>
	<array>
		<string>teh-ar.init</string>
		<string>theh-ar.init</string>
		<string>teheh-ar.init</string>
	</array>
	<key>@MMK_R_arab_three</key>
	<array>
		<string>three-ar</string>
	</array>
	<key>@MMK_R_arab_yeh_init</key>
	<array>
		<string>peh-ar.init</string>
		<string>beheh-ar.init</string>
		<string>behThreedotsupbelow-ar.init</string>
		<string>tehThreedotsupbelow-ar.init</string>
		<string>behVinvertedbelow-ar.init</string>
		<string>behVbelow-ar.init</string>
		<string>yeh-ar.init</string>
		<string>yeh-farsi.init</string>
	</array>
	<key>@MMK_R_grek_lc_kappa</key>
	<array>
		<string>mu</string>
	</array>
	<key>@MMK_R_grek_uc_Alpha</key>
	<array>
		<string>Delta</string>
	</array>
	<key>@MMK_R_grek_uc_Omega</key>
	<array>
		<string>Omega</string>
	</array>
	<key>@MMK_R_inp_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_inp_foot</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_inp_fraction</key>
	<array>
		<string>fraction</string>
		<string>divisionslash</string>
	</array>
	<key>@MMK_R_inp_guill</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_inp_guilr</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_inp_hyph</key>
	<array>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_R_inp_parenth</key>
	<array>
		<string>bracketright</string>
		<string>braceright</string>
	</array>
	<key>@MMK_R_inp_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_inp_quotel</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_R_inp_quoter</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_latn_lc_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_latn_lc_c</key>
	<array>
		<string>c</string>
		<string>e</string>
		<string>o</string>
		<string>ccedilla</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_latn_lc_d</key>
	<array>
		<string>a.alt01</string>
		<string>d</string>
		<string>g.alt01</string>
		<string>q</string>
		<string>aacute.alt01</string>
		<string>acircumflex.alt01</string>
		<string>adieresis.alt01</string>
		<string>agrave.alt01</string>
		<string>aring.alt01</string>
		<string>atilde.alt01</string>
		<string>eth</string>
	</array>
	<key>@MMK_R_latn_lc_f</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_latn_lc_g</key>
	<array>
		<string>g</string>
		<string>g.alt02</string>
	</array>
	<key>@MMK_R_latn_lc_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
	</array>
	<key>@MMK_R_latn_lc_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
	</array>
	<key>@MMK_R_latn_lc_j</key>
	<array>
		<string>j</string>
		<string>dotlessj</string>
		<string>jacute</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_latn_lc_l</key>
	<array>
		<string>l</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>germandbls.alt01</string>
	</array>
	<key>@MMK_R_latn_lc_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>r</string>
		<string>dotlessi</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_latn_lc_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_latn_lc_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_latn_lc_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_latn_lc_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_R_latn_lc_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_latn_lc_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_latn_uc_a</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
	</array>
	<key>@MMK_R_latn_uc_i</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
	</array>
	<key>@MMK_R_latn_uc_j</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_latn_uc_o</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_latn_uc_s</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_R_latn_uc_t</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_latn_uc_u</key>
	<array>
		<string>U</string>
		<string>IJ</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_R_latn_uc_w</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_latn_uc_y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_latn_uc_z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
</dict>
</plist>
