<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>__notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE__.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>Delta</key>
	<string>Delta_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Germandbls</key>
	<string>Germandbls_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>IJ__.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE__.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Omega</key>
	<string>Omega_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt01</key>
	<string>a.alt01.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.alt01</key>
	<string>aacute.alt01.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.alt01</key>
	<string>acircumflex.alt01.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acute.case</key>
	<string>acute.case.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.alt01</key>
	<string>adieresis.alt01.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.alt01</key>
	<string>agrave.alt01.glif</string>
	<key>alef-hb</key>
	<string>alef-hb.glif</string>
	<key>alefdagesh-hb</key>
	<string>alefdagesh-hb.glif</string>
	<key>aleflamed-hb</key>
	<string>aleflamed-hb.glif</string>
	<key>alefpatah-hb</key>
	<string>alefpatah-hb.glif</string>
	<key>alefqamats-hb</key>
	<string>alefqamats-hb.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.alt01</key>
	<string>aring.alt01.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowdownclockhalf</key>
	<string>arrowdownclockhalf.glif</string>
	<key>arrowdowncounterclockhalf</key>
	<string>arrowdowncounterclockhalf.glif</string>
	<key>arrowdownleft</key>
	<string>arrowdownleft.glif</string>
	<key>arrowdownleftcorner</key>
	<string>arrowdownleftcorner.glif</string>
	<key>arrowdownright</key>
	<string>arrowdownright.glif</string>
	<key>arrowdownrightcorner</key>
	<string>arrowdownrightcorner.glif</string>
	<key>arrowhookleft</key>
	<string>arrowhookleft.glif</string>
	<key>arrowhookright</key>
	<string>arrowhookright.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowleftarrowright</key>
	<string>arrowleftarrowright.glif</string>
	<key>arrowleftdowncorner</key>
	<string>arrowleftdowncorner.glif</string>
	<key>arrowleftright</key>
	<string>arrowleftright.glif</string>
	<key>arrowleftupcorner</key>
	<string>arrowleftupcorner.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowrightarrowleft</key>
	<string>arrowrightarrowleft.glif</string>
	<key>arrowrightdowncorner</key>
	<string>arrowrightdowncorner.glif</string>
	<key>arrowrightupcorner</key>
	<string>arrowrightupcorner.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>arrowupdown</key>
	<string>arrowupdown.glif</string>
	<key>arrowupleft</key>
	<string>arrowupleft.glif</string>
	<key>arrowupleftcorner</key>
	<string>arrowupleftcorner.glif</string>
	<key>arrowupleftcounterclock</key>
	<string>arrowupleftcounterclock.glif</string>
	<key>arrowupright</key>
	<string>arrowupright.glif</string>
	<key>arrowuprightclock</key>
	<string>arrowuprightclock.glif</string>
	<key>arrowuprightcorner</key>
	<string>arrowuprightcorner.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.alt01</key>
	<string>atilde.alt01.glif</string>
	<key>ayin-hb</key>
	<string>ayin-hb.glif</string>
	<key>ayinaltone-hb</key>
	<string>ayinaltone-hb.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>baht</key>
	<string>baht.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bet-hb</key>
	<string>bet-hb.glif</string>
	<key>betdagesh-hb</key>
	<string>betdagesh-hb.glif</string>
	<key>betrafe-hb</key>
	<string>betrafe-hb.glif</string>
	<key>bitcoin</key>
	<string>bitcoin.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>breve.case</key>
	<string>breve.case.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.case</key>
	<string>caron.case.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>caronslovak</key>
	<string>caronslovak.glif</string>
	<key>caronslovakcomb</key>
	<string>caronslovakcomb.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedi</key>
	<string>cedi.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>celogo</key>
	<string>celogo.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>checkmark</key>
	<string>checkmark.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflex.case</key>
	<string>circumflex.case.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>coloncurrency</key>
	<string>coloncurrency.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaturnedtop</key>
	<string>commaturnedtop.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>crossmark</key>
	<string>crossmark.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagesh-hb</key>
	<string>dagesh-hb.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dalet-hb</key>
	<string>dalet-hb.glif</string>
	<key>daletdagesh-hb</key>
	<string>daletdagesh-hb.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresis.case</key>
	<string>dieresis.case.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divisionslash</key>
	<string>divisionslash.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dong</key>
	<string>dong.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccent.case</key>
	<string>dotaccent.case.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dotlessj</key>
	<string>dotlessj.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.loclIWR</key>
	<string>eight.loclIWR___.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fcclogo</key>
	<string>fcclogo.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>finalkaf-hb</key>
	<string>finalkaf-hb.glif</string>
	<key>finalkaf_qamats-hb</key>
	<string>finalkaf_qamats-hb.glif</string>
	<key>finalkaf_sheva-hb</key>
	<string>finalkaf_sheva-hb.glif</string>
	<key>finalkafdagesh-hb</key>
	<string>finalkafdagesh-hb.glif</string>
	<key>finalkafdagesh_qamats-hb</key>
	<string>finalkafdagesh_qamats-hb.glif</string>
	<key>finalkafdagesh_sheva-hb</key>
	<string>finalkafdagesh_sheva-hb.glif</string>
	<key>finalmem-hb</key>
	<string>finalmem-hb.glif</string>
	<key>finalnun-hb</key>
	<string>finalnun-hb.glif</string>
	<key>finalpe-hb</key>
	<string>finalpe-hb.glif</string>
	<key>finalpedagesh-hb</key>
	<string>finalpedagesh-hb.glif</string>
	<key>finaltsadi-hb</key>
	<string>finaltsadi-hb.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.loclIWR</key>
	<string>five.loclIWR___.glif</string>
	<key>fiveinferior</key>
	<string>fiveinferior.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.loclIWR</key>
	<string>four.loclIWR___.glif</string>
	<key>fourinferior</key>
	<string>fourinferior.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt01</key>
	<string>g.alt01.glif</string>
	<key>g.alt02</key>
	<string>g.alt02.glif</string>
	<key>geresh-hb</key>
	<string>geresh-hb.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.alt01</key>
	<string>germandbls.alt01.glif</string>
	<key>gershayim-hb</key>
	<string>gershayim-hb.glif</string>
	<key>gimel-hb</key>
	<string>gimel-hb.glif</string>
	<key>gimeldagesh-hb</key>
	<string>gimeldagesh-hb.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave.case</key>
	<string>grave.case.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guarani</key>
	<string>guarani.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hatafpatah-hb</key>
	<string>hatafpatah-hb.glif</string>
	<key>hatafqamats-hb</key>
	<string>hatafqamats-hb.glif</string>
	<key>hatafsegol-hb</key>
	<string>hatafsegol-hb.glif</string>
	<key>he-hb</key>
	<string>he-hb.glif</string>
	<key>hedagesh-hb</key>
	<string>hedagesh-hb.glif</string>
	<key>het-hb</key>
	<string>het-hb.glif</string>
	<key>hiriq-hb</key>
	<string>hiriq-hb.glif</string>
	<key>holam-hb</key>
	<string>holam-hb.glif</string>
	<key>holamhaser-hb</key>
	<string>holamhaser-hb.glif</string>
	<key>hryvnia</key>
	<string>hryvnia.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>ibmlogo07</key>
	<string>ibmlogo07.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jacute</key>
	<string>jacute.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kaf-hb</key>
	<string>kaf-hb.glif</string>
	<key>kafdagesh-hb</key>
	<string>kafdagesh-hb.glif</string>
	<key>kafrafe-hb</key>
	<string>kafrafe-hb.glif</string>
	<key>kip</key>
	<string>kip.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lamed-hb</key>
	<string>lamed-hb.glif</string>
	<key>lamed_dagesh_holam-hb</key>
	<string>lamed_dagesh_holam-hb.glif</string>
	<key>lamed_holam-hb</key>
	<string>lamed_holam-hb.glif</string>
	<key>lameddagesh-hb</key>
	<string>lameddagesh-hb.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lira</key>
	<string>lira.glif</string>
	<key>liraturkish</key>
	<string>liraturkish.glif</string>
	<key>litre</key>
	<string>litre.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macron.case</key>
	<string>macron.case.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>maqaf-hb</key>
	<string>maqaf-hb.glif</string>
	<key>mem-hb</key>
	<string>mem-hb.glif</string>
	<key>memdagesh-hb</key>
	<string>memdagesh-hb.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>naira</key>
	<string>naira.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.loclIWR</key>
	<string>nine.loclIWR___.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numerosign</key>
	<string>numerosign.glif</string>
	<key>nun-hb</key>
	<string>nun-hb.glif</string>
	<key>nundagesh-hb</key>
	<string>nundagesh-hb.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.loclIWR</key>
	<string>one.loclIWR___.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>patah-hb</key>
	<string>patah-hb.glif</string>
	<key>pe-hb</key>
	<string>pe-hb.glif</string>
	<key>pedagesh-hb</key>
	<string>pedagesh-hb.glif</string>
	<key>perafe-hb</key>
	<string>perafe-hb.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>peso</key>
	<string>peso.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>qamats-hb</key>
	<string>qamats-hb.glif</string>
	<key>qof-hb</key>
	<string>qof-hb.glif</string>
	<key>qofdagesh-hb</key>
	<string>qofdagesh-hb.glif</string>
	<key>qubuts-hb</key>
	<string>qubuts-hb.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rafe-hb</key>
	<string>rafe-hb.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>resh-hb</key>
	<string>resh-hb.glif</string>
	<key>reshdagesh-hb</key>
	<string>reshdagesh-hb.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ring.case</key>
	<string>ring.case.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>rupee</key>
	<string>rupee.glif</string>
	<key>rupeeindian</key>
	<string>rupeeindian.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>samekh-hb</key>
	<string>samekh-hb.glif</string>
	<key>samekhdagesh-hb</key>
	<string>samekhdagesh-hb.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>segol-hb</key>
	<string>segol-hb.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.loclIWR</key>
	<string>seven.loclIWR___.glif</string>
	<key>seveninferior</key>
	<string>seveninferior.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>sheqel</key>
	<string>sheqel.glif</string>
	<key>sheqel.loclIWR</key>
	<string>sheqel.loclIWR___.glif</string>
	<key>sheva-hb</key>
	<string>sheva-hb.glif</string>
	<key>shin-hb</key>
	<string>shin-hb.glif</string>
	<key>shindagesh-hb</key>
	<string>shindagesh-hb.glif</string>
	<key>shindageshshindot-hb</key>
	<string>shindageshshindot-hb.glif</string>
	<key>shindageshsindot-hb</key>
	<string>shindageshsindot-hb.glif</string>
	<key>shindot-hb</key>
	<string>shindot-hb.glif</string>
	<key>shinshindot-hb</key>
	<string>shinshindot-hb.glif</string>
	<key>shinsindot-hb</key>
	<string>shinsindot-hb.glif</string>
	<key>sindot-hb</key>
	<string>sindot-hb.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.loclIWR</key>
	<string>six.loclIWR___.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tav-hb</key>
	<string>tav-hb.glif</string>
	<key>tavdagesh-hb</key>
	<string>tavdagesh-hb.glif</string>
	<key>tenge</key>
	<string>tenge.glif</string>
	<key>tet-hb</key>
	<string>tet-hb.glif</string>
	<key>tetdagesh-hb</key>
	<string>tetdagesh-hb.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.loclIWR</key>
	<string>three.loclIWR___.glif</string>
	<key>threeinferior</key>
	<string>threeinferior.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tilde.alt01</key>
	<string>tilde.alt01.glif</string>
	<key>tilde.alt01.case</key>
	<string>tilde.alt01.case.glif</string>
	<key>tilde.case</key>
	<string>tilde.case.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tsadi-hb</key>
	<string>tsadi-hb.glif</string>
	<key>tsadidagesh-hb</key>
	<string>tsadidagesh-hb.glif</string>
	<key>tsere-hb</key>
	<string>tsere-hb.glif</string>
	<key>tugrik</key>
	<string>tugrik.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.loclIWR</key>
	<string>two.loclIWR___.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni2150</key>
	<string>uni2150.glif</string>
	<key>uni2151</key>
	<string>uni2151.glif</string>
	<key>uni2153</key>
	<string>uni2153.glif</string>
	<key>uni2154</key>
	<string>uni2154.glif</string>
	<key>uni2155</key>
	<string>uni2155.glif</string>
	<key>uni2156</key>
	<string>uni2156.glif</string>
	<key>uni2157</key>
	<string>uni2157.glif</string>
	<key>uni2158</key>
	<string>uni2158.glif</string>
	<key>uni2159</key>
	<string>uni2159.glif</string>
	<key>uni215A</key>
	<string>uni215A_.glif</string>
	<key>uni215B</key>
	<string>uni215B_.glif</string>
	<key>uni215C</key>
	<string>uni215C_.glif</string>
	<key>uni215D</key>
	<string>uni215D_.glif</string>
	<key>uni215E</key>
	<string>uni215E_.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>vav-hb</key>
	<string>vav-hb.glif</string>
	<key>vavdagesh-hb</key>
	<string>vavdagesh-hb.glif</string>
	<key>vavholam-hb</key>
	<string>vavholam-hb.glif</string>
	<key>vavvav-hb</key>
	<string>vavvav-hb.glif</string>
	<key>vavyod-hb</key>
	<string>vavyod-hb.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>won</key>
	<string>won.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yod-hb</key>
	<string>yod-hb.glif</string>
	<key>yoddagesh-hb</key>
	<string>yoddagesh-hb.glif</string>
	<key>yodyod-hb</key>
	<string>yodyod-hb.glif</string>
	<key>yodyodpatah-hb</key>
	<string>yodyodpatah-hb.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zayin-hb</key>
	<string>zayin-hb.glif</string>
	<key>zayindagesh-hb</key>
	<string>zayindagesh-hb.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.alt01</key>
	<string>zero.alt01.glif</string>
	<key>zero.alt02</key>
	<string>zero.alt02.glif</string>
	<key>zero.loclIWR</key>
	<string>zero.loclIWR___.glif</string>
	<key>zero.loclIWR.alt01</key>
	<string>zero.loclIWR___.alt01.glif</string>
	<key>zero.loclIWR.alt02</key>
	<string>zero.loclIWR___.alt02.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
</dict>
</plist>
