<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_greek_uc_Alpha</key>
	<array>
		<string>Delta</string>
	</array>
	<key>@MMK_L_greek_uc_Omega</key>
	<array>
		<string>Omega</string>
	</array>
	<key>@MMK_L_hebr_alef</key>
	<array>
		<string>alef-hb</string>
		<string>alefpatah-hb</string>
		<string>alefqamats-hb</string>
		<string>alefdagesh-hb</string>
	</array>
	<key>@MMK_L_hebr_ayin</key>
	<array>
		<string>ayin-hb</string>
		<string>ayinaltone-hb</string>
	</array>
	<key>@MMK_L_hebr_bet</key>
	<array>
		<string>bet-hb</string>
		<string>gimel-hb</string>
		<string>kaf-hb</string>
		<string>nun-hb</string>
		<string>betdagesh-hb</string>
		<string>betrafe-hb</string>
		<string>gimeldagesh-hb</string>
		<string>kafrafe-hb</string>
		<string>kafdagesh-hb</string>
		<string>nundagesh-hb</string>
	</array>
	<key>@MMK_L_hebr_finalpe</key>
	<array>
		<string>finalpe-hb</string>
		<string>finalpedagesh-hb</string>
	</array>
	<key>@MMK_L_hebr_finaltsadi</key>
	<array>
		<string>finaltsadi-hb</string>
	</array>
	<key>@MMK_L_hebr_geresh</key>
	<array>
		<string>geresh-hb</string>
		<string>gershayim-hb</string>
	</array>
	<key>@MMK_L_hebr_he</key>
	<array>
		<string>he-hb</string>
		<string>het-hb</string>
		<string>finalmem-hb</string>
		<string>qof-hb</string>
		<string>hedagesh-hb</string>
		<string>qofdagesh-hb</string>
	</array>
	<key>@MMK_L_hebr_lamed</key>
	<array>
		<string>aleflamed-hb</string>
		<string>lamed-hb</string>
		<string>lameddagesh-hb</string>
	</array>
	<key>@MMK_L_hebr_maqaf</key>
	<array>
		<string>maqaf-hb</string>
	</array>
	<key>@MMK_L_hebr_resh</key>
	<array>
		<string>dalet-hb</string>
		<string>finalkaf-hb</string>
		<string>resh-hb</string>
		<string>daletdagesh-hb</string>
		<string>finalkaf_sheva-hb</string>
		<string>finalkaf_qamats-hb</string>
		<string>finalkafdagesh-hb</string>
		<string>finalkafdagesh_sheva-hb</string>
		<string>finalkafdagesh_qamats-hb</string>
		<string>reshdagesh-hb</string>
	</array>
	<key>@MMK_L_hebr_samekh</key>
	<array>
		<string>samekh-hb</string>
		<string>samekhdagesh-hb</string>
	</array>
	<key>@MMK_L_hebr_shin</key>
	<array>
		<string>tet-hb</string>
		<string>shin-hb</string>
		<string>tetdagesh-hb</string>
		<string>shindagesh-hb</string>
		<string>shinshindot-hb</string>
		<string>shinsindot-hb</string>
		<string>shindageshshindot-hb</string>
		<string>shindageshsindot-hb</string>
	</array>
	<key>@MMK_L_hebr_tav</key>
	<array>
		<string>tav-hb</string>
		<string>tavdagesh-hb</string>
	</array>
	<key>@MMK_L_hebr_tsadi</key>
	<array>
		<string>tsadi-hb</string>
		<string>tsadidagesh-hb</string>
	</array>
	<key>@MMK_L_hebr_vav</key>
	<array>
		<string>vav-hb</string>
		<string>mem-hb</string>
		<string>finalnun-hb</string>
		<string>vavvav-hb</string>
		<string>vavholam-hb</string>
		<string>vavdagesh-hb</string>
		<string>memdagesh-hb</string>
	</array>
	<key>@MMK_L_hebr_yod</key>
	<array>
		<string>yod-hb</string>
		<string>vavyod-hb</string>
		<string>yodyod-hb</string>
		<string>yodyodpatah-hb</string>
		<string>yoddagesh-hb</string>
	</array>
	<key>@MMK_L_hebr_zayin</key>
	<array>
		<string>zayin-hb</string>
		<string>zayindagesh-hb</string>
	</array>
	<key>@MMK_L_inp_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_inp_foot</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_inp_guill</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_inp_guilr</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_L_inp_hyph</key>
	<array>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_L_inp_parenth</key>
	<array>
		<string>bracketleft</string>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_inp_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_inp_quotel</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_L_inp_quoter</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_latn_lc_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_latn_lc_b</key>
	<array>
		<string>b</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_latn_lc_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_latn_lc_e</key>
	<array>
		<string>e</string>
		<string>ae</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_latn_lc_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_latn_lc_g</key>
	<array>
		<string>g</string>
		<string>g.alt02</string>
	</array>
	<key>@MMK_L_latn_lc_i</key>
	<array>
		<string>i</string>
		<string>fi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>@MMK_L_latn_lc_j</key>
	<array>
		<string>g.alt01</string>
		<string>j</string>
		<string>q</string>
		<string>dotlessi</string>
		<string>ij</string>
		<string>dotlessj</string>
		<string>jacute</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_L_latn_lc_k</key>
	<array>
		<string>k</string>
	</array>
	<key>@MMK_L_latn_lc_l</key>
	<array>
		<string>l</string>
		<string>fl</string>
		<string>lslash</string>
	</array>
	<key>@MMK_L_latn_lc_n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_latn_lc_o</key>
	<array>
		<string>o</string>
		<string>eth</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>@MMK_L_latn_lc_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_latn_lc_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@MMK_L_latn_lc_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_L_latn_lc_u</key>
	<array>
		<string>a.alt01</string>
		<string>u</string>
		<string>aacute.alt01</string>
		<string>acircumflex.alt01</string>
		<string>adieresis.alt01</string>
		<string>agrave.alt01</string>
		<string>aring.alt01</string>
		<string>atilde.alt01</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_latn_lc_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_L_latn_lc_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_latn_lc_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_L_latn_uc_a</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_latn_uc_c</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_latn_uc_d</key>
	<array>
		<string>D</string>
		<string>Dcroat</string>
		<string>Eth</string>
	</array>
	<key>@MMK_L_latn_uc_e</key>
	<array>
		<string>E</string>
		<string>AE</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_latn_uc_g</key>
	<array>
		<string>G</string>
	</array>
	<key>@MMK_L_latn_uc_i</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
	</array>
	<key>@MMK_L_latn_uc_j</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_L_latn_uc_k</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_latn_uc_l</key>
	<array>
		<string>L</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_latn_uc_o</key>
	<array>
		<string>O</string>
		<string>Q</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
	</array>
	<key>@MMK_L_latn_uc_r</key>
	<array>
		<string>R</string>
	</array>
	<key>@MMK_L_latn_uc_s</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_L_latn_uc_t</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_latn_uc_u</key>
	<array>
		<string>U</string>
		<string>IJ</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_L_latn_uc_w</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_latn_uc_y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_latn_uc_z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_R_greek_lc_kappa</key>
	<array>
		<string>mu</string>
	</array>
	<key>@MMK_R_greek_uc_Alpha</key>
	<array>
		<string>Delta</string>
	</array>
	<key>@MMK_R_greek_uc_Omega</key>
	<array>
		<string>Omega</string>
	</array>
	<key>@MMK_R_hebr_alef</key>
	<array>
		<string>aleflamed-hb</string>
		<string>alef-hb</string>
		<string>alefpatah-hb</string>
		<string>alefqamats-hb</string>
		<string>alefdagesh-hb</string>
	</array>
	<key>@MMK_R_hebr_bet</key>
	<array>
		<string>bet-hb</string>
		<string>betdagesh-hb</string>
		<string>betrafe-hb</string>
	</array>
	<key>@MMK_R_hebr_dalet</key>
	<array>
		<string>dalet-hb</string>
		<string>daletdagesh-hb</string>
	</array>
	<key>@MMK_R_hebr_finaltsadi</key>
	<array>
		<string>finaltsadi-hb</string>
	</array>
	<key>@MMK_R_hebr_geresh</key>
	<array>
		<string>geresh-hb</string>
		<string>gershayim-hb</string>
	</array>
	<key>@MMK_R_hebr_gimel</key>
	<array>
		<string>gimel-hb</string>
		<string>gimeldagesh-hb</string>
	</array>
	<key>@MMK_R_hebr_lamed</key>
	<array>
		<string>lamed-hb</string>
		<string>qof-hb</string>
		<string>lameddagesh-hb</string>
		<string>qofdagesh-hb</string>
	</array>
	<key>@MMK_R_hebr_nun</key>
	<array>
		<string>nun-hb</string>
		<string>nundagesh-hb</string>
	</array>
	<key>@MMK_R_hebr_resh</key>
	<array>
		<string>he-hb</string>
		<string>het-hb</string>
		<string>finalkaf-hb</string>
		<string>finalmem-hb</string>
		<string>mem-hb</string>
		<string>finalpe-hb</string>
		<string>resh-hb</string>
		<string>tav-hb</string>
		<string>hedagesh-hb</string>
		<string>finalkaf_sheva-hb</string>
		<string>finalkaf_qamats-hb</string>
		<string>finalkafdagesh-hb</string>
		<string>finalkafdagesh_sheva-hb</string>
		<string>finalkafdagesh_qamats-hb</string>
		<string>memdagesh-hb</string>
		<string>finalpedagesh-hb</string>
		<string>reshdagesh-hb</string>
		<string>tavdagesh-hb</string>
	</array>
	<key>@MMK_R_hebr_samekh</key>
	<array>
		<string>tet-hb</string>
		<string>kaf-hb</string>
		<string>samekh-hb</string>
		<string>pe-hb</string>
		<string>tetdagesh-hb</string>
		<string>kafrafe-hb</string>
		<string>kafdagesh-hb</string>
		<string>samekhdagesh-hb</string>
		<string>perafe-hb</string>
		<string>pedagesh-hb</string>
	</array>
	<key>@MMK_R_hebr_shin</key>
	<array>
		<string>ayin-hb</string>
		<string>shin-hb</string>
		<string>ayinaltone-hb</string>
		<string>shindagesh-hb</string>
		<string>shinshindot-hb</string>
		<string>shinsindot-hb</string>
		<string>shindageshshindot-hb</string>
		<string>shindageshsindot-hb</string>
	</array>
	<key>@MMK_R_hebr_yod</key>
	<array>
		<string>yod-hb</string>
		<string>yodyod-hb</string>
		<string>yodyodpatah-hb</string>
		<string>yoddagesh-hb</string>
	</array>
	<key>@MMK_R_hebr_zayin</key>
	<array>
		<string>zayin-hb</string>
		<string>zayindagesh-hb</string>
	</array>
	<key>@MMK_R_inp_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_inp_foot</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_inp_guill</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_inp_guilr</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_inp_hyph</key>
	<array>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_R_inp_parenth</key>
	<array>
		<string>bracketright</string>
		<string>braceright</string>
	</array>
	<key>@MMK_R_inp_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_inp_quotel</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_R_inp_quoter</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_latn_lc_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_latn_lc_c</key>
	<array>
		<string>c</string>
		<string>e</string>
		<string>o</string>
		<string>ccedilla</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_latn_lc_d</key>
	<array>
		<string>a.alt01</string>
		<string>d</string>
		<string>g.alt01</string>
		<string>q</string>
		<string>aacute.alt01</string>
		<string>acircumflex.alt01</string>
		<string>adieresis.alt01</string>
		<string>agrave.alt01</string>
		<string>aring.alt01</string>
		<string>atilde.alt01</string>
		<string>eth</string>
	</array>
	<key>@MMK_R_latn_lc_f</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_latn_lc_g</key>
	<array>
		<string>g</string>
		<string>g.alt02</string>
	</array>
	<key>@MMK_R_latn_lc_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
	</array>
	<key>@MMK_R_latn_lc_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
	</array>
	<key>@MMK_R_latn_lc_j</key>
	<array>
		<string>j</string>
		<string>dotlessj</string>
		<string>jacute</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_latn_lc_l</key>
	<array>
		<string>l</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>germandbls.alt01</string>
	</array>
	<key>@MMK_R_latn_lc_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>r</string>
		<string>dotlessi</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_latn_lc_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_latn_lc_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_latn_lc_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_latn_lc_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_R_latn_lc_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_latn_lc_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_latn_uc_a</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
	</array>
	<key>@MMK_R_latn_uc_i</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
	</array>
	<key>@MMK_R_latn_uc_j</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_latn_uc_o</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_latn_uc_s</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_R_latn_uc_t</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_latn_uc_u</key>
	<array>
		<string>U</string>
		<string>IJ</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_R_latn_uc_w</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_latn_uc_y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_latn_uc_z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
</dict>
</plist>
