@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 300;
  src: local('IBM Plex Serif Light Italic'), local('IBMPlexSerif-LightItalic'),
    url('#{$font-prefix}/fonts/Serif/web/woff2/IBMPlexSerif-LightItalic-Pi.woff2')
      format('woff2'),
    url('#{$font-prefix}/fonts/Serif/web/woff/IBMPlexSerif-LightItalic-Pi.woff')
      format('woff');
  unicode-range: 'U+03C0, U+0E3F, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1, U+EBE3-EBE4, U+EBE6-EBE7, U+ECE0, U+EFCC';
}
