@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 600;
  src: local('IBM Plex Serif SemiBold Italic'),
    local('IBMPlexSerif-SemiBoldItalic'),
    url('#{$font-prefix}/fonts/Serif/web/woff2/IBMPlexSerif-SemiBoldItalic-Latin1.woff2')
      format('woff2'),
    url('#{$font-prefix}/fonts/Serif/web/woff/IBMPlexSerif-SemiBoldItalic-Latin1.woff')
      format('woff');
  unicode-range: 'U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2212, U+FB01-FB02';
}
