<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>780</integer>
	<key>capHeight</key>
	<integer>698</integer>
	<key>copyright</key>
	<string>Copyright 2018 IBM Corp. All rights reserved.</string>
	<key>descender</key>
	<integer>-220</integer>
	<key>familyName</key>
	<string>IBM Plex Serif</string>
	<key>italicAngle</key>
	<real>-14.04</real>
	<key>macintoshFONDFamilyID</key>
	<integer>1983</integer>
	<key>macintoshFONDName</key>
	<string>IBMPlexSerif BoldItalic</string>
	<key>openTypeHeadCreated</key>
	<string>2017/05/21 02:21:59</string>
	<key>openTypeHeadFlags</key>
	<array>
	</array>
	<key>openTypeHheaAscender</key>
	<integer>1025</integer>
	<key>openTypeHheaDescender</key>
	<integer>-275</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Mike Abbink, Paul van der Laan, Pieter van Rosmalen</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.ibm.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Bold Monday</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.boldmonday.com</string>
	<key>openTypeNameSampleText</key>
	<string>How razorback-jumping frogs can level six piqued gymnasts!</string>
	<key>openTypeNameUniqueID</key>
	<string>IBM;IBMPlexSerif-BoldItalic;2.001;2018</string>
	<key>openTypeNameVersion</key>
	<string>Version 2.001 2018</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>29</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>6</integer>
		<integer>8</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>6</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>3</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>306</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>68</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>140</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>477</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>780</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-220</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>300</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>9</integer>
		<integer>29</integer>
		<integer>31</integer>
		<integer>32</integer>
		<integer>33</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>45</integer>
		<integer>60</integer>
		<integer>62</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>IBM</string>
	<key>openTypeOS2WeightClass</key>
	<integer>700</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1025</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>275</integer>
	<key>postscriptBlueFuzz</key>
	<integer>0</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>369</integer>
		<integer>375</integer>
		<integer>525</integer>
		<integer>537</integer>
		<integer>698</integer>
		<integer>710</integer>
		<integer>740</integer>
		<integer>752</integer>
		<integer>758</integer>
		<integer>770</integer>
	</array>
	<key>postscriptDefaultCharacter</key>
	<string>.notdef</string>
	<key>postscriptDefaultWidthX</key>
	<integer>0</integer>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>IBMPlexSerif-BoldItalic</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>IBM Plex Serif Bold Italic</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-212</integer>
		<integer>-200</integer>
		<integer>323</integer>
		<integer>329</integer>
	</array>
	<key>postscriptSlantAngle</key>
	<real>0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>63</integer>
		<integer>54</integer>
		<integer>68</integer>
		<integer>84</integer>
		<integer>109</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>153</integer>
		<integer>100</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-48</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>68</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWeightName</key>
	<string>Bold</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>IBM Plex Serif</string>
	<key>styleMapStyleName</key>
	<string>bold italic</string>
	<key>styleName</key>
	<string>Bold Italic</string>
	<key>trademark</key>
	<string>IBM Plex™ is a trademark of IBM Corp, registered in many jurisdictions worldwide.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>2</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>525</integer>
	<key>year</key>
	<integer>2018</integer>
</dict>
</plist>
