// 4kb

[class*="ibm-type-"] {
	max-width: 84.375vw;
}

.ibm-type-a {
	max-width: 37.5vw;
}

@media (min-width: $breakpoint--md + 'px') {
	.ibm-type-b {
		max-width: 62.5vw;
	}
	
	.ibm-col-sm-4,
	.ibm-col-md-8 {
		.ibm-type-b {
			max-width: 62.5vw;
		}
	}

	.ibm-col-md-6,
	.ibm-col-md-7 {
		[class*="ibm-type-"] {
			max-width: 62.5vw;
		}
	}

	.ibm-col-sm-2,
	.ibm-col-sm-3,
	.ibm-col-md-4,
	.ibm-col-md-5 {
		[class*="ibm-type-"] {
			max-width: 40.625vw;
		}
	}

	[class*="ibm-col-"] {
		.ibm-type-a,
		.ibm-type-b {
			max-width: 40.625vw;
		}
	}
}

@media (min-width: $breakpoint--lg + 'px') {
	.ibm-type-a {
		max-width: 18.75vw;
	}

	.ibm-type-b {
		max-width: 28.125vw;
	}

	.ibm-type-c ,
	.ibm-type-d {
		max-width: 46.875vw;
	}

	.ibm-type-e,
	.ibm-type-g,
	.ibm-type-h {
		max-width: 56.25vw;
	}

	.ibm-type-f,
	.ibm-type-i {
		max-width: 65.625vw;
	}

	.ibm-type-j,
	.ibm-type-k {
		max-width: 71.875vw;
	}
	
	.ibm-col-sm-4 {
		.ibm-type-a {
			max-width: 18.75vw;
		}
	
		.ibm-type-b {
			max-width: 28.125vw;
		}
	
		.ibm-type-c ,
		.ibm-type-d {
			max-width: 46.875vw;
		}
	
		.ibm-type-e,
		.ibm-type-g,
		.ibm-type-h {
			max-width: 56.25vw;
		}
	
		.ibm-type-f,
		.ibm-type-i {
			max-width: 65.625vw;
		}
	
		.ibm-type-j,
		.ibm-type-k {
			max-width: 71.875vw;
		}
	}

	.ibm-col-sm-2,
	.ibm-col-sm-3 {
		[class*="ibm-type-"] {
			max-width: 37.5vw;
		}

		.ibm-type-a {
			max-width: 18.75vw;
		}

		.ibm-type-b {
			max-width: 28.125vw;
		}
	}


	.ibm-col-md-8 {
		.ibm-type-a {
			max-width: 18.75vw;
		}
	
		.ibm-type-b {
			max-width: 28.125vw;
		}
	
		.ibm-type-c ,
		.ibm-type-d {
			max-width: 46.875vw;
		}
	
		.ibm-type-e,
		.ibm-type-g,
		.ibm-type-h {
			max-width: 56.25vw;
		}
	
		.ibm-type-f,
		.ibm-type-i {
			max-width: 65.625vw;
		}
	
		.ibm-type-j,
		.ibm-type-k {
			max-width: 71.875vw;
		}
	}
	
	.ibm-col-md-6,
	.ibm-col-md-7 {
		[class*="ibm-type-"] {
			max-width: 56.25vw;
		}

		.ibm-type-a {
			max-width: 18.75vw;
		}

		.ibm-type-b {
			max-width: 28.125vw;
		}

		.ibm-type-c ,
		.ibm-type-d {
			max-width: 46.875vw;
		}
	}
	
	.ibm-col-md-4,
	.ibm-col-md-5 {
		[class*="ibm-type-"] {
			max-width: 37.5vw;
		}

		.ibm-type-a {
			max-width: 18.75vw;
		}

		.ibm-type-b {
			max-width: 28.125vw;
		}
	}
	
	.ibm-col-md-2,
	.ibm-col-md-3 {
		[class*="ibm-type-"] {
			max-width: 18.75vw;
		}
	}
	
	.ibm-col-lg-16 {
		.ibm-type-a {
			max-width: 18.75vw;
		}
	
		.ibm-type-b {
			max-width: 28.125vw;
		}
	
		.ibm-type-c ,
		.ibm-type-d {
			max-width: 46.875vw;
		}
	
		.ibm-type-e,
		.ibm-type-g,
		.ibm-type-h {
			max-width: 56.25vw;
		}
	
		.ibm-type-f,
		.ibm-type-i {
			max-width: 65.625vw;
		}
	
		.ibm-type-j,
		.ibm-type-k {
			max-width: 71.875vw;
		}
	}
	
	.ibm-col-lg-14,
	.ibm-col-lg-15 {
		[class*="ibm-type-"] {
			max-width: 65.625vw
		}

		.ibm-type-a {
			max-width: 18.75vw;
		}

		.ibm-type-b {
			max-width: 28.125vw;
		}
		
		.ibm-type-c ,
		.ibm-type-d {
			max-width: 46.875vw;
		}
		
		.ibm-type-e,
		.ibm-type-g,
		.ibm-type-h {
			max-width: 56.25vw;
		}
	}
	
	.ibm-col-lg-12,
	.ibm-col-lg-13 {
		[class*="ibm-type-"] {
			max-width: 56.25vw;
		}

		.ibm-type-a {
			max-width: 18.75vw;
		}

		.ibm-type-b {
			max-width: 28.125vw;
		}

		.ibm-type-c ,
		.ibm-type-d {
			max-width: 46.875vw;
		}
	}
	
	.ibm-col-lg-10,
	.ibm-col-lg-11 {
		[class*="ibm-type-"] {
			max-width: 46.875vw;
		}

		.ibm-type-a {
			max-width: 18.75vw;
		}

		.ibm-type-b {
			max-width: 28.125vw;
		}
	}
	
	.ibm-col-lg-8,
	.ibm-col-lg-9 {
		[class*="ibm-type-"] {
			max-width: 37.5vw;
		}

		.ibm-type-a {
			max-width: 18.75vw;
		}

		.ibm-type-b {
			max-width: 28.125vw;
		}
	}
	
	.ibm-col-lg-6,
	.ibm-col-lg-7 {
		[class*="ibm-type-"] {
			max-width: 28.125vw;
		}

		.ibm-type-a {
			max-width: 18.75vw;
		}
	}

	.ibm-col-lg-4,
	.ibm-col-lg-5 {
		[class*="ibm-type-"] {
			max-width: 18.75vw;
		}
	}
}

@media (min-width: $breakpoint--max + 'px') {
	.ibm-type-a {
		max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
	}

	.ibm-type-b {
		max-width: unquote(28.125 / 100 * $breakpoint--max + 'px');
	}

	.ibm-type-c ,
	.ibm-type-d {
		max-width: unquote(46.875 / 100 * $breakpoint--max + 'px');
	}

	.ibm-type-e,
	.ibm-type-g,
	.ibm-type-h {
		max-width: unquote(56.25 / 100 * $breakpoint--max + 'px');
	}

	.ibm-type-f,
	.ibm-type-i {
		max-width: unquote(65.625 / 100 * $breakpoint--max + 'px');
	}

	.ibm-type-j,
	.ibm-type-k {
		max-width: unquote(71.875 / 100 * $breakpoint--max + 'px');
	}
	
	.ibm-col-sm-4 {
		.ibm-type-a {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-b {
			max-width: unquote(28.125 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-c ,
		.ibm-type-d {
			max-width: unquote(46.875 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-e,
		.ibm-type-g,
		.ibm-type-h {
			max-width: unquote(56.25 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-f,
		.ibm-type-i {
			max-width: unquote(65.625 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-j,
		.ibm-type-k {
			max-width: unquote(71.875 / 100 * $breakpoint--max + 'px');
		}
	}

	.ibm-col-sm-2,
	.ibm-col-sm-3 {
		[class*="ibm-type-"] {
			max-width: unquote(37.5 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-a {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-b {
			max-width: unquote(28.125 / 100 * $breakpoint--max + 'px');
		}
	}
	
	.ibm-col-md-6,
	.ibm-col-md-7 {
		[class*="ibm-type-"] {
			max-width: unquote(56.25 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-a {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-b {
			max-width: unquote(28.125 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-c ,
		.ibm-type-d {
			max-width: unquote(46.875 / 100 * $breakpoint--max + 'px');
		}
	}
	
	.ibm-col-md-4,
	.ibm-col-md-5 {
		[class*="ibm-type-"] {
			max-width: unquote(37.5 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-a {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-b {
			max-width: unquote(28.125 / 100 * $breakpoint--max + 'px');
		}
	}
	
	.ibm-col-md-2,
	.ibm-col-md-3 {
		[class*="ibm-type-"] {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}
	}
	
	.ibm-col-md-8 {
		.ibm-type-a {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-b {
			max-width: unquote(28.125 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-c ,
		.ibm-type-d {
			max-width: unquote(46.875 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-e,
		.ibm-type-g,
		.ibm-type-h {
			max-width: unquote(56.25 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-f,
		.ibm-type-i {
			max-width: unquote(65.625 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-j,
		.ibm-type-k {
			max-width: unquote(71.875 / 100 * $breakpoint--max + 'px');
		}
	}
	
	.ibm-col-lg-16 {
		.ibm-type-a {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-b {
			max-width: unquote(28.125 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-c ,
		.ibm-type-d {
			max-width: unquote(46.875 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-e,
		.ibm-type-g,
		.ibm-type-h {
			max-width: unquote(56.25 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-f,
		.ibm-type-i {
			max-width: unquote(65.625 / 100 * $breakpoint--max + 'px');
		}
	
		.ibm-type-j,
		.ibm-type-k {
			max-width: unquote(71.875 / 100 * $breakpoint--max + 'px');
		}
	}
	
	.ibm-col-lg-14,
	.ibm-col-lg-15 {
		[class*="ibm-type-"] {
			max-width: unquote(65.625vw / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-a {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-b {
			max-width: unquote(28.125 / 100 * $breakpoint--max + 'px');
		}
		
		.ibm-type-c ,
		.ibm-type-d {
			max-width: unquote(46.875 / 100 * $breakpoint--max + 'px');
		}
		
		.ibm-type-e,
		.ibm-type-g,
		.ibm-type-h {
			max-width: unquote(56.25 / 100 * $breakpoint--max + 'px');
		}
	}
	
	.ibm-col-lg-12,
	.ibm-col-lg-13 {
		[class*="ibm-type-"] {
			max-width: unquote(56.25 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-a {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-b {
			max-width: unquote(28.125 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-c ,
		.ibm-type-d {
			max-width: unquote(46.875 / 100 * $breakpoint--max + 'px');
		}
	}
	
	.ibm-col-lg-10,
	.ibm-col-lg-11 {
		[class*="ibm-type-"] {
			max-width: unquote(46.875 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-a {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-b {
			max-width: unquote(28.125 / 100 * $breakpoint--max + 'px');
		}
	}
	
	.ibm-col-lg-8,
	.ibm-col-lg-9 {
		[class*="ibm-type-"] {
			max-width: unquote(37.5 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-a {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-b {
			max-width: unquote(28.125 / 100 * $breakpoint--max + 'px');
		}
	}
	
	.ibm-col-lg-6,
	.ibm-col-lg-7 {
		[class*="ibm-type-"] {
			max-width: unquote(28.125 / 100 * $breakpoint--max + 'px');
		}

		.ibm-type-a {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}
	}

	.ibm-col-lg-4,
	.ibm-col-lg-5 {
		[class*="ibm-type-"] {
			max-width: unquote(18.75 / 100 * $breakpoint--max + 'px');
		}
	}
}