@font-face {
  font-family: 'ibm-plex-serif';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Serif/web/woff2/IBMPlexSerif-SemiBold-Latin3.woff2')
      format('woff2'),
    url('../fonts/Serif/web/woff/IBMPlexSerif-SemiBold-Latin3.woff')
      format('woff');
  unicode-range: 'U+0102-0103, U+1EA0-1EF9, U+20AB';
}
