@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
    url('#{$font-prefix}/fonts/Sans/web/woff2/IBMPlexSans-SemiBold-Latin2.woff2')
      format('woff2'),
    url('#{$font-prefix}/fonts/Sans/web/woff/IBMPlexSans-SemiBold-Latin2.woff')
      format('woff');
  unicode-range: 'U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+FB01-FB02';
}
