<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>__notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE__.glif</string>
	<key>AEacute</key>
	<string>AEacute__.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Abreveacute</key>
	<string>Abreveacute_.glif</string>
	<key>Abrevedotbelow</key>
	<string>Abrevedotbelow_.glif</string>
	<key>Abrevegrave</key>
	<string>Abrevegrave_.glif</string>
	<key>Abrevehook</key>
	<string>Abrevehook_.glif</string>
	<key>Abrevetilde</key>
	<string>Abrevetilde_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Acircumflexacute</key>
	<string>Acircumflexacute_.glif</string>
	<key>Acircumflexdotbelow</key>
	<string>Acircumflexdotbelow_.glif</string>
	<key>Acircumflexgrave</key>
	<string>Acircumflexgrave_.glif</string>
	<key>Acircumflexhook</key>
	<string>Acircumflexhook_.glif</string>
	<key>Acircumflextilde</key>
	<string>Acircumflextilde_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Adotbelow</key>
	<string>Adotbelow_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Ahook</key>
	<string>Ahook_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Aringacute</key>
	<string>Aringacute_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Ccircumflex</key>
	<string>Ccircumflex_.glif</string>
	<key>Cdotaccent</key>
	<string>Cdotaccent_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>Delta</key>
	<string>Delta_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ebreve</key>
	<string>Ebreve_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Ecircumflexacute</key>
	<string>Ecircumflexacute_.glif</string>
	<key>Ecircumflexdotbelow</key>
	<string>Ecircumflexdotbelow_.glif</string>
	<key>Ecircumflexgrave</key>
	<string>Ecircumflexgrave_.glif</string>
	<key>Ecircumflexhook</key>
	<string>Ecircumflexhook_.glif</string>
	<key>Ecircumflextilde</key>
	<string>Ecircumflextilde_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Edotbelow</key>
	<string>Edotbelow_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Ehook</key>
	<string>Ehook_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eng</key>
	<string>Eng_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Etilde</key>
	<string>Etilde_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>Gcircumflex</key>
	<string>Gcircumflex_.glif</string>
	<key>Gcommaaccent</key>
	<string>Gcommaaccent_.glif</string>
	<key>Gdotaccent</key>
	<string>Gdotaccent_.glif</string>
	<key>Germandbls</key>
	<string>Germandbls_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>Hbar_.glif</string>
	<key>Hcircumflex</key>
	<string>Hcircumflex_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>IJ__.glif</string>
	<key>IJacute</key>
	<string>IJacute__.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Ibreve</key>
	<string>Ibreve_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Idotbelow</key>
	<string>Idotbelow_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Ihook</key>
	<string>Ihook_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>Itilde</key>
	<string>Itilde_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Jacute</key>
	<string>Jacute_.glif</string>
	<key>Jcircumflex</key>
	<string>Jcircumflex_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>Kcommaaccent_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lcommaaccent</key>
	<string>Lcommaaccent_.glif</string>
	<key>Ldot</key>
	<string>Ldot_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ncommaaccent</key>
	<string>Ncommaaccent_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE__.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Obreve</key>
	<string>Obreve_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Ocircumflexacute</key>
	<string>Ocircumflexacute_.glif</string>
	<key>Ocircumflexdotbelow</key>
	<string>Ocircumflexdotbelow_.glif</string>
	<key>Ocircumflexgrave</key>
	<string>Ocircumflexgrave_.glif</string>
	<key>Ocircumflexhook</key>
	<string>Ocircumflexhook_.glif</string>
	<key>Ocircumflextilde</key>
	<string>Ocircumflextilde_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Odotbelow</key>
	<string>Odotbelow_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohook</key>
	<string>Ohook_.glif</string>
	<key>Ohorn</key>
	<string>Ohorn_.glif</string>
	<key>Ohornacute</key>
	<string>Ohornacute_.glif</string>
	<key>Ohorndotbelow</key>
	<string>Ohorndotbelow_.glif</string>
	<key>Ohorngrave</key>
	<string>Ohorngrave_.glif</string>
	<key>Ohornhook</key>
	<string>Ohornhook_.glif</string>
	<key>Ohorntilde</key>
	<string>Ohorntilde_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Omega</key>
	<string>Omega_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Oslashacute</key>
	<string>Oslashacute_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>Rcommaaccent</key>
	<string>Rcommaaccent_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scedilla</key>
	<string>Scedilla_.glif</string>
	<key>Schwa</key>
	<string>Schwa_.glif</string>
	<key>Scircumflex</key>
	<string>Scircumflex_.glif</string>
	<key>Scommaaccent</key>
	<string>Scommaaccent_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tbar</key>
	<string>Tbar_.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Tcedilla</key>
	<string>Tcedilla_.glif</string>
	<key>Tcommaaccent</key>
	<string>Tcommaaccent_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ubreve</key>
	<string>Ubreve_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Udotbelow</key>
	<string>Udotbelow_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Uhook</key>
	<string>Uhook_.glif</string>
	<key>Uhorn</key>
	<string>Uhorn_.glif</string>
	<key>Uhornacute</key>
	<string>Uhornacute_.glif</string>
	<key>Uhorndotbelow</key>
	<string>Uhorndotbelow_.glif</string>
	<key>Uhorngrave</key>
	<string>Uhorngrave_.glif</string>
	<key>Uhornhook</key>
	<string>Uhornhook_.glif</string>
	<key>Uhorntilde</key>
	<string>Uhorntilde_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>Utilde</key>
	<string>Utilde_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wacute</key>
	<string>Wacute_.glif</string>
	<key>Wcircumflex</key>
	<string>Wcircumflex_.glif</string>
	<key>Wdieresis</key>
	<string>Wdieresis_.glif</string>
	<key>Wgrave</key>
	<string>Wgrave_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ycircumflex</key>
	<string>Ycircumflex_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Ydotbelow</key>
	<string>Ydotbelow_.glif</string>
	<key>Ygrave</key>
	<string>Ygrave_.glif</string>
	<key>Yhook</key>
	<string>Yhook_.glif</string>
	<key>Ytilde</key>
	<string>Ytilde_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt01</key>
	<string>a.alt01.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.alt01</key>
	<string>aacute.alt01.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreve.alt01</key>
	<string>abreve.alt01.glif</string>
	<key>abreveacute</key>
	<string>abreveacute.glif</string>
	<key>abreveacute.alt01</key>
	<string>abreveacute.alt01.glif</string>
	<key>abrevedotbelow</key>
	<string>abrevedotbelow.glif</string>
	<key>abrevedotbelow.alt01</key>
	<string>abrevedotbelow.alt01.glif</string>
	<key>abrevegrave</key>
	<string>abrevegrave.glif</string>
	<key>abrevegrave.alt01</key>
	<string>abrevegrave.alt01.glif</string>
	<key>abrevehook</key>
	<string>abrevehook.glif</string>
	<key>abrevehook.alt01</key>
	<string>abrevehook.alt01.glif</string>
	<key>abrevetilde</key>
	<string>abrevetilde.glif</string>
	<key>abrevetilde.alt01</key>
	<string>abrevetilde.alt01.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.alt01</key>
	<string>acircumflex.alt01.glif</string>
	<key>acircumflexacute</key>
	<string>acircumflexacute.glif</string>
	<key>acircumflexacute.alt01</key>
	<string>acircumflexacute.alt01.glif</string>
	<key>acircumflexdotbelow</key>
	<string>acircumflexdotbelow.glif</string>
	<key>acircumflexdotbelow.alt01</key>
	<string>acircumflexdotbelow.alt01.glif</string>
	<key>acircumflexgrave</key>
	<string>acircumflexgrave.glif</string>
	<key>acircumflexgrave.alt01</key>
	<string>acircumflexgrave.alt01.glif</string>
	<key>acircumflexhook</key>
	<string>acircumflexhook.glif</string>
	<key>acircumflexhook.alt01</key>
	<string>acircumflexhook.alt01.glif</string>
	<key>acircumflextilde</key>
	<string>acircumflextilde.glif</string>
	<key>acircumflextilde.alt01</key>
	<string>acircumflextilde.alt01.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acute.case</key>
	<string>acute.case.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.alt01</key>
	<string>adieresis.alt01.glif</string>
	<key>adotbelow</key>
	<string>adotbelow.glif</string>
	<key>adotbelow.alt01</key>
	<string>adotbelow.alt01.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>aeacute</key>
	<string>aeacute.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.alt01</key>
	<string>agrave.alt01.glif</string>
	<key>ahook</key>
	<string>ahook.glif</string>
	<key>ahook.alt01</key>
	<string>ahook.alt01.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacron.alt01</key>
	<string>amacron.alt01.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aogonek.alt01</key>
	<string>aogonek.alt01.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.alt01</key>
	<string>aring.alt01.glif</string>
	<key>aringacute</key>
	<string>aringacute.glif</string>
	<key>aringacute.alt01</key>
	<string>aringacute.alt01.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowdownclockhalf</key>
	<string>arrowdownclockhalf.glif</string>
	<key>arrowdowncounterclockhalf</key>
	<string>arrowdowncounterclockhalf.glif</string>
	<key>arrowdownleft</key>
	<string>arrowdownleft.glif</string>
	<key>arrowdownleftcorner</key>
	<string>arrowdownleftcorner.glif</string>
	<key>arrowdownright</key>
	<string>arrowdownright.glif</string>
	<key>arrowdownrightcorner</key>
	<string>arrowdownrightcorner.glif</string>
	<key>arrowhookleft</key>
	<string>arrowhookleft.glif</string>
	<key>arrowhookright</key>
	<string>arrowhookright.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowleftarrowright</key>
	<string>arrowleftarrowright.glif</string>
	<key>arrowleftdowncorner</key>
	<string>arrowleftdowncorner.glif</string>
	<key>arrowleftright</key>
	<string>arrowleftright.glif</string>
	<key>arrowleftupcorner</key>
	<string>arrowleftupcorner.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowrightarrowleft</key>
	<string>arrowrightarrowleft.glif</string>
	<key>arrowrightdowncorner</key>
	<string>arrowrightdowncorner.glif</string>
	<key>arrowrightupcorner</key>
	<string>arrowrightupcorner.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>arrowupdown</key>
	<string>arrowupdown.glif</string>
	<key>arrowupleft</key>
	<string>arrowupleft.glif</string>
	<key>arrowupleftcorner</key>
	<string>arrowupleftcorner.glif</string>
	<key>arrowupleftcounterclock</key>
	<string>arrowupleftcounterclock.glif</string>
	<key>arrowupright</key>
	<string>arrowupright.glif</string>
	<key>arrowuprightclock</key>
	<string>arrowuprightclock.glif</string>
	<key>arrowuprightcorner</key>
	<string>arrowuprightcorner.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.alt01</key>
	<string>atilde.alt01.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>baht</key>
	<string>baht.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bitcoin</key>
	<string>bitcoin.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>breve.case</key>
	<string>breve.case.glif</string>
	<key>breve.cyrl</key>
	<string>breve.cyrl.glif</string>
	<key>breve.cyrl_case</key>
	<string>breve.cyrl_case.glif</string>
	<key>breveacute</key>
	<string>breveacute.glif</string>
	<key>breveacute.case</key>
	<string>breveacute.case.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>brevegrave</key>
	<string>brevegrave.glif</string>
	<key>brevegrave.case</key>
	<string>brevegrave.case.glif</string>
	<key>brevehook</key>
	<string>brevehook.glif</string>
	<key>brevehook.case</key>
	<string>brevehook.case.glif</string>
	<key>brevetilde</key>
	<string>brevetilde.glif</string>
	<key>brevetilde.case</key>
	<string>brevetilde.case.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.case</key>
	<string>caron.case.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>caronslovak</key>
	<string>caronslovak.glif</string>
	<key>caronslovakcomb</key>
	<string>caronslovakcomb.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedi</key>
	<string>cedi.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>checkmark</key>
	<string>checkmark.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflex.case</key>
	<string>circumflex.case.glif</string>
	<key>circumflexacute</key>
	<string>circumflexacute.glif</string>
	<key>circumflexacute.case</key>
	<string>circumflexacute.case.glif</string>
	<key>circumflexbreve</key>
	<string>circumflexbreve.glif</string>
	<key>circumflexbreve.case</key>
	<string>circumflexbreve.case.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>circumflexgrave</key>
	<string>circumflexgrave.glif</string>
	<key>circumflexgrave.case</key>
	<string>circumflexgrave.case.glif</string>
	<key>circumflexhook</key>
	<string>circumflexhook.glif</string>
	<key>circumflexhook.case</key>
	<string>circumflexhook.case.glif</string>
	<key>circumflextilde</key>
	<string>circumflextilde.glif</string>
	<key>circumflextilde.case</key>
	<string>circumflextilde.case.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>coloncurrency</key>
	<string>coloncurrency.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commabelowcomb</key>
	<string>commabelowcomb.glif</string>
	<key>commaturnedtop</key>
	<string>commaturnedtop.glif</string>
	<key>commaturnedtopcomb</key>
	<string>commaturnedtopcomb.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>crossmark</key>
	<string>crossmark.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresis.case</key>
	<string>dieresis.case.glif</string>
	<key>dieresisacute</key>
	<string>dieresisacute.glif</string>
	<key>dieresisacute.case</key>
	<string>dieresisacute.case.glif</string>
	<key>dieresiscaron</key>
	<string>dieresiscaron.glif</string>
	<key>dieresiscaron.case</key>
	<string>dieresiscaron.case.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>dieresisgrave</key>
	<string>dieresisgrave.glif</string>
	<key>dieresisgrave.case</key>
	<string>dieresisgrave.case.glif</string>
	<key>dieresismacron</key>
	<string>dieresismacron.glif</string>
	<key>dieresismacron.case</key>
	<string>dieresismacron.case.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dong</key>
	<string>dong.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccent.case</key>
	<string>dotaccent.case.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>dotbelowcomb</key>
	<string>dotbelowcomb.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dotlessj</key>
	<string>dotlessj.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>ecircumflexacute</key>
	<string>ecircumflexacute.glif</string>
	<key>ecircumflexdotbelow</key>
	<string>ecircumflexdotbelow.glif</string>
	<key>ecircumflexgrave</key>
	<string>ecircumflexgrave.glif</string>
	<key>ecircumflexhook</key>
	<string>ecircumflexhook.glif</string>
	<key>ecircumflextilde</key>
	<string>ecircumflextilde.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>edotbelow</key>
	<string>edotbelow.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>ehook</key>
	<string>ehook.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>eight.numr</key>
	<string>eight.numr.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>etilde</key>
	<string>etilde.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.dnom</key>
	<string>five.dnom.glif</string>
	<key>five.numr</key>
	<string>five.numr.glif</string>
	<key>fiveinferior</key>
	<string>fiveinferior.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>four.numr</key>
	<string>four.numr.glif</string>
	<key>fourinferior</key>
	<string>fourinferior.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt01</key>
	<string>g.alt01.glif</string>
	<key>g.alt02</key>
	<string>g.alt02.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gbreve.alt01</key>
	<string>gbreve.alt01.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>gcircumflex.alt01</key>
	<string>gcircumflex.alt01.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gcommaaccent.alt01</key>
	<string>gcommaaccent.alt01.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>gdotaccent.alt01</key>
	<string>gdotaccent.alt01.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.alt01</key>
	<string>germandbls.alt01.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave.case</key>
	<string>grave.case.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guarani</key>
	<string>guarani.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>hookcomb</key>
	<string>hookcomb.glif</string>
	<key>hookcomb.case</key>
	<string>hookcomb.case.glif</string>
	<key>horncomb</key>
	<string>horncomb.glif</string>
	<key>hryvnia</key>
	<string>hryvnia.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlaut.case</key>
	<string>hungarumlaut.case.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>ibmlogo07</key>
	<string>ibmlogo07.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idotbelow</key>
	<string>idotbelow.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ihook</key>
	<string>ihook.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>ijacute</key>
	<string>ijacute.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jacute</key>
	<string>jacute.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>kip</key>
	<string>kip.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lira</key>
	<string>lira.glif</string>
	<key>liraturkish</key>
	<string>liraturkish.glif</string>
	<key>litre</key>
	<string>litre.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macron.case</key>
	<string>macron.case.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>naira</key>
	<string>naira.glif</string>
	<key>napostrophe</key>
	<string>napostrophe.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.dnom</key>
	<string>nine.dnom.glif</string>
	<key>nine.numr</key>
	<string>nine.numr.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numerosign</key>
	<string>numerosign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>ocircumflexacute</key>
	<string>ocircumflexacute.glif</string>
	<key>ocircumflexdotbelow</key>
	<string>ocircumflexdotbelow.glif</string>
	<key>ocircumflexgrave</key>
	<string>ocircumflexgrave.glif</string>
	<key>ocircumflexhook</key>
	<string>ocircumflexhook.glif</string>
	<key>ocircumflextilde</key>
	<string>ocircumflextilde.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>odotbelow</key>
	<string>odotbelow.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohook</key>
	<string>ohook.glif</string>
	<key>ohorn</key>
	<string>ohorn.glif</string>
	<key>ohornacute</key>
	<string>ohornacute.glif</string>
	<key>ohorndotbelow</key>
	<string>ohorndotbelow.glif</string>
	<key>ohorngrave</key>
	<string>ohorngrave.glif</string>
	<key>ohornhook</key>
	<string>ohornhook.glif</string>
	<key>ohorntilde</key>
	<string>ohorntilde.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>oslashacute</key>
	<string>oslashacute.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>peso</key>
	<string>peso.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ring.case</key>
	<string>ring.case.glif</string>
	<key>ringacute</key>
	<string>ringacute.glif</string>
	<key>ringacute.case</key>
	<string>ringacute.case.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>rupee</key>
	<string>rupee.glif</string>
	<key>rupeeindian</key>
	<string>rupeeindian.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>schwa</key>
	<string>schwa.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.dnom</key>
	<string>seven.dnom.glif</string>
	<key>seven.numr</key>
	<string>seven.numr.glif</string>
	<key>seveninferior</key>
	<string>seveninferior.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>sheqel</key>
	<string>sheqel.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.dnom</key>
	<string>six.dnom.glif</string>
	<key>six.numr</key>
	<string>six.numr.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>tenge</key>
	<string>tenge.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>three.numr</key>
	<string>three.numr.glif</string>
	<key>threeinferior</key>
	<string>threeinferior.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tilde.alt01</key>
	<string>tilde.alt01.glif</string>
	<key>tilde.alt01.case</key>
	<string>tilde.alt01.case.glif</string>
	<key>tilde.case</key>
	<string>tilde.case.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tugrik</key>
	<string>tugrik.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>two.numr</key>
	<string>two.numr.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udotbelow</key>
	<string>udotbelow.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhook</key>
	<string>uhook.glif</string>
	<key>uhorn</key>
	<string>uhorn.glif</string>
	<key>uhornacute</key>
	<string>uhornacute.glif</string>
	<key>uhorndotbelow</key>
	<string>uhorndotbelow.glif</string>
	<key>uhorngrave</key>
	<string>uhorngrave.glif</string>
	<key>uhornhook</key>
	<string>uhornhook.glif</string>
	<key>uhorntilde</key>
	<string>uhorntilde.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0400</key>
	<string>uni0400.glif</string>
	<key>uni0401</key>
	<string>uni0401.glif</string>
	<key>uni0402</key>
	<string>uni0402.glif</string>
	<key>uni0403</key>
	<string>uni0403.glif</string>
	<key>uni0404</key>
	<string>uni0404.glif</string>
	<key>uni0405</key>
	<string>uni0405.glif</string>
	<key>uni0406</key>
	<string>uni0406.glif</string>
	<key>uni0407</key>
	<string>uni0407.glif</string>
	<key>uni0408</key>
	<string>uni0408.glif</string>
	<key>uni0409</key>
	<string>uni0409.glif</string>
	<key>uni040A</key>
	<string>uni040A_.glif</string>
	<key>uni040B</key>
	<string>uni040B_.glif</string>
	<key>uni040C</key>
	<string>uni040C_.glif</string>
	<key>uni040D</key>
	<string>uni040D_.glif</string>
	<key>uni040E</key>
	<string>uni040E_.glif</string>
	<key>uni040F</key>
	<string>uni040F_.glif</string>
	<key>uni0410</key>
	<string>uni0410.glif</string>
	<key>uni0411</key>
	<string>uni0411.glif</string>
	<key>uni0412</key>
	<string>uni0412.glif</string>
	<key>uni0413</key>
	<string>uni0413.glif</string>
	<key>uni0414</key>
	<string>uni0414.glif</string>
	<key>uni0415</key>
	<string>uni0415.glif</string>
	<key>uni0416</key>
	<string>uni0416.glif</string>
	<key>uni0417</key>
	<string>uni0417.glif</string>
	<key>uni0418</key>
	<string>uni0418.glif</string>
	<key>uni0419</key>
	<string>uni0419.glif</string>
	<key>uni041A</key>
	<string>uni041A_.glif</string>
	<key>uni041B</key>
	<string>uni041B_.glif</string>
	<key>uni041C</key>
	<string>uni041C_.glif</string>
	<key>uni041D</key>
	<string>uni041D_.glif</string>
	<key>uni041E</key>
	<string>uni041E_.glif</string>
	<key>uni041F</key>
	<string>uni041F_.glif</string>
	<key>uni0420</key>
	<string>uni0420.glif</string>
	<key>uni0421</key>
	<string>uni0421.glif</string>
	<key>uni0422</key>
	<string>uni0422.glif</string>
	<key>uni0423</key>
	<string>uni0423.glif</string>
	<key>uni0424</key>
	<string>uni0424.glif</string>
	<key>uni0425</key>
	<string>uni0425.glif</string>
	<key>uni0426</key>
	<string>uni0426.glif</string>
	<key>uni0427</key>
	<string>uni0427.glif</string>
	<key>uni0428</key>
	<string>uni0428.glif</string>
	<key>uni0429</key>
	<string>uni0429.glif</string>
	<key>uni042A</key>
	<string>uni042A_.glif</string>
	<key>uni042B</key>
	<string>uni042B_.glif</string>
	<key>uni042C</key>
	<string>uni042C_.glif</string>
	<key>uni042D</key>
	<string>uni042D_.glif</string>
	<key>uni042E</key>
	<string>uni042E_.glif</string>
	<key>uni042F</key>
	<string>uni042F_.glif</string>
	<key>uni0430</key>
	<string>uni0430.glif</string>
	<key>uni0430.alt01</key>
	<string>uni0430.alt01.glif</string>
	<key>uni0431</key>
	<string>uni0431.glif</string>
	<key>uni0432</key>
	<string>uni0432.glif</string>
	<key>uni0433</key>
	<string>uni0433.glif</string>
	<key>uni0434</key>
	<string>uni0434.glif</string>
	<key>uni0435</key>
	<string>uni0435.glif</string>
	<key>uni0436</key>
	<string>uni0436.glif</string>
	<key>uni0437</key>
	<string>uni0437.glif</string>
	<key>uni0438</key>
	<string>uni0438.glif</string>
	<key>uni0439</key>
	<string>uni0439.glif</string>
	<key>uni043A</key>
	<string>uni043A_.glif</string>
	<key>uni043B</key>
	<string>uni043B_.glif</string>
	<key>uni043C</key>
	<string>uni043C_.glif</string>
	<key>uni043D</key>
	<string>uni043D_.glif</string>
	<key>uni043E</key>
	<string>uni043E_.glif</string>
	<key>uni043F</key>
	<string>uni043F_.glif</string>
	<key>uni0440</key>
	<string>uni0440.glif</string>
	<key>uni0441</key>
	<string>uni0441.glif</string>
	<key>uni0442</key>
	<string>uni0442.glif</string>
	<key>uni0443</key>
	<string>uni0443.glif</string>
	<key>uni0444</key>
	<string>uni0444.glif</string>
	<key>uni0445</key>
	<string>uni0445.glif</string>
	<key>uni0446</key>
	<string>uni0446.glif</string>
	<key>uni0447</key>
	<string>uni0447.glif</string>
	<key>uni0448</key>
	<string>uni0448.glif</string>
	<key>uni0449</key>
	<string>uni0449.glif</string>
	<key>uni044A</key>
	<string>uni044A_.glif</string>
	<key>uni044B</key>
	<string>uni044B_.glif</string>
	<key>uni044C</key>
	<string>uni044C_.glif</string>
	<key>uni044D</key>
	<string>uni044D_.glif</string>
	<key>uni044E</key>
	<string>uni044E_.glif</string>
	<key>uni044F</key>
	<string>uni044F_.glif</string>
	<key>uni0450</key>
	<string>uni0450.glif</string>
	<key>uni0451</key>
	<string>uni0451.glif</string>
	<key>uni0452</key>
	<string>uni0452.glif</string>
	<key>uni0453</key>
	<string>uni0453.glif</string>
	<key>uni0454</key>
	<string>uni0454.glif</string>
	<key>uni0455</key>
	<string>uni0455.glif</string>
	<key>uni0456</key>
	<string>uni0456.glif</string>
	<key>uni0457</key>
	<string>uni0457.glif</string>
	<key>uni0458</key>
	<string>uni0458.glif</string>
	<key>uni0459</key>
	<string>uni0459.glif</string>
	<key>uni045A</key>
	<string>uni045A_.glif</string>
	<key>uni045B</key>
	<string>uni045B_.glif</string>
	<key>uni045C</key>
	<string>uni045C_.glif</string>
	<key>uni045D</key>
	<string>uni045D_.glif</string>
	<key>uni045E</key>
	<string>uni045E_.glif</string>
	<key>uni045F</key>
	<string>uni045F_.glif</string>
	<key>uni0472</key>
	<string>uni0472.glif</string>
	<key>uni0473</key>
	<string>uni0473.glif</string>
	<key>uni0490</key>
	<string>uni0490.glif</string>
	<key>uni0491</key>
	<string>uni0491.glif</string>
	<key>uni0492</key>
	<string>uni0492.glif</string>
	<key>uni0493</key>
	<string>uni0493.glif</string>
	<key>uni0494</key>
	<string>uni0494.glif</string>
	<key>uni0495</key>
	<string>uni0495.glif</string>
	<key>uni0496</key>
	<string>uni0496.glif</string>
	<key>uni0497</key>
	<string>uni0497.glif</string>
	<key>uni0498</key>
	<string>uni0498.glif</string>
	<key>uni0499</key>
	<string>uni0499.glif</string>
	<key>uni049A</key>
	<string>uni049A_.glif</string>
	<key>uni049B</key>
	<string>uni049B_.glif</string>
	<key>uni049C</key>
	<string>uni049C_.glif</string>
	<key>uni049D</key>
	<string>uni049D_.glif</string>
	<key>uni04A0</key>
	<string>uni04A0_.glif</string>
	<key>uni04A1</key>
	<string>uni04A1_.glif</string>
	<key>uni04A2</key>
	<string>uni04A2_.glif</string>
	<key>uni04A3</key>
	<string>uni04A3_.glif</string>
	<key>uni04A4</key>
	<string>uni04A4_.glif</string>
	<key>uni04A5</key>
	<string>uni04A5_.glif</string>
	<key>uni04AA</key>
	<string>uni04AA__.glif</string>
	<key>uni04AB</key>
	<string>uni04AB__.glif</string>
	<key>uni04AE</key>
	<string>uni04AE__.glif</string>
	<key>uni04AF</key>
	<string>uni04AF__.glif</string>
	<key>uni04B0</key>
	<string>uni04B0_.glif</string>
	<key>uni04B1</key>
	<string>uni04B1_.glif</string>
	<key>uni04B2</key>
	<string>uni04B2_.glif</string>
	<key>uni04B3</key>
	<string>uni04B3_.glif</string>
	<key>uni04B6</key>
	<string>uni04B6_.glif</string>
	<key>uni04B7</key>
	<string>uni04B7_.glif</string>
	<key>uni04B8</key>
	<string>uni04B8_.glif</string>
	<key>uni04B9</key>
	<string>uni04B9_.glif</string>
	<key>uni04BA</key>
	<string>uni04BA__.glif</string>
	<key>uni04BB</key>
	<string>uni04BB__.glif</string>
	<key>uni04C0</key>
	<string>uni04C0_.glif</string>
	<key>uni04C1</key>
	<string>uni04C1_.glif</string>
	<key>uni04C2</key>
	<string>uni04C2_.glif</string>
	<key>uni04CF</key>
	<string>uni04CF__.glif</string>
	<key>uni04D0</key>
	<string>uni04D0_.glif</string>
	<key>uni04D1</key>
	<string>uni04D1_.glif</string>
	<key>uni04D1.alt01</key>
	<string>uni04D1_.alt01.glif</string>
	<key>uni04D2</key>
	<string>uni04D2_.glif</string>
	<key>uni04D3</key>
	<string>uni04D3_.glif</string>
	<key>uni04D3.alt01</key>
	<string>uni04D3_.alt01.glif</string>
	<key>uni04D4</key>
	<string>uni04D4_.glif</string>
	<key>uni04D5</key>
	<string>uni04D5_.glif</string>
	<key>uni04D6</key>
	<string>uni04D6_.glif</string>
	<key>uni04D7</key>
	<string>uni04D7_.glif</string>
	<key>uni04D8</key>
	<string>uni04D8_.glif</string>
	<key>uni04D9</key>
	<string>uni04D9_.glif</string>
	<key>uni04DC</key>
	<string>uni04DC__.glif</string>
	<key>uni04DD</key>
	<string>uni04DD__.glif</string>
	<key>uni04DE</key>
	<string>uni04DE__.glif</string>
	<key>uni04DF</key>
	<string>uni04DF__.glif</string>
	<key>uni04E2</key>
	<string>uni04E2_.glif</string>
	<key>uni04E3</key>
	<string>uni04E3_.glif</string>
	<key>uni04E4</key>
	<string>uni04E4_.glif</string>
	<key>uni04E5</key>
	<string>uni04E5_.glif</string>
	<key>uni04E6</key>
	<string>uni04E6_.glif</string>
	<key>uni04E7</key>
	<string>uni04E7_.glif</string>
	<key>uni04E8</key>
	<string>uni04E8_.glif</string>
	<key>uni04E9</key>
	<string>uni04E9_.glif</string>
	<key>uni04EE</key>
	<string>uni04EE__.glif</string>
	<key>uni04EF</key>
	<string>uni04EF__.glif</string>
	<key>uni04F0</key>
	<string>uni04F0_.glif</string>
	<key>uni04F1</key>
	<string>uni04F1_.glif</string>
	<key>uni04F2</key>
	<string>uni04F2_.glif</string>
	<key>uni04F3</key>
	<string>uni04F3_.glif</string>
	<key>uni04F4</key>
	<string>uni04F4_.glif</string>
	<key>uni04F5</key>
	<string>uni04F5_.glif</string>
	<key>uni04F8</key>
	<string>uni04F8_.glif</string>
	<key>uni04F9</key>
	<string>uni04F9_.glif</string>
	<key>uni2150</key>
	<string>uni2150.glif</string>
	<key>uni2151</key>
	<string>uni2151.glif</string>
	<key>uni2153</key>
	<string>uni2153.glif</string>
	<key>uni2154</key>
	<string>uni2154.glif</string>
	<key>uni2155</key>
	<string>uni2155.glif</string>
	<key>uni2156</key>
	<string>uni2156.glif</string>
	<key>uni2157</key>
	<string>uni2157.glif</string>
	<key>uni2158</key>
	<string>uni2158.glif</string>
	<key>uni2159</key>
	<string>uni2159.glif</string>
	<key>uni215A</key>
	<string>uni215A_.glif</string>
	<key>uni215B</key>
	<string>uni215B_.glif</string>
	<key>uni215C</key>
	<string>uni215C_.glif</string>
	<key>uni215D</key>
	<string>uni215D_.glif</string>
	<key>uni215E</key>
	<string>uni215E_.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>won</key>
	<string>won.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydotbelow</key>
	<string>ydotbelow.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>yhook</key>
	<string>yhook.glif</string>
	<key>ytilde</key>
	<string>ytilde.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.alt01</key>
	<string>zero.alt01.glif</string>
	<key>zero.alt02</key>
	<string>zero.alt02.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
	<key>zero.numr</key>
	<string>zero.numr.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
</dict>
</plist>
